// #comp_1686913241235 {
//     .main-container {
//         width: 90vw;
//     }
.blog-srp.main-container {
    width: 90vw !important;

    .filter-ttl {
        .glyphicon {
            color: var(--white);
        }
    }

    #products {
        width: 90vw;
        justify-content: space-between;
        padding: 2vw 0;

        .row.sortby-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            display: none;

            h4 {}

            .order {}

            .orderAD {}

            .ads-per-page {}

            span.text-center {}

            .col-sm-1.my-3.hidden-xs {
                display: none;
            }
        }

        .item.list-group-item {
            .thumb {
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
                background-color: var(--white);

                .title-specs {
                    .list-title {
                        .model-title-link {
                            color: var(--main-font-color);
                        }
                    }

                    .date-row {
                        .blog-date {}

                        .blog-author {}
                    }
                }

                .cta-btns {
                    .View-Details {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: var(--gray-8) !important;
                        color: var(--main-font-color) !important;
                        border: 1px solid var(--gray-2) !important;
                        height: 4vw;
                        padding: 8px 5px;
                        margin: 5px;
                        font-weight: 700;
                        border-radius: 0px !important;
                        font-size: 1.2vw;
                        transition: all ease-in-out 0.2s;
                        display: none;

                        span {
                            transition: all ease-in-out 0.2s;
                        }

                        &:hover {
                            color: var(--white) !important;
                            background-color: var(--main-color) !important;

                            span {
                                background-color: var(--main-color) !important;
                            }
                        }
                    }
                }
            }
        }

        .item.grid-group-item {
            width: 32%;

            .thumb {
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
                height: 95%;
                padding: 0;
                background-color: var(--white);

                .img-event {
                    height: auto;

                    .thumbnail-container {
                        a {
                            img {
                                width: 100%;
                            }
                        }
                    }
                }

                .caption {
                    .grid-title {
                        padding: 0 1vw;
                        color: var(--black);

                        a {
                            color: var(--main-color);
                            font-weight: 700;
                            text-transform: uppercase;
                            font-size: 1.5277777777778vw;
                        }
                    }

                    hr {
                        display: none;
                    }

                    .title-specs {
                        padding: 0 1vw;

                        .date-row {
                            display: flex;
                            flex-direction: column;
                            font-size: 0;
                            display: none;

                            .blog-date {
                                font-size: 0.9vw;
                            }

                            .blog-author {
                                font-size: 1.15vw;
                                font-weight: bold;
                            }
                        }

                        .comment {
                            p {
                                font-size: 1.1111111111111vw;
                            }
                        }
                    }

                    .cta-btns {
                        .View-Details {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: var(--gray-8) !important;
                            color: var(--main-font-color) !important;
                            border: 1px solid var(--gray-2) !important;
                            height: 4vw;
                            padding: 8px 5px;
                            margin: 5px;
                            font-weight: 700;
                            border-radius: 0px !important;
                            font-size: 1.2vw;
                            transition: all ease-in-out 0.2s;
                            display: none;

                            span {
                                transition: all ease-in-out 0.2s;
                            }

                            &:hover {
                                color: var(--white) !important;
                                background-color: var(--main-color) !important;

                                span {
                                    background-color: var(--main-color) !important;
                                }
                            }
                        }
                    }
                }

                .Read-bg {
                    display: none;
                }
            }
        }
    }

    @media screen and (max-width: 767px) {
        #products {
            width: 90vw;

            .row.sortby-row {
                flex-wrap: wrap;

                h4 {}

                .order {}

                .orderAD {}

                .ads-per-page {}

                span.text-center {}

                .col-sm-1.my-3.hidden-xs {
                    display: none;
                }
            }

            .item.list-group-item {
                .thumb {
                    .title-specs {
                        .list-title {
                            .model-title-link {
                                color: var(--main-font-color);
                            }
                        }

                        .date-row {
                            .blog-date {}

                            .blog-author {}
                        }
                    }

                    .cta-btns {
                        .View-Details {
                            height: 40px;
                            font-size: 16px;

                            span {}

                            &:hover {
                                span {}
                            }
                        }
                    }
                }
            }

            .item.grid-group-item {
                width: 100%;

                .thumb {
                    .img-event {
                        height: auto;

                        .thumbnail-container {
                            a {
                                img {}
                            }
                        }
                    }

                    .caption {
                        .grid-title {}

                        .title-specs {
                            .date-row {
                                .blog-date {
                                    font-size: 14px;
                                }

                                .blog-author {
                                    font-size: 16px;
                                }
                            }

                            .comment {
                                p {
                                    font-size: 14px;
                                }
                            }
                        }

                        .cta-btns {
                            .View-Details {
                                height: 40px;
                                font-size: 16px;

                                span {}

                                &:hover {
                                    span {}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// }