.location-hours-page {
    div[class^='col-'] {
        >div {
            height: 100%;
            img._banner {
                width: 100%;
            }
            .panel-default {
                height: 100%;
            }
        }
    }
    .location-panel,
    .hours-panel {
        border-radius: 0;
        .panel-heading {
            background-color: var(--black);
            background-image: none;
            color: var(--white);
            padding: 0.75vw 1vw;
            border-radius: 0;
            @media screen and (max-width: 767px) {
                padding: 20px 10px;
                .panel-title {
                    font-size: 22px;
                }
            }
            .panel-title {
                font-size: 1.5277777777778vw;
                font-weight: 700;
                text-transform: uppercase;
                strong {
                    font-weight: inherit
                }
                @media screen and (max-width: 767px) {
                    font-size: 20px;
                }
            }
        }
        .panel-body {
            ._hours-content {
                display: flex;
                flex-wrap: wrap;
                h4 {
                    font-weight: 700;
                    font-size: 1.25vw;
                }
                ul {
                    display: flex;
                    flex-direction: column;
                    padding: 0;
                    li {
                        display: flex;
                        flex-direction: column;
                        font-weight: 400;
                        font-size: 1.0416666666667vw;
                        margin-bottom: 0.5vw;
                        span {}
                    }
                }
            }
            ._location-content {
                p {
                    font-size: 1.0416666666667vw;
                    color: var(--gray-9);
                    a {
                        color: var(--gray-9);
                    }
                    &.flex-row {
                        a {
                            border: 2px solid var(--main-color);
                            color: var(--black);
                            font-weight: bold;
                            font-size: 1.1111111111111vw;
                        }
                    }
                }
            }
            ._holiday-content {
                ul {
                    display: flex;
                    flex-direction: column;
                    padding: 0;
                    margin: 0;
                    li {
                        display: flex;
                        justify-content: space-between;
                        color: var(--gray-9);
                        font-weight: 400;
                        font-size: 1.0416666666667vw;
                        padding: 1vw 0;
                        border-bottom: 1px solid var(--gray-8);
                        &:last-child {
                            border-bottom: 0;
                            padding: 1vw 0 0 0;
                        }
                        span {
                            &:first-child {
                                text-align: center;
                                flex: 1;
                            }
                        }
                    }
                }
            }
            ._logos-content {
                ul {
                    padding: 0;
                    margin: 0;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;
                    li {
                        flex: 0 1 22%;
                        padding: 1vw;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .map-panel {
        min-height: 95%;
        position: relative;
        @media screen and (max-width: 991px) {
            height: 30vw;
            width: 100%;
        }
        .panel-body {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0;
            height: 100%;
            @media screen and (max-width: 991px) {
                height: 30vw;
                width: 100%;
            }
            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }
    @media screen and (max-width: 767px) {
        div[class^='col-'] {
            >div {
                height: 100%;
                img._banner {
                    width: 100%;
                }
                .panel-default {
                    height: 100%;
                }
            }
        }
        .location-panel,
        .hours-panel {
            border-radius: 0;
            .panel-heading {
                background-color: var(--black);
                background-image: none;
                color: var(--white);
                padding: 0.75vw 1vw;
                border-radius: 0;
                @media screen and (max-width: 767px) {
                    padding: 20px 10px;
                    .panel-title {
                        font-size: 22px;
                    }
                }
                .panel-title {
                    font-size: 1.5277777777778vw;
                    font-weight: 700;
                    text-transform: uppercase;
                    strong {
                        font-weight: inherit
                    }
                    @media screen and (max-width: 767px) {
                        font-size: 20px;
                    }
                }
            }
            .panel-body {
                ._hours-content {
                    display: flex;
                    flex-wrap: wrap;
                    h4 {
                        font-weight: 700;
                        font-size: 18px;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        padding: 0;
                        li {
                            display: flex;
                            flex-direction: column;
                            font-weight: 400;
                            font-size: 14px;
                            margin-bottom: 0.5vw;
                        }
                    }
                }
                ._location-content {
                    p {
                        font-size: 16px;
                        // color: var(--gray-9);
                        a {
                            // color: var(--gray-9);
                        }
                        &.flex-row {
                            flex-direction: column;
                            a {
                                font-size: 14px;
                            }
                        }
                    }
                }
                ._holiday-content {
                    ul {
                        // display: flex;
                        // flex-direction: column;
                        // padding: 0;
                        // margin: 0;
                        li {
                            font-size: 14px;
                            align-items: center;
                            span {
                                &:first-child {
                                    text-align: left;
                                }
                                &:last-child {
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
                ._logos-content {
                    ul {
                        padding: 0;
                        margin: 0;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        li {
                            flex: 0 1 30%;
                            padding: 10px;
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .map-panel {
            min-height: 250px;
            position: relative;
            @media screen and (max-width: 991px) {
                // height: 30vw;
                width: 100%;
            }
            .panel-body {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 0;
                height: 100%;
                @media screen and (max-width: 991px) {
                    // height: 30vw;
                    width: 100%;
                }
                iframe {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}