.ad-details-content.container-fluid {
    padding: 10px;
    width: 90%;
    margin: 2vw auto;
    font-family: var(--main-font) !important;

    >.row {
        border: 1px solid #ddd;
        display: flex;
        align-items: center;
        padding: 1vw 0.5vw;
    }

    >.model-title {
        display: none;
    }

    >.stock-num-box {}

    >.gallery-price-setion {
        display: none;
    }

    >.container-fluid {}
}