- var pageTitle = 'About'
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        include pug/layout/styles
        title #{pageTitle}
    body 
        .page-wrapper.about-page
            include pug/layout/sidebar
            include pug/layout/navbar
            main.page-content
                .container
                    .row.rtl                            
                        .col-md-6
                            .about-breif
                                h4.my-3 من نحن
                                p.my-3 تضم منصة برنت مقدمي خدمات الطباعة في كافة مدن المملكة لتسهيل عملية الطباعة بجودة عالية وسعر مميز مع خدمة التوصيل لباب المنزل تضم منصة برنت مقدمي خدمات الطباعة في كافة مدن المملكة لتسهيل عملية الطباعة بجودة عالية وسعر مميز مع خدمة التوصيل لباب المنزل
                                    

                                
                        .col-md-6.text-center
                            .store-image.text-center
                                img(src="./images/home/sub-4-1.png", alt="", srcset="")

                        .col-md-6.my-5
                            .about-breif
                                h4.my-3 رؤيتنا
                                p.my-3 تضم منصة برنت مقدمي خدمات الطباعة في كافة مدن المملكة لتسهيل عملية الطباعة بجودة عالية وسعر مميز مع خدمة التوصيل لباب المنزل تضم منصة برنت مقدمي خدمات الطباعة في كافة مدن المملكة لتسهيل عملية الطباعة بجودة عالية وسعر مميز مع خدمة التوصيل لباب المنزل
                                    

                        .col-md-6.my-5
                            .about-breif
                                h4.my-3 رسالتنا
                                p.my-3 تضم منصة برنت مقدمي خدمات الطباعة في كافة مدن المملكة لتسهيل عملية الطباعة بجودة عالية وسعر مميز مع خدمة التوصيل لباب المنزل تضم منصة برنت مقدمي خدمات الطباعة في كافة مدن المملكة لتسهيل عملية الطباعة بجودة عالية وسعر مميز مع خدمة التوصيل لباب المنزل
                                    

                        
                                    
            include pug/layout/footer           
        include pug/layout/js