- var pageTitle = 'Account - Order Details'
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        include pug/layout/styles
        title #{pageTitle}
    body 
        .page-wrapper.order-details-page
            include pug/layout/sidebar
            include pug/layout/navbar
            main.page-content
                .container
                    .row
                        .col-md-12
                            .spo-container.rtl
                                h4.sec-font.my-3 حسابي
                                .inner-menu-container
                                    include pug/components/user-inner-menu
                                    .inner-menu-content
                                        include pug/components/user-top-tabs
                                        .back-to
                                            a(href="")
                                                span.arrow <i class="fas fa-long-arrow-alt-right"></i>
                                                | الرجوع إلى طلباتي
                                        .box-shadow.mb-3.white-bg
                                            .order-container
                                                h1 #523
                                                p.breif
                                                    | تفاصيل الطلب
                                                    span طباعة 100 ورقة ديجيتال
                                                
                                                .more-detals
                                                    p
                                                        | رقم الطلب
                                                        span 520
                                                    p
                                                        | الحالة
                                                        span.rounded قيد التنفبذ 
                                                    p
                                                        | المبلغ
                                                        span 520 ر.س
                                                    p
                                                        | التاريخ
                                                        span 2020/04/20 


                                                .print 
                                                    | طباعة الفاتورة
                                                    span <i class="fas fa-2x fa-print"></i>
                                                button.track-btn.btn.btn-primary.btn-sm تتبع مسار الطلب

            include pug/layout/footer           
        include pug/layout/js