._main_section {
    ._top {
        display: flex;
        background-color: var(--gray-19);

        a {
            color: var(--white);
            font-weight: 700;
            font-size: 1.5277777777778vw;
            flex: 1;
            padding: 1vw;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;

            img {
                width: 2vw;
                margin-right: 1vw;
            }

            span {}
        }
    }

    ._bottom {
        ._home_welcome {
            display: flex;
            flex-wrap: wrap;

            .content {
                width: 50%;
                padding: 4vw 3vw;
                display: flex;
                flex-direction: column;

                h1 {
                    font-family: var(--main-font);
                    color: var(--black);
                    font-weight: 800;
                    font-size: 3.4722222222222vw;
                    text-transform: uppercase;
                    margin: 0;
                }

                h3 {
                    font-family: var(--main-font);
                    color: var(--gray-18);
                    font-weight: 600;
                    font-size: 2.0833333333333vw;
                    margin: 0;
                }

                p {
                    font-weight: 400;
                    font-size: 1.1111111111111vw;
                    color: var(--black);
                    margin: 2vw 0;
                }

                a {
                    color: var(--white);
                    background-color: var(--main-color);
                    padding: 1vw;
                    margin: 2vw 0vw 0vw 0vw;
                    width: 33%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.25vw;
                    font-weight: 700;
                }
            }

            img {
                width: 50%
            }
        }
    }

    @media screen and (max-width: 767px) {
        ._top {
            flex-wrap: wrap;

            a {
                font-weight: 700;
                font-size: 18px;
                flex: 1 1 100%;
                padding: 5vw;

                &:first-child {
                    border-bottom: 1px solid var(--gray-18);
                }

                img {
                    width: 25px;
                    margin-right: 1vw;
                }

                span {}
            }
        }

        ._bottom {
            ._home_welcome {
                .content {
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    padding: 5vw 5vw;

                    h1 {
                        font-size: 30px;
                        text-align: center;
                    }

                    h3 {
                        font-size: 20px;
                        text-align: center;
                    }

                    p {
                        font-size: 16px;
                    }

                    img {
                        width: 100%;
                    }

                    a {
                        color: var(--white);
                        background-color: var(--main-color);
                        padding: 3vw;
                        margin: 5vw 0vw 0vw 0vw;
                        width: 45%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 16px;
                    }
                }

                img {
                    display: none;
                }
            }
        }
    }
}

.__home_welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    padding: 3vw 5vw;

    h1 {
        font-family: var(--main-font);
        color: var(--black);
        font-weight: 800;
        font-size: 3.4722222222vw;
        text-transform: uppercase;
        margin: 0;
    }

    h3 {
        font-family: var(--main-font);
        color: var(--gray-18);
        font-weight: 600;
        font-size: 2.0833333333vw;
        margin: 0;
    }

    p {
        font-weight: 400;
        font-size: 1.1111111111vw;
        color: var(--black);
        margin: 2vw 0;
    }

    @media screen and (max-width: 767px) {
        h1 {
            font-size: 30px;
            text-align: center;
        }

        h3 {
            font-size: 20px;
            text-align: center;
        }

        p {
            font-size: 16px;
        }
    }
}