._Our-Story {
    .container-90 {
        .boxes {
            display: flex;
            flex-direction: column;

            .box {
                @extend ._brd-box;
                @extend .thin;
                @extend .lbs;
                margin-bottom: 1vw;
                display: flex;
                justify-content: space-between;

                div {
                    padding: 1vw 2vw;
                    width: 100%;

                    h1 {
                        font-size: 2.5vw;
                        font-weight: 600;
                        color: var(--main-font-color);
                        font-family: var(--secondary-font);
                    }

                    h4 {
                        font-size: 1.3888888888889vw;
                        font-weight: 600;
                        color: var(--main-font-color);
                        font-family: var(--main-font);

                        span {
                            font-weight: 600;
                            color: var(--main-color);
                        }

                        a {
                            color: inherit;
                            text-decoration: underline;
                            transition: all ease-in-out 0.25s;

                            &:hover {
                                color: var(--main-color);
                            }
                        }
                    }

                    p {
                        font-size: 1.1111111111111vw;
                        color: var(--main-font-color);
                        font-family: var(--main-font);
                        font-weight: 400;

                        span {
                            &.crossline {
                                font-weight: bold;
                                font-size: 150%;
                                text-decoration: line-through;

                            }

                            &.red {
                                color: var(--main-color);
                                font-weight: bold;
                            }
                        }
                    }
                }

            }
        }

        .right-container {
            .gray-bg {
                background-color: transparent !important;
                margin-bottom: 1vw;

                >img {
                    &:nth-child(0) {}

                }

                >p {
                    max-width: 70%;
                    margin: auto;
                }
            }
        }
    }

    @media screen and (max-width: 767px) {
        .container-90 {
            .boxes {

                .box {
                    flex-direction: column;

                    div {
                        padding: 1vw 2vw;
                        width: 100%;

                        h1 {
                            font-size: 40px
                        }

                        h4 {
                            font-size: 20px;

                            span {
                                font-weight: 600;
                                color: var(--main-color);
                            }

                            a {
                                color: inherit;
                                text-decoration: underline;
                                transition: all ease-in-out 0.25s;

                                &:hover {
                                    color: var(--main-color);
                                }
                            }
                        }

                        p {
                            font-size: 18px;
                            color: var(--main-font-color);
                            font-family: var(--main-font);
                        }

                        img {
                            width: 100%;
                        }
                    }

                }
            }

            .right-container {
                .gray-bg {
                    background-color: transparent !important;
                    margin-bottom: 15px;

                    >img {
                        &:nth-child(0) {}

                    }

                    >p {}
                }
            }
        }
    }

}