.header-icon {
  text-align: right;
  width: 4vw;
  height: 4vw;
  font-size: 1.75vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  border: 1px solid var(--gray-3);
  background-color: var(--main-color);
  color: var(--white);
  border-radius: 5px;
}

#HeaderDiv {
  .header-1-nav {
    padding: 0;

    &.sticky-header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 999;

      .top {
        display: none;
      }
    }

    .top {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5vw 0;
      background-color: var(--white);
      // background-image: url(/site-uploads/1001341/images/top-bar-background.jpg);
      background-position: center;
      background-size: cover;

      @media screen and (max-width: 767px) {
        background-position: 90% 0%;
        padding: 10px 15px;
      }

      .container {
        padding: 0;
        width: 92vw;

        .logos {
          padding: 0;
          display: flex;
          align-items: center;

          @media screen and (min-width: 768px) {
            border-left: 1px solid #CFCFCF;
            border-right: 1px solid #CFCFCF;
          }

          >div {
            padding: 0;

            img {
              width: 30vw;
              max-width: 350px;

              @media screen and (max-width: 767px) {
                width: 175px;
              }

              @media screen and (max-width: 420px) {
                width: 130px;
              }
            }
          }
        }

        .weather {
          display: flex;
          flex-direction: column;
          // align-items: center;
          justify-content: center;

          .logo-links {
            display: flex;
            margin-top: 1vw;
            align-items: center;
            flex: 1;
          }

          .icon {
            margin: 0 !important;
          }
        }

        .lg-content {
          padding: 0.5vw 0;

          div[class^="col-"] {
            // border-left: 1px solid #CFCFCF;
            height: 100%;
            padding: 1vw 0;

            &:first-child {
              border: 0;
            }
          }

          .item {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
            padding: 0 0.25vw;

            a {
              // align-self: flex-end;
              text-decoration: none;
              display: flex;
              width: 100%;
              text-align: right;
              // align-items: center;
              justify-content: space-between;
              color: var(--black);

              span {
                &.icon {
                  @extend .header-icon;
                }
              }
            }

            .houers {
              .toggle-hours-list {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .icon {
                  @extend .header-icon;
                }

                .content {
                  display: flex;
                  flex-direction: column;

                  span {
                    color: var(--black);

                    &:nth-child(1) {
                      text-transform: uppercase;
                      font-size: 1vw;
                      font-weight: bold;
                    }

                    &:nth-child(2) {
                      font-size: 1vw;
                      text-align: right;
                    }
                  }
                }
              }

              .top-hours {
                margin: 0;
                padding: 0;
                border-radius: 0;
                border: 0;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

                li {
                  min-width: 275px;
                  background-color: var(--white);
                  color: var(--main-color);
                  padding: 0.5vw 1vw;
                  font-size: 1vw;
                  display: flex;
                  justify-content: space-between;
                  transition: all ease-in-out 0.2s;

                  &:hover {
                    background-color: var(--main-color);
                    color: var(--white);
                  }
                }
              }
            }
          }

          /*********/
          .header-icons-wrapper {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .w-100 {
              width: 100%;
            }

            .w-50 {
              width: 50%;
            }
          }

          /*********/
        }

        .content {
          display: flex;
          justify-content: flex-end;
          flex: 1;
          padding: 1vw 0vw;

          @media screen and (max-width: 767px) {
            padding: 2vw 0;
          }

          .hours-search {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-around;

            .houers {
              .toggle-hours-list {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                span {
                  color: var(--gray-3);

                  &:nth-child(1) {
                    text-transform: uppercase;
                    font-size: 1.5vw;
                  }

                  &:nth-child(2) {
                    font-size: 1vw;
                  }
                }
              }

              .top-hours {
                margin: 0;
                padding: 0;
                border-radius: 0;
                border: 0;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

                li {
                  min-width: 275px;
                  background-color: var(--gray-3);
                  color: var(--body);
                  padding: 0.5vw 1vw;
                  display: flex;
                  justify-content: space-between;
                  transition: all ease-in-out 0.2s;
                  font-size: 1vw;

                  &:hover {
                    color: var(--gray-3);
                    background-color: var(--body);
                  }
                }
              }
            }
          }

          .set_phone_number {
            font-size: 1.5vw;
            font-weight: bold;
          }
        }
      }

      .mobile-contact {
        display: none;

        @media (max-width: 767px) {
          display: flex;
          position: absolute;
          right: 10%;
          margin: 10px;
          width: 150px;
          justify-content: space-around;

          a {
            font-size: 30px;
            padding: 5px;
            border: 1px solid;
            width: 50px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            transition: all ease-in 0.25s;
            color: var(--main-color);
            border-color: var(--main-color);

            &:hover {
              color: var(--body);
              border-color: var(--body);
            }
          }
        }

        @media (max-width: 520px) {
          right: 10%;
          width: 120px;

          a {
            font-size: 20px;
            padding: 5px;
            border: 1px solid;
            width: 50px;
          }
        }

        @media (max-width: 420px) {
          right: 0%;
          width: 140px;

          a {
            font-size: 25px;
            padding: 5px;
            border: 1px solid;
            width: 55px;
            height: 60px;
          }
        }
      }
    }



    .bottom {
      padding: 0vw;
      font-family: 'Roboto', 'Roboto Condensed', sans-serif !important;
      box-shadow: rgba(0, 0, 0, 0.19) 1px 0px 1px, rgba(0, 0, 0, 0.23) 1px 1px 4px;

      .navbar-default {
        border: 0px;
        margin-bottom: 0;
        min-height: auto;
        position: relative;
        float: none;

        .navbar-header {
          background-color: var(--black);

          @media (min-width: 768px) {
            float: right;
          }

          .navbar-toggle {
            @media (min-width: 768px) {
              display: none
            }

            @media (max-width: 420px) {
              padding: 10px 20px;
            }

            position: relative;
            float: right;
            padding: 10px 35px;
            margin: 0px;
            background-color: var(--main-color);
            background-image: none;
            border: 0px;
            display: flex;
            flex-direction: column;
            height: 50px;
            align-items: center;
            justify-content: space-around;
            border-radius: 0;
            border-left: 1px solid rgba(255, 255, 255, 0.4) !important;

            &:hover,
            &:focus {
              background-color: var(--body);

              .icon-bar {
                background-color: var(--gray-3);
              }
            }

            .icon-bar {
              display: block;
              width: 30px;
              height: 5px;
              border-radius: 1px;
              background-color: var(--white);
            }
          }
        }

        .navbar-collapse {
          background-color: var(--main-color);

          @media (max-width: 767px) {
            padding: 0;
          }

          @media (min-width: 768px) {
            // padding-left: 5vw;
          }

          .navbar-nav {
            &>li {
              >a {
                // font-size: 0;
                display: flex;
                flex-wrap: wrap;

                &:before {
                  font-family: "Font Awesome 5 Pro";
                  content: "\f015";
                  margin-bottom: 10px;
                  width: 100%;
                  text-align: center;

                  @media screen and (min-width: 768px) {
                    font-size: 1.5vw;
                  }

                  @media screen and (max-width: 767px) {
                    width: auto;
                    margin: 0 10px;
                    font-size: 16px;
                  }
                }
              }

              &:nth-child(1) {
                >a {
                  &:before {
                    content: "\f015";
                  }
                }
              }

              &:nth-child(2) {
                >a {
                  &:before {
                    content: "\f2b5";
                  }
                }
              }

              &:nth-child(3) {
                >a {
                  &:before {
                    content: "\f085";
                  }
                }
              }

              &:nth-child(4) {
                >a {
                  &:before {
                    content: "\f7d9";
                  }
                }
              }

              &:nth-child(5) {
                >a {
                  &:before {
                    content: "\f7c0";
                  }
                }
              }

              &:nth-child(6) {
                >a {
                  &:before {
                    content: "\f0c0";
                  }
                }
              }

              &:nth-child(7) {
                >a {
                  &:before {
                    content: "\f553";
                  }
                }
              }

              &:nth-child(8) {
                >a {
                  &:before {
                    content: "\f1ae";
                  }
                }
              }

              &:nth-child(9) {
                >a {
                  &:before {
                    content: "\f56d";
                  }
                }
              }
            }

            @media (max-width: 767px) {
              margin: 0;
              padding: 0;

              >.open {
                >a {
                  text-decoration: none;
                  color: var(--main-color);
                  background-color: var(--white);

                  &:hover,
                  &:focus,
                  &:active {
                    color: var(--main-color);
                    background-color: var(--white);
                  }
                }
              }

              >li {
                >a {
                  text-decoration: none;
                  color: var(--white);
                  background-color: var(--main-color);
                  font-size: 16px;
                  padding: 16px 10px;
                  font-family: 'Roboto', 'Roboto Condensed', sans-serif !important;
                  font-weight: 400;
                  text-transform: uppercase;
                  transition: all ease-in-out 0.3s;

                  &:hover,
                  &:focus {
                    color: var(--main-color);
                    background-color: var(--white);
                  }
                }

                .dropdown-menu {
                  padding: 0;
                  min-width: 200px;
                  background-color: var(--main-color);
                  border: 0;

                  >li {
                    >a {
                      text-transform: uppercase;
                      color: var(--white);
                      font-size: 1.1;
                      font-weight: 600;
                      padding: 10px;
                      text-decoration: none;
                      transition: all ease-in-out 0.3s;

                      &:hover {
                        color: var(--main-color);
                        background-color: var(--white);
                        padding-left: 15px;
                      }
                    }
                  }
                }
              }

            }

            @media (min-width: 768px) {
              display: flex;

              // justify-content: space-between;
              // width: 80%;
              >.open {
                overflow: unset;

                >a {
                  background-color: var(--main-color);
                  color: var(--white);
                  text-decoration: none;

                  &:hover,
                  &:focus,
                  &:active {
                    background-color: var(--white);
                    color: var(--main-color);
                  }
                }
              }

              >li {
                // height: 4vw;
                transition: all ease-in-out 0.3s;

                &:hover {
                  background-color: var(--main-color);

                  >a {
                    color: var(--white);
                  }
                }

                >a {
                  font-family: 'Roboto', 'Roboto Condensed', sans-serif !important;
                  font-weight: 400;
                  padding-top: 0;
                  padding-bottom: 0;
                  padding: 0 0.5vw;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  min-height: 100%;
                  color: var(--white);
                  font-size: 1.25vw;
                  text-transform: uppercase;
                  text-decoration: none;
                  transition: all ease-in-out 0.3s;
                  padding: 0.5vw 0 0;

                  &:hover,
                  &:focus {
                    color: var(--main-color);
                    background-color: var(--white);
                    text-decoration: none;
                  }
                }

                .dropdown-menu {
                  padding: 0;
                  min-width: 200px;
                  background-color: var(--white);
                  border: 0;

                  >li {
                    >a {
                      text-transform: uppercase;
                      color: var(--main-color);
                      background-image: none !important;
                      font-size: 1vw;
                      font-weight: 600;
                      padding: 10px;
                      text-decoration: none;
                      transition: all ease-in-out 0.3s;

                      &:hover {
                        background-image: none !important;
                        color: var(--white);
                        background-color: var(--main-color);
                      }
                    }
                  }
                }
              }
            }

            @media (min-width: 768px) and (max-width: 990px) {
              padding-left: 0;
              width: 85%;
              justify-content: space-around;
            }

            @media (min-width: 991px) {
              padding-left: 0;
              width: 85%;
              display: flex;
              justify-content: space-around;
              margin-left: 50px;
            }

            @media (min-width: 768px) and (max-width: 1200) {

              >li {
                height: auto;
              }
            }

            @media (min-width: 1201px) {

              >li {
                height: 5vw;
              }
            }

          }
        }
      }

      /* */
      .navbar {
        .navbar-nav {
          @media screen and (min-width: 768px) {
            .dropdown {
              .dropdown-menu {
                box-shadow: 1px 2px 2px var(--gray-2);
                border-radius: 0;
              }

              &:last-child {
                .dropdown-menu {
                  right: 0 !important;
                  left: inherit;
                }
              }
            }

            >a {
              background-color: var(--white);
            }

            >li {
              &:hover {
                .dropdown-menu {
                  display: flex;
                }
              }

              // &:nth-child(2) {
              //   &:hover {
              //     ul.dropdown-menu {
              //       @media screen and (min-width: 768px) {
              //         display: flex; 
              //         flex-wrap: wrap;
              //         min-width: 30vw;
              //         li {
              //           flex: 1 1 50%;
              //         }
              //       }
              //     }
              //   }
              // }
            }
          }
        }
      }

      /* */
    }
  }
}

.menu-lg-logo-link {
  @media screen and (max-width: 767px) {
    display: none;
  }

  position: absolute;
  left: 3vw;
  top: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    background-color: var(--white);
    height: 6vw;
  }
}

.other-header-links {
  @media screen and (min-width: 768px) {
    // height: 5vw;
    // width: 10vw;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lg-content {
    @media screen and (max-width: 767px) {
      display: none;
    }

    @media screen and (min-width: 992px) {
      a {
        height: 5vw;
      }
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    width: 100%;

    a:first-child {
      // width: 15vw;
    }

    a {
      color: var(--white);
      font-size: 1.75vw;
      padding: 0.85vw 1vw;
      // height: 5vw;
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all ease-in-out 0.2s;

      img {
        width: 4vw;
      }

      span {
        &:nth-child(2) {
          font-size: 1.1VW;
          margin: 0 0.25VW;
        }
      }

      &:hover {
        background-color: var(--white);
        color: var(--main-color);
        text-decoration: none;
        // transform: scale(1.2);
      }
    }
  }

  .sm-list {
    display: none;

    @media (max-width: 767px) {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 0px;
      padding-left: 0px;
      height: 50px;
      // padding: 0 10px;
      background-color: var(--main-color);
    }

    li {
      flex: 1;
      display: flex;
      justify-content: center;
      border-right: 1px solid var(--white);

      a {
        padding: 10px;
        font-size: 25px;
        color: var(--white);
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        transition: all ease-in 0.3s;
        flex: 1;

        @media screen and (max-width: 520px) {
          font-size: 20px;
        }

        &:hover {
          color: var(--main-color);
          background-color: var(--white);
        }
      }

      button.shopping-cart {
        display: flex;
        position: relative;
        background: transparent;
        border: 0;
        font-size: 25px;
        color: var(--white);
        outline: none;
        transition: all ease-in-out 0.2s;

        @media screen and (max-width: 520px) {
          font-size: 20px;
        }

        &:focus {
          outline: none;
        }

        &:hover {
          color: var(--main-color);
        }

        // .total-items.simpleCart_quantity {
        //   position: absolute;
        //   top: 5%;
        //   left: 70%;
        //   font-size: 14px;
        //   font-weight: 700;
        //   width: 25px;
        //   height: 25px;
        //   color: var(--black);
        //   background-color: var(--secondary-color);
        //   display: flex;
        //   justify-content: center;
        //   align-items: center;
        //   border-radius: 50%;
        //   border: 1px solid var(--black);
        // }
      }

      a span,
      button span {
        font-size: 60%;
        margin-left: 1vw;
      }
    }

  }
}

/* start breadcrumbParent */
#page_50119 {
  .breadcrumbParent {
    display: none !important;
  }
}

.breadcrumbParent {
  background-color: #EEEEEE;
  min-height: 60px;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  padding: 0vw 5vw;
  border-top: 1px solid #ddd;
  margin-bottom: 2vw;
  font-weight: 600;
  position: relative;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15%);

  // &::after {
  //   width: 1.8vw;
  //   height: 1.8vw;
  //   background-color: #EEE;
  //   top: calc(100% - 0.9vw);
  //   left: 10vw;
  //   content: "\00a0";
  //   display: block;
  //   position: absolute;
  //   transform: rotate(135deg) skew(0deg);
  //   -moz-transform: rotate(135deg) skew(0deg);
  //   -ms-transform: rotate(135deg) skew(0deg);
  //   -o-transform: rotate(135deg) skew(0deg);
  //   -webkit-transform: rotate(135deg) skew(0deg);
  //   box-shadow: 2px -2px 2px 0 rgba(178, 178, 178, 0.40%);
  // }
}

.breadcrumbParent h2 {
  font-weight: bold;
  font-size: 1.65vw;
  text-transform: uppercase;
  margin: 0;
  flex: 1;
}

.breadcrumbParent .breadcrumb {
  font-size: 1.25vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  background-color: transparent;
  font-family: 'Roboto', 'Roboto Condensed', sans-serif !important;

  a {
    color: var(--black);
  }
}

.breadcrumbParent h2 {
  color: var(--body);
  font-family: 'Roboto', 'Roboto Condensed', sans-serif !important;
  font-weight: 600;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .breadcrumbParent h2 {
    font-size: 2vw;
  }

  .breadcrumbParent .breadcrumb {
    font-size: 1.5vw;
    margin-right: 2vw;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .breadcrumbParent h2 {
    font-size: 2.5vw;
  }

  .breadcrumbParent .breadcrumb {
    font-size: 2vw;
  }
}

@media (max-width: 576px) {
  .breadcrumbParent h2 {
    font-size: 18px;
  }

  .breadcrumbParent .breadcrumb {
    font-size: 14px;
  }
}


// hide it in some pages  //

#page_46357 {
  #parent {
    .row {
      #HeaderDiv {
        #comp_1611511834140 {
          .breadcrumbParent {
            display: none !important;
          }
        }
      }
    }
  }

}

/* end breadcrumbParent */



/* Old Top*/
// .top {
//   .descktop {
//     @media screen and (max-width: 767px) {
//       display: none;
//     }

//     display: flex;
//     flex-direction: row-reverse;
//     align-items: center;
//     background-color: var(--body);
//     padding: 0 3vw;

//     a {
//       height: 3vw;
//       padding: 0.5vw;
//       color: var(--gray-3);
//       display: flex;
//       align-items: center;
//       transition: all ease-in-out 0.2s;

//       &:hover {
//         background-color: var(--black);
//         color: var(--white);
//         text-decoration: none;
//       }
//     }

//     i {
//       font-size: 1.5vw;
//     }

//     .phone {
//       a {
//         span {
//           font-family: Oswald;
//           font-size: 1.5vw;
//           font-weight: 600;
//           padding: 0 1vw;
//         }
//       }
//     }

//     .hours {
//       ul {
//         margin: 0;
//         padding: 0;

//         a.dropdown-toggle {
//           // border: 0.51px solid rgba(255, 255, 255, 0.3);
//           // border-bottom: 0;
//           // border-top: 0;

//           #t_hour {
//             padding: 0;
//             font-size: 1vw;
//             font-family: 'Open Sans';
//             font-weight: 400;
//             padding: 0 1vw;
//           }
//         }

//         .top-hours {
//           margin: 0;
//           padding: 0;
//           border-radius: 0;
//           border: 0;
//           box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

//           li {
//             font-size: 1vw;
//             min-width: 275px;
//             background-color: var(--white);
//             color: var(--main-color);
//             padding: 0.5vw 1vw;
//             display: flex;
//             justify-content: space-between;
//             transition: all ease-in-out 0.2s;

//             &:hover {
//               background-color: var(--main-color);
//               color: var(--white);
//             }
//           }
//         }
//       }
//     }

//     .address {
//       border: 0.51px solid rgba(255, 255, 255, 0.3);
//       border-bottom: 0;
//       border-top: 0;
//       a {
//         font-size: 1vw;
//         font-family: 'Open Sans';
//         font-weight: 400;
//         padding: 0 1vw;
//       }
//     }
//     .cart {
//       flex: 1;
//       .shopping-cart {
//         background-color: transparent;
//         border: 0;
//         display: flex;
//         align-items: center;
//         font-family: 'Open Sans';
//         font-size: 1vw;
//         span {
//           padding: 0 10px;
//         }
//       }
//     }
//   }

//   .mobile {
//     @media screen and (min-width: 767px) {
//       display: none;
//     }

//     border-top: 5px solid var(--body);
//     position: relative;

//     .mobile-contact {
//       display: none;

//       @media (max-width: 767px) {
//         display: flex;
//         position: absolute;
//         right: 0%;
//         top: 50%;
//         transform: translate(0, -50%);
//         margin: 0 10px;
//         width: 150px;
//         justify-content: space-around;

//         a {
//           font-size: 30px;
//           padding: 5px;
//           border: 1px solid;
//           width: 50px;
//           height: 60px;
//           display: flex;
//           justify-content: center;
//           align-items: center;
//           text-decoration: none;
//           transition: all ease-in 0.25s;
//           color: var(--main-color);
//           border-color: var(--body) !important;

//           &:hover {
//             color: var(--body);
//             border-color: var(--main-color) !important;
//           }
//         }
//       }

//       @media (max-width: 520px) {
//         right: 5%;
//         width: 120px;

//         a {
//           font-size: 24px;
//           padding: 5px;
//           border: 1px solid;
//           width: 50px;
//         }
//       }

//       @media (max-width: 420px) {
//         right: 0%;
//         width: 100px;

//         a {
//           font-size: 22px;
//           padding: 5px;
//           border: 1px solid;
//           width: 40px;
//           height: 45px;
//         }
//       }
//     }

//     .container {
//       padding: 0;
//       width: 95vw;

//       .logos {
//         padding: 0;
//         display: flex;
//         align-items: center;

//         img {
//           height: 15vw;

//           // max-width: 200px;
//           @media screen and (max-width: 767px) {
//             height: 20vw;
//             margin: 1vw 0;
//           }

//           @media screen and (max-width: 420px) {
//             height: 20vw;
//             margin: 2vw 0;
//           }
//         }
//       }
//     }
//   }
// } 