._brands {
  background-color: var(--white);
  border-top: 5px solid var(--main-color);

  .brands-flex-list {
    width: 92vw;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;

    li {
      flex: 1%;
      text-align: center;
      padding: 2vw;
      max-width: 24%;

      @media screen and (min-width: 768px) and (max-width: 991px) {
        flex: 1 1 30%;
        max-width: 30%;
      }

      @media screen and (max-width: 767px) {
        flex: 1 1 45%;
        max-width: 45%;
      }
    }
  }
}

._welcome_section {
  background-image: url("/site-uploads/1001398/images/home-background.jpg");
  padding-top: 6.9444444444444vw;
  padding-bottom: 6.9444444444444vw;
  background-repeat: no-repeat;
  background-size: cover;

  .col-md-8 {
    padding: 0;
    background-color: var(--white);

    .content {
      padding: 2vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      h2 {
        font-weight: 700;
        margin-top: 0;
        font-size: 2.5vw;
      }

      p {
        font-weight: 400;
        font-size: 1.1111111111111vw;
        margin-bottom: 1vw;
      }

      a {
        color: var(--gray-8);
        background-color: var(--gray-15);
        font-weight: 400;
        font-size: 1.1111111111111vw;
        padding: 0.83333333333333vw 1.8055555555556vw;
        border-radius: 5px;
        max-width: 20%;
        text-align: center;
      }
    }
  }

  .col-md-4 {
    padding: 0;

    .btns-wrapper {
      padding-left: 2vw;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      a {
        padding: 2vw;
        color: var(--white);
        font-size: 1.8055555555556vw;
        opacity: 0.9;
        text-align: center;
        margin-bottom: 1vw;

        &:last-child {
          margin-bottom: 0;
        }

        &.red {
          background-color: var(--main-color);
        }

        &.yellow {
          background-color: var(--trans-m-color);
        }
      }
    }
  }
}