._Payment-Calculator {
    width: calc(92vw - var(--side-nav-width)) !important;
    margin: 2vw auto;

    .loan-calculator {
        background-color: var(--gray-3);
        padding: 2.153vw 2.778vw;
        font-size: 1.1vw;

        form {

            input,
            .form-control {
                font-size: 1.25vw;
                height: auto;
            }

            button {
                font-size: 1.25vw;

                &#loan-submit {
                    padding: 1vw 5.5vw !important;
                    margin-right: 2vw;
                }

                &#loan-reset {
                    padding: 1vw 5.5vw !important;
                }
            }
        }
    }

    @media screen and (max-width: 767px) {
        .loan-calculator {
            background-color: var(--gray-3);
            padding: 2.153vw 2.778vw;
            font-size: 16px;

            form {

                input,
                .form-control {
                    font-size: 16px;

                }

                button {
                    font-size: 16px;

                    &#loan-submit {
                        padding: 1vw 5.5vw !important;
                        margin-right: 2vw;
                    }

                    &#loan-reset {
                        padding: 1vw 5.5vw !important;
                    }
                }
            }
        }
    }
}