.breadcrumbParent {
    border-bottom: solid .01em #D5D5D5;
    position: relative;
    background-color: #F0F0F0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)), url(/site-uploads/1001501/images/Breadcrumbs_BG.jpg);
    background-size: cover;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    color: #000;
    padding: 1.5em 4em !important;
    margin-bottom: 3em;
    z-index: 2;

    h1 {
        font-weight: 700;
        margin: 0;
        flex: 1;
        font-size: 1.6em;
        color: var(--white);
    }

    .breadcrumb {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
        background-color: transparent;
        padding-right: 0;

        .breadcrumb-item {
            a {
                color: var(--white);
            }
        }
    }
}

#page_65474 {
    #comp_1702583448317 {
        display: none;
    }
}