.inner-menu-pro.text-center.box-shadow
    .menu-header.py-3
        p.name Waleesd Sayed
        p.email ws@waleessayed.com 
        p.phone 50213264 
    .meun-ul
        li
            a(href="/orders.html") طلباتي
        li
            a(href="/wallet.html") خدماتي
        li
            a(href="/info.html") بياناتي