.row
    .col-md-4.mb-3
        .nav-box.box-shadow
            .item
                span.title رصيدي
                span.value 0.00
            span.icon <i class="fas fa-2x fa-wallet"></i>
            
    .col-md-4.mb-3
        .nav-box.box-shadow
            .item
                span.title طلباتي
                span.value 0
            span.icon <i class="fas fa-2x fa-shopping-cart"></i>
    .col-md-4.mb-3
        .nav-box.box-shadow
            .item
                span.title ملفاتي
                span.value 0
            span.icon <i class="fas fa-2x fa-file-alt"></i>