@import "./scss/normal";

/* light-2021 Updates*/
.light2021 {

    a.filter-collapse {
        font-family: var(--secondary-font);
    }

    .modernFilter label {
        font-family: var(--secondary-font);
    }

    .cta-btns a,
    .model-title-link {
        font-family: var(--secondary-font) !important;
    }

    .show-item p {
        font-family: var(--main-font);
    }

    .cta-btns a {
        color: var(--black);

        i {
            color: var(--black);
            margin-right: 0.3vw;
            padding-right: 0.35vw;
        }

    }

    a.View-Details,
    a.View-Details span {
        background-color: #ff0000 !important;
        border: none !important;
        color: #fff !important;
    }

    .cta-btns a.main-btn i {
        color: var(--bg-color);
        opacity: .8;
        text-shadow: none;
        font-size: 1.8vw;
    }

    .main-container a:hover,
    .main-container a:active,
    .main-container a:focus {
        color: var(--y-gray-10) !important;
    }

}


#normal_vdp {}



/* start breadcrumbParent */


.breadcrumbParent {
    // background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/site-uploads/1001368/images/breadcrumb-bg.jpg");
    background-color: var(--gray-3);
    min-height: 50px;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 5vw;
    border-top: 1px solid #DDD;
    margin-bottom: 0vw;
    font-weight: 600;
    position: relative;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15%);

    &::after {
        // width: 1.8vw;
        // height: 1.8vw;
        // background-color: #EEE;
        // top: calc(100% - 0.9vw);
        // left: 10vw;
        // content: "\00a0";
        // display: block;
        // position: absolute;
        // transform: rotate(135deg) skew(0deg);
        // -moz-transform: rotate(135deg) skew(0deg);
        // -ms-transform: rotate(135deg) skew(0deg);
        // -o-transform: rotate(135deg) skew(0deg);
        // -webkit-transform: rotate(135deg) skew(0deg);
        // box-shadow: 2px -2px 2px 0 rgba(178, 178, 178, 0.40%);
    }
}

.breadcrumbParent h2 {
    font-weight: bold;
    font-size: 1.65vw;
    text-transform: uppercase;
    margin: 0;
    flex: 1;
    margin: 1.1vw 0;
}

.breadcrumbParent .breadcrumb {
    font-size: 1.25vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    background-color: transparent;
    font-family: var(--main-font);

    a {
        color: var(--main-font-color);
        font-weight: 400;
        text-decoration: underline;
        font-size: 1.1111111111111vw;
    }
}

.breadcrumbParent h2 {
    color: var(--body);
    font-family: var(--main-font);
    font-weight: 600;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .breadcrumbParent h2 {
        font-size: 2vw;
    }

    .breadcrumbParent .breadcrumb {
        font-size: 1.5vw;
        margin-right: 2vw;

        a {
            color: var(--main-font-color);
            font-weight: 400;
            text-decoration: underline;
            font-size: 1.2vw;
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .breadcrumbParent h2 {
        font-size: 2.5vw;
    }

    .breadcrumbParent .breadcrumb {
        font-size: 2vw;

        a {
            font-size: 16px;
        }
    }
}

@media (max-width: 576px) {
    .breadcrumbParent h2 {
        font-size: 18px;
    }

    .breadcrumbParent .breadcrumb {
        font-size: 14px;

        a {
            font-size: 16px;
        }
    }
}

/* end breadcrumbParent */