.home-para {
    @media screen and (min-width: 768px) and (max-width: 1200px) {
        >img {
            max-width: 50%;
        }
    }
}

.bg-shadow {
    @media screen and (min-width: 768px) and (max-width: 1200px) {
        height: 30vw !important;
        top: -20vw !important;
    }
}