.header {
    background-color: var(--dark-gray);

    .header-container {
        display: flex;

        .header-logo {}

        .header-phone-address {
            // padding-left: 4vw;

            flex: 1 1 20%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: end;
            max-width: 25%;

            .phone-no {
                a {
                    font-weight: 700;
                    color: var(--gray-3);
                    font-size: 2.5vw;
                    margin-bottom: 0.5vw;
                    display: block;
                }
            }

            .address {
                a {
                    font-size: 0.97222222222222vw;
                    color: var(--gray-8);
                    text-align: right;
                    display: flex;
                }
            }
        }

        .header-social-hours {
            .hours {
                border-bottom: 1px solid var(--gray-8);
                margin-bottom: 1vw;

                ul {
                    padding: 0;

                    li.dropdown {
                        a.dropdown-toggle {
                            display: flex;
                            flex-direction: column;
                            color: var(--gray-8);
                            align-items: center;

                            .hours-ttl {
                                font-size: 1.25vw;
                                font-weight: 700;
                            }

                            #t_hour {
                                font-size: 0.97222222222222vw;
                                font-weight: 400;
                            }
                        }

                        .top-hours {
                            margin: 0;
                            padding: 0;
                            border-radius: 0;
                            border: 0;
                            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

                            li {
                                min-width: 275px;
                                background-color: var(--white);
                                color: var(--main-color);
                                padding: 0.5vw 1vw;
                                display: flex;
                                justify-content: space-between;
                                transition: all ease-in-out 0.2s;
                                font-size: 1vw;
                            }
                        }
                    }
                }
            }

            .social {
                display: flex;
                justify-content: space-around;

                a {
                    color: var(--gray-8);

                    i {
                        color: inherit;
                    }
                }
            }
        }

        .yamaha-logo {
            a {
                display: flex;
                flex-direction: column;
                color: var(--gray-8);
                justify-content: center;
                align-items: center;

                span {
                    margin-bottom: 0.5vw;
                }
            }
        }
    }
}

#footer-mobile {
    .yamaha-dealer {
        a {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;

            span {
                font-size: 14px;
                margin-bottom: 10px;
            }

            img {
                max-width: 50%;
                aspect-ratio: 3/1;
            }
        }
    }
}

.parts-brands a {
    display: block;
    border: 0.1vw solid #ccc;
    padding: 1.2vw;
    line-height: 8vw;
    margin-bottom: 2vw;
}

.Under-Construction {
    h3 {
        margin-top: 5vw;
        text-align: center;
        color: var(--gray-222);

        span {
            color: var(--main-color);
        }
    }
}

.container-90 {
    width: 90vw !important;

    &.padd-0 {
        div[class^='col-'] {
            padding: 0;
        }
    }

    @media screen and (max-width: 767px) {
        width: 95vw !important;
        padding-right: 5px !important;
        padding-left: 5px !important;
    }

    .row {
        margin: 0;
    }
}


._inner-page {
    .flex-row {
        display: flex;
        flex-wrap: wrap;

        iframe {
            width: 100%;
            height: 100%;
        }

        [class^='col-md-'] {
            margin-bottom: 2vw;
        }

        .d-flex {
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: space-around;
        }

    }
}


.location-hours-page {

    .location-panel,
    .hours-panel {
        border-radius: 0;

        .panel-heading {
            background-color: var(--main-color);
            background-image: none;
            color: var(--white);
            padding: 1vw 1vw;
            border-radius: 0;

            @media screen and (max-width: 767px) {
                padding: 20px 10px;

                .panel-title {
                    font-size: 22px;
                }
            }

            .panel-title {
                font-size: 1.75vw;
                font-weight: 500;
                text-transform: uppercase;


                strong {
                    font-weight: inherit
                }

                @media screen and (max-width: 767px) {
                    font-size: 20px;
                }
            }
        }

        .panel-body {
            a {
                color: var(--main-color);
                transition: all ease-in-out 0.3s;
                position: relative;
                font-size: 1.1vw;
                font-weight: bold;
                display: flex;
                align-items: center;
                text-transform: uppercase;

                @media screen and (min-width: 768px) and (max-width: 991px) {
                    font-size: 2.25vw;
                }

                @media screen and (max-width: 767px) {
                    font-size: 16px;
                }

                &:hover {
                    padding-left: 15px;
                    color: var(--body);
                    text-decoration: none;

                    &::before {
                        content: "\203A";
                        color: var(--body);
                        font-weight: bold;
                        position: absolute;
                        left: 0;
                        font-size: 2vw;

                        @media screen and (max-width: 767px) {
                            font-size: 1.5em;
                        }
                    }
                }

                span,
                i {
                    margin: 0 0.25vw;
                }
            }

            .contact-table {
                width: 100%;
            }
        }
    }

    .map-panel {
        min-height: 95%;
        position: relative;

        @media screen and (max-width: 991px) {
            height: 30vw;
            width: 100%;
        }

        .panel-body {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0;
            height: 100%;

            @media screen and (max-width: 991px) {
                height: 30vw;
                width: 100%;
            }

            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }
}

/**/
.btn-link {
    background-color: #ff0000;
    color: #fff;
    padding: 0.6vw 1.2vw;
    display: inline-block;
}

.yamaha-parts .shop-online>a {
    height: auto !important;
    background: #fff;
    flex-direction: column;
    padding: 1vw;
    flex-wrap: wrap;
    font-size: 1.3vw;
    color: #000;
    height: 12vw;
    margin-bottom: 2vw !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1vw solid #9a9898;
    transition: all ease-in-out 0.25s;

    &:hover {
        border-color: #ff0000;
        text-decoration: none;
    }

    img {
        width: 60%;
        padding: 0;
    }
}

/**/

.map-img {
    aspect-ratio: 3/2;
    width: 100%;
    height: 100%;
}


#CenterDiv {
    height: auto !important;
}

.flex-row {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
}