footer.p-5
    .container
        .row.rtl
            .col-md-4
                .right-container
                    h2 الإشتراك
                    div.social
                        .contact.input-group.mb-3
                            input.form-control(type='text')
                            .input-group-prepend
                                button.btn.btn-outline-primary(type='button') إرسال
                        
                        ul.footer-social.mt-5
                            li
                                a(href="")
                                    <i class="fab fa-instagram fa-2x"></i>
                            li
                                a(href="")
                                    <i class="fab fa-facebook-square fa-2x"></i>
            .col-md-6
                .center-container
                    h2 خريطة الموقع
                    ul
                        li.mb-3
                            a(href="") من نحن
                        li.mb-3
                            a(href="") الخدمات 
                        li.mb-3
                            a(href="") الأسئلة الشائعة
                        li.mb-3
                            a(href="") اتصل بنا
                        li.mb-3
                            a(href="") العروض
                        li.mb-3
                            a(href="") الشروط والأحكام 

            .col-md-2
                .left-container.mt-5
                    a.btn.btn-block.btn-outline-primary.mb-3(href="/signup.html") كن مزود خدمة
                    a.btn.btn-block.btn-outline-primary.mb-3(href="/signup.html") إرفع ملف
            .col-md-12.text-center
                .mt-5
                    p جميع الحقوق محفوظة لصالح منصة برنت 2020