.r-order-info {
    h3 {
        color: $secFont;
        font-weight: bold;
    }

    img {
        width: 100px;
    }

}

.r-order-form-content {
    margin: auto 8rem;

    @media #{$tab} {
        margin: auto 1rem;
    }

    @media #{$small_mobile} {
        margin: auto 0rem;
    }

    h2 {
        color: $secFont;
        font-weight: bold;
    }

    h3 {
        color: $thiFont;
        font-weight: bold;
    }

    .form {
        padding: 2rem;
    }
}