// @font-face {
//     font-family: DIN;
//     src: url(/site-uploads/1001379/Fonts/DIN.ttf) format('truetype');
// }

// @font-face {
//     font-family: DIN Bold;
//     src: url(/site-uploads/1001379/Fonts/DIN-PRO-700-Bold.ttf) format('truetype');
// }

// @font-face {
//     font-family: DIN Normal;
//     src: url(/site-uploads/1001379/Fonts/DINMedium.ttf) format('truetype');
// }

// :root {
//     --yamaha-red: #D52B1E;
//     --black: #000;
//     --gray-4: #bcbdbc;
//     --gray-4: #616365;
//     --racing-blue: #0a2d82;
//     // Fonts
//     --main-font: 'open sans', sans-serif !important;
//     --secondary-font: DIN, sans-serif !important;
// }

// body {
//     font-family: var(--main-font);
// }

/* light-2021 Updates*/
.light2021 {

    a.filter-collapse {
        font-family: var(--secondary-font);
    }

    .modernFilter label {
        font-family: var(--secondary-font);
    }

    .cta-btns a,
    .model-title-link {
        font-family: var(--secondary-font) !important;
    }

    .show-item p {
        font-family: var(--main-font);
    }
}

#normal_vdp {}