.lSSlideOuter.vertical .lSAction>.lSPrev {
    top: 50% !important;
    transform: rotate(270deg) !important;
}

.lSSlideOuter.vertical .lSAction>.lSNext {
    top: 50% !important;
    left: 94% !important;
    transform: rotate(270deg) !important;
}

.parts-vdp .gallery-price-setion #ad-right-content {
    margin-top: 1.5vw;
    border: 1px solid #d1d1d1;
    padding-top: 1vw;
    padding-bottom: 1vw;
    background-color: #f1f1f1;
}

.parts-vdp .gallery-price-setion #ad-right-content .model-title {
    display: block !important;
    color: #E50000;
    font-size: 1.8055555555556 !important;
}

.parts-vdp .gallery-price-setion #ad-right-content .parts-price-box {
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 2vw;
    padding-bottom: 1vw;
}

.parts-vdp .gallery-price-setion #ad-right-content .right-cta-buttons #qautity-add-box .simpleCart_quantityBox {
    margin-right: 0 !important;
    flex: unset !important;
}

#qautity-add-box .simpleCart_quantityBox div {
    display: flex;
    flex-flow: row;
}

#qautity-add-box .quantityBoxBox {
    border-radius: 0;
    height: auto;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.parts-vdp .gallery-price-setion #ad-right-content .right-cta-buttons #qautity-add-box .ecomm-btn {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    color: #fff !important;
    background-color: #E50000;
    text-transform: uppercase;
    font-weight: 600;
    font-family: DIN Bold;
    font-size: 1.1111111111111vw;
}

.parts-vdp .gallery-price-setion #ad-right-content .right-cta-buttons #qautity-add-box .ecomm-btn span {
    color: #fff !important;
    background-color: #E50000;
}

.parts-vdp ._added-content {
    border-top: 1px solid #d1d1d1;
    margin: 1vw 0;
    padding: 1vw;
}

.parts-vdp ._added-content p:nth-child(1) {
    font-weight: 600;
}

.parts-vdp ._added-content p:nth-child(2) {
    font-weight: 400;
}

.parts-vdp ._added-content a {
    font-family: DIN Bold;
    font-size: 1.1111111111111vw;
    color: #d1d1d1;
    font-weight: 400;
}

.parts-vdp .gallery-price-setion #ad-right-content .quote-btn {
    background-color: #d1d1d1;
    color: #000;
    font-size: 1.1111111111111vw;
    font-family: DIN Bold;
    font-weight: 500;
}

@media screen and (max-width: 767px) {
    .parts-vdp .gallery-price-setion #ad-left-content .parts-price-box {
        margin-bottom: 2vw;
        padding-bottom: 1vw;
    }
}

@media screen and (max-width: 767px) {
    .parts-vdp .gallery-price-setion #ad-left-content .parts-price-box .parts-price-div {
        font-size: 18px;
    }
}

@media (max-width: 770px) {
    #page_53887 .primary {
        font-size: 4.5vw;
    }
}

@media screen and (max-width: 767px) {
    .parts-vdp .gallery-price-setion #ad-left-content .ecomm-box .ecomm-btns #qautity-add-box .simpleCart_quantityBox {
        padding: 0;
    }
}

@media screen and (max-width: 767px) {
    .parts-vdp .gallery-price-setion #ad-left-content .ecomm-box .ecomm-btns #qautity-add-box .ecomm-btn {
        -webkit-box-flex: 2;
        -ms-flex: 2;
        flex: 2;
        color: #fff !important;
        background-color: #E50000;
        text-transform: uppercase;
        font-weight: 600;
        margin: 0;
    }
}

@media screen and (max-width: 767px) {
    .parts-vdp .gallery-price-setion #ad-right-content {
        margin-left: 0vw;
        width: 100%;
        margin-top: 2vw;
    }
}

@media screen and (max-width: 767px) {
    .parts-vdp .gallery-price-setion #ad-right-content .model-title {
        display: block !important;
        font-family: "DIN Bold" !important;
    }
}

@media screen and (max-width: 767px) {
    .parts-vdp .gallery-price-setion #ad-right-content .quote-btn {
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    .parts-vdp .model-tabs .panel .panel-heading .panel-title .js-tabcollapse-panel-heading {
        background-color: #333 !important;
        border: 1px solid #DDD;
        color: #d1d1d1 !important;
        font-family: "DIN Bold" !important;
    }
}

@media screen and (max-width: 767px) {
    .avl {
        margin: 5vw 0
    }
}

.stock-num {
    position: relative;
    left: 47vw;
    top: -0.9vw;
    font-size: 1.2vw;
    font-weight: 700;
    font-family: DIN Bold;
}

@media (max-width:768px) {
    .stock-num {
        font-size: 4vw;
        left: 60vw;
        top: -6vw;
    }
}

@media (max-width:768px) {
    #normal_vdp .back-btn {
        font-size: 4vw !important;
    }
}

.back-btn .glyphicon-chevron-left:before {
    color: #E50000 !important;
}

.product-group .product-group-image {
    font-family: DIN Bold
}

a {
    color: #E50000;
    font-weight: 600;
    text-transform: uppercase;
}

@media (min-width:768px) {
    .navbar .navbar-nav>li:hover .dropdown-menu {
        display: block;
    }
}

.eventImg-conyainer {
    display: flex;
    justify-content: space-around;
}

/* Shortlines */
#shortlines {
    text-align: center;
}

#shortlines a {
    display: block;
    display: block;
    padding: 15px;
    margin: 15px;
    color: #000;
    font-family: "DIN Bold", sans-serif;
    font-size: 18px;
    background-color: #f0f0f0;
}

#shortlines a img {
    border: none;
    background-color: #fff;
    margin-bottom: 5px;
}

#shortlines span {
    display: block;
}

#shortlines a:hover,
#shortlines a:focus {
    border-color: #222;
    text-decoration: none;
}

body {
    background-image: none !important;
    background-color: #FFFFFF !important;
    background-repeat: no-repeat !important;
    font-family: 'Open sans' !important;
}


#siteMenu {
    background-image: none !important;
    background-color: #FFFFFF !important;
}

.mainMenu li {
    background-color: #000000 !important;
    border-color: #FFFFFF !important;
    text-align: center !important;
}

.mainMenu li li {
    background-color: #000000 !important;
    border-color: #FFFFFF !important;
    text-align: center !important;
}

.mainMenu a,
mainMenu a:visited {
    font-size: 10px !important;
    font-family: Verdana, Arial, sans-serif !important;
    font-weight: normal !important;
    text-decoration: none !important;
    font-style: normal !important;
    color: #990000 !important;
}

.mainMenu a:hover {
    color: #990000 !important;
    background-color: #000000 !important;
    border-color: #FFFFFF !important;
}

.ui-layout-pane {
    background-image: none !important;
    background-color: #ff0000 !important;
}

.headerFont {
    background-image: none !important;
    font-family: Verdana, Arial, sans-serif !important;
    font-weight: normal !important;
    text-decoration: none !important;
    font-style: normal !important;
    font-size: 10px !important;
    color: #000000 !important;
    background-color: #FFFFFF !important;
}

.pragraphFont {
    font-family: Verdana, Arial, sans-serif !important;
    font-weight: normal !important;
    color: #000000 !important;
    font-size: 10px !important;
    text-decoration: none !important;
    font-style: normal !important;
}

.linksFont {
    font-size: 10px !important;
    font-family: Verdana, Arial, sans-serif !important;
    font-weight: normal !important;
    color: #000000 !important;
    text-decoration: underline !important;
    font-style: normal !important;
}

#CenterDiv {
    padding: 0 !important;
}



html {
    scroll-behavior: smooth
}

a {
    text-decoration: none !important
}

;

@media(max-width: 767px) {

    a,
    p,
    table,
    h {
        font-size: 3vw !important;
    }
}

.sticky-nav {
    position: fixed !important;
    top: 0;
    left: 0vw;
    width: 100%;
    z-index: 20;
}

;

/* */
/* */
.testtest {
    color: #fff;
}

/*header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-section {
    max-width: 20vw;
    padding: 1vw 2vw;
}

.logo-section a img {
    width: 100%;
    height: 100%;
    aspect-ratio: 512/217;

}

.phone-secyion a {
    font-size: 2.3vw;
    color: #000000;
    font-family: DIN Bold;
}

.brands-logo a img {
    max-width: 8vw;
}

.address-section .icon-section a i {
    padding: 0.27vw 0.37vw 0.27vw 0.67vw;
    color: #fff;
    font-size: 1.2vw;
    line-height: 1.5;
    text-align: right;
    border: 0.14vw solid;
    background: #E50000;
}

.address-section {
    display: flex;
    max-width: 19vw;
}

.header-container i {
    padding: 0.27vw 0.37vw 0.27vw 0.67vw;
    color: #fff;
    font-size: 1.2vw;
    line-height: 1.5;
    text-align: right;
    border: 0.14vw solid;
    background: #E50000;
    margin: 0 1vw;
}

.text-section a span {
    font-family: DIN Bold;
    font-size: 1.1vw;
    text-transform: uppercase;
    color: #2D2D2D;
    line-height: 0;
}

.social-media-links i {
    margin: 0;
}

.social-media-links a:nth-child(1) i {
    padding: 0.27vw 0.57vw 0.27vw 0.67vw;
}

.brands-logo {
    border-left: 1px solid #D5D5D5;
    height: 11vw;
    padding: 1vw 0;
    min-width: 16vw;
    display: flex;
    flex-direction: column;
}

.ymaha-header,
.suzuki-header {
    border-bottom: 1px solid #D5D5D5;
}

.ymaha-header a img {
    display: flex;
    margin: 0vw auto 0.5vw;
    width: 100%;
    height: 90%;
}

.suzuki-header a img {
    display: flex;
    margin: 1vw auto;
    width: 100%;
    height: 60%;
}

.kawasaki-header {
    margin: .5vw auto;
}

.kawasaki-header img {
    width: 100%;
    height: 60%;
}

/*end header */
/*nav */
@media(max-width:767px) {
    .sticky-nav {
        left: 0vw
    }

    ;
}

@media (min-width:768px) {
    .navbar .navbar-nav>li:hover .dropdown-menu {
        display: block;
    }
}

#nav_60309 {
    width: 100% !important;
    background: #E50000 !important
}

.navbar {
    border: none
}

.navbar-nav {
    flex-direction: row;
    margin: 0 4vw;
    width: 100% !important
}

.navbar {
    border-radius: 0 !important;
    margin: 0 !important
}

#nav_60309 li a {
    color: #F1F1F1;
    font-weight: 700;
    text-shadow: none !important;
    text-transform: uppercase;
    transition: .3s border ease-out;
    padding: 1.4vw 2vw;
    font-size: 1.2vw;
    font-family: var(--secondary-font);
}

@media (min-width:767px) {
    .navbar-nav>li>.dropdown-menu {
        background: #000000 !important;
        float: right;
        width: 19vw
    }
}

.dropdown-menu>li>a:active,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #292929 !important;
    background-color: #fff !important
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: #fff !important;
    color: #333 !important
}

@media (min-width:767px) {

    .navbar-default .navbar-nav>.open>a,
    .navbar-default .navbar-nav>.open>a:focus,
    .navbar-default .navbar-nav>.open>a:hover {
        background-color: #292929 !important;
        color: #FFF !important
    }
}

.dropdown-menu>li>a {
    padding: .5vw 1.5vw !important;
    font-size: 1.1vw !important;
    font-weight: 400 !important;
    color: #fff !important;
    text-transform: none !important;
}

/*mobile nav */
@media (max-width: 767px) {
    .navbar-header {
        background: #fff;
        padding: 2vw;
        border-bottom: 3px solid #FF1A22;
    }
}

.navbar-toggle {
    margin: 16px 0 0 !important;
    border: none !important;
}

.navbar-toggle .icon-bar:nth-child(2),
.navbar-toggle .icon-bar:nth-child(4) {
    width: 7vw;
    height: 1vw;
    background: #DB0A00;
}

.navbar-toggle .icon-bar:nth-child(3) {
    height: 1vw;
    background: #DB0A00;
}

.header-container-mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-container-mobile a:nth-child(1),
.header-container-mobile a:nth-child(2) {
    padding: 3vw .2vw 3vw 2.2vw;
    border: 1px solid #2D2D2D;
    font-size: 4vw;
    color: #2D2D2D;
}

.header-logo-mobile {
    width: 37vw;
}

.header-logo-mobile a {
    padding: unset !important;
    border: unset !important;
    font-size: unset !important;
    color: unset !important;
}

@media (max-width: 767px) {
    .shopping-cart {
        background: transparent !important;
        border-color: transparent !important;
        font-size: 4.4vw !important;
        padding: 0 1.5vw !important;
        color: #2D2D2D !important;
    }
}

@media (min-width: 767px) {
    .shopping-cart {
        background: transparent !important;
        border-color: transparent !important;
        font-size: 1.4vw !important;
        padding: 0 1.5vw !important;
        color: #F1F1F1 !important;
        position: absolute;
        right: 7vw;
        bottom: 1.1vw;
    }
}

.search-div {
    clear: both;
    position: absolute;
    bottom: 1vw;
    left: 94vw;
    font-size: 1.5vw;
}

.search-div i {
    color: #F1F1F1;
}

@media (max-width: 767px) {
    #nav_60309 li a {
        font-size: 4vw !important;
        padding: 2.5vw 2.8vw !important;
        text-align: end;
    }
}

@media (max-width: 767px) {
    ul.navbar-nav {
        margin: 0 !important;
        font-size: 4vw !important;
        padding: 2.5vw 0 !important;
    }
}

/*category-section*/
.product-categories {
    background: url(/site-uploads/1001386/Images/image_20.png);
    background-size: cover;
}

.categories-container {
    display: flex;
    align-items: center;
    width: 90vw;
    margin: auto;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #494949;
    height: 20vw;
    padding: 0 1vw;
    justify-content: center;
}

.category:last-child {
    border: none;
}

.cartegory-img {
    align-items: center;
}

.cartegory-img img {
    transition: all ease-in-out 0.25s;
    width: 100%;
    height: 100%;
    aspect-ratio: 512/341;
}

.category:hover .cartegory-img img {
    transform: scale(1.2);
}

.category-text {
    text-align: center;
    text-transform: uppercase;
}

.category:hover .category-text a {
    color: #E50000 !important;
    text-shadow: 1px 1px #333;
}

.category-text a {
    color: #B9B9B9;
    font-size: 1.4vw;
    font-family: DIN Bold;
    transition: all ease-in-out 0.25s;
}

@media (max-width: 767px) {
    .categories-container {
        width: 100vw;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (max-width: 767px) {
    .category {
        width: 48vw;
        border-bottom: 1px solid #494949;
        min-height: 27vh;
    }
}

@media (max-width: 767px) {
    .cartegory-img {
        width: 32vw;
        margin-top: 2vw;
    }
}

@media (max-width: 767px) {
    .category-text a {
        font-size: 4vw;
    }
}

.category:last-child {
    border-bottom: 1px solid #494949;
}


/*footer*/
.footer {
    display: flex;
    flex-direction: row;
    background: #2F2F2F;
    color: #D5D5D5;
    padding: 2.5vw 2.9vw 1vw 4vw;
}

@media (max-width: 767px) {
    .footer {
        display: none;
    }
}

.footer .contact-sec {
    flex: 3;
    padding: 0 1.1vw !important;
}

.footer .quickLines-sec {
    flex: 3;
    padding: 0 1.1vw !important;
}

.footer .openingHours {
    flex: 2.5;
    padding: 0 1.1vw !important;
}

.footer .location {
    flex: 2;
    padding: 0 1.1vw !important;
}

.footer h2 {
    font-size: 1.7vw;
    color: #D5D5D5;
    margin: 0px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 2vw;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: DIN Bold;
}

.footer hr {
    width: 100%;
    border-top: 0.1vw solid #555555 !important;
}

.footer a {
    display: block;
    color: #D5D5D5;
    text-decoration: none;
    text-transform: capitalize;
    margin-bottom: 0.5vw;
    cursor: pointer;
    font-size: 1.2vw;
    letter-spacing: 1px;
}

.footer a:hover {
    color: #fff;
}

.footer p {
    display: block;
    color: #cfcfcf;
    text-transform: capitalize;
    margin: 0;
    font-size: 1.2vw;
}

.contact-sec a {
    margin-bottom: 0;
}

.openingHours .social-container {
    margin-top: 2vw;
}

#footer-mobile {
    display: none;
    background-color: #2F2F2F;
    color: #D5D5D5;
    padding: 9vw 0vw 0vw 0vw;
    text-align: center !important;
    margin-top: 7vw;
}

#footer-mobile a {
    font-size: 4.5vw;
    color: #D5D5D5 !important;
}

#footer-mobile {
    display: none;
    margin-top: 0vw !important;
}

@media (max-width: 767px) {
    #footer-mobile {
        display: block !important;
    }
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

#footer-mobile p {
    font-weight: 550;
}

#footer-mobile .btn-primary {
    display: block;
    font-weight: bold;
    background: none;
    border: none;
    text-align: center;
    font-size: 5vw !important;
    margin-bottom: 5vw;
    background: #222222 !important;
    color: #D5D5D5;
    margin-right: 11vw !important;
    border-radius: 0 !important;
    margin-left: 11vw !important;
    margin-bottom: 0.1vw !important;
    margin-top: 0.1vw !important;
    text-transform: uppercase;
    font-family: DIN Bold;
}

.row {
    margin: 0 0 0 0;
}

strong {
    font-weight: 700;
}

.links-ul {
    padding: 0 !important;
}

.StoreHours-title {
    font-size: 1.2vw;
    font-weight: 600;
    display: block;
}

@media screen and (max-width: 768px) {
    .StoreHours-title {
        font-size: 5vw;
    }
}

@media screen and (max-width: 768px) {
    #collapseExample002 table tbody {
        font-size: 4vw;
    }
}

.ymaha-social {
    margin: 7vw auto;
}

#footer-mobile .social-container i {
    font-size: 5vw;
}

#footer-mobile .social-container {
    max-width: 50vw;
    margin: 3vw auto 0;
}

#footer-mobile .social-container span {
    font-size: 4vw;
}

#footer-mobile .social-container .left-section {
    padding: 2.9vw;
}

#footer-mobile .social-container .right-section {
    padding: 3.2vw 1.9vw 2vw 3.4vw;
}

/*end footer*/
/* new copyright  */
.footer-bottom {
    padding: 0.1vw 2vw .1vw 5vw;
    background: #222222;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

@media(max-width:767px) {
    .footer-bottom {
        padding: 0.1vw 2vw 8vw 5vw;
    }
}

.footer-row.footer-row--bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom__elem {
    color: #fff;
    text-align: left;
}

.footer-bottom__elem a {
    color: #dedede;
}

.footer-bottom p,
.footer-bottom span,
.footer-bottom a {
    font-size: 1.1vw;
    font-weight: 400;
}

.footer-bottom__elem {
    color: #fff;
    text-align: left;
}

.footer-bottom__elem {
    color: #fff;
    text-align: left;
}

.footer-bottom__elem a {
    color: #dedede;
}

@media screen and (max-width: 768px) {
    .footer-row.footer-row--bottom {
        padding-top: 3vw;
        flex-flow: column;
    }
}

@media screen and (max-width: 768px) {
    .footer-bottom__elem {
        padding: 1vw;
        text-align: center;
        font-weight: 700;
    }
}

@media screen and (max-width: 768px) {

    .footer-bottom a,
    .footer-bottom p,
    .footer-bottom span,
    .footer-bottom td {
        font-size: 3vw;
    }
}

.HL {
    margin: 0;
}

.footer .verticalLine {
    border-right: 0.1vw solid rgba(207, 207, 207, 0.4) !important;
    margin: 0vw 1vw;
}

/*end footer */

/*scroll up button */
.ScrollUp {
    position: relative;
    top: -2vw;
    left: 90vw;
    padding-top: 3vw;
}

#scroll-up {
    border: 1px solid #cfcfcf;
    color: #FF1A22;
    background: #fff;
    padding: 1vw;
}

@media (max-width: 767px) {
    .ScrollUp {
        top: -5vw;
        left: 46vw;
    }
}

@media (max-width: 767px) {
    #scroll-up {
        padding: 3vw;
    }
}

/*end footer*/
/*slider */
#comp_1649428833821 {
    background: #000000;
}

@media(max-width:767px) {
    #comp_1649428833821 {
        display: none;
    }
}

#comp_1649428833821 .carousel-indicators {
    display: none;
}

#comp_1649428833821 .carousel-inner {
    position: relative;
    left: 5vw;
    width: 90%;
    overflow: hidden;
}

#comp_1649428833821 .carousel-inner a img {
    width: 100%
}

#comp_1649428833821 .left:before {
    content: "\e257";
    display: block;
    height: 3vw;
    width: 3vw;
    font-size: 2vw;
    font-family: "Glyphicons Halflings";
    position: absolute;
    top: 12vw;
    left: 11vw;
    background: #E50000;
    border-radius: 50%;
}

#comp_1649428833821 .right:before {
    content: "\e258";
    display: block;
    height: 3vw;
    width: 3vw;
    font-size: 2vw;
    font-family: "Glyphicons Halflings";
    position: absolute;
    top: 12vw;
    left: 1vw;
    background: #E50000;
    border-radius: 50%;
}

#comp_1649428833821 .carousel-control img {
    display: none;
}

/*buttons-container */
.button-sections {
    background: #000;
}

.buttons-container {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    padding: 4vw 0;
    width: 95vw;
    margin: auto;
}

.buttons-container a {
    border: 1px solid #9D9D9D;
    box-sizing: border-box;
    padding: 1vw 1.5vw;
    font-weight: 600;
    font-size: 1.2vw;
    text-transform: uppercase;
    color: #9D9D9D;
    text-align: center;
    font-family: DIN Bold;

}

.buttons-container a img {
    transition: 1s ease;
}

.buttons-container a:hover img {
    transform: scale(1.1);
}


@media(max-width:767px) {
    .buttons-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media(max-width:767px) {
    .buttons-container a {
        width: 90vw;
        font-size: 4vw;
        margin-top: 1vw;
        padding: 2vw;
        background: #DB0A00;
        text-align: left;
        color: #fff;
        border-radius: 3px;
        border-color: transparent;
    }
}

/*describition */
/*describition */
.description-section {
    background: #000;
}

.description-section .row {
    width: 92vw;
    margin: auto;
}

@media(max-width:767px) {
    .description-section {
        padding: 0 4vw;
    }
}

.description-section hr {
    border-top: .2vw solid rgba(187, 187, 187, 1);
    margin: 1vw 1vw 2vw;
}

@media(max-width:767px) {
    .description-section hr {
        margin: 1vw 0vw 4vw 0vw;
    }
}

@media(max-width:767px) {
    .description-section .col-md-6 {
        padding: 0;
    }
}

.description-text {
    font-size: 1.67vw;
    font-weight: 500;
    text-transform: uppercase;
    color: #E50000;
    font-family: DIN Bold;
}

.companyTitle {
    color: #F1F1F1;
    font-size: 2.5vw;
}

.description-paragraph {
    font-size: 1.1vw;
    font-family: 'Open sans';
    font-weight: 400;
    color: #D5D5D5;
    margin-top: .5vw;
}

.description-btn {
    padding: 2vw 0;
    display: none;
}

.description-btn i {
    padding-left: 1vw;
}

@media(max-width:767px) {
    .description-btn {
        padding: 7vw 0;
    }
}

.description-btn a {
    background: #E50000;
    color: #fff;
    padding: 1vw 2vw;
    font-family: DIN Bold;
    font-weight: 700;
    font-size: 1.3vw;
    text-transform: uppercase;
}

.description-btn a:hover {
    color: #E50000;
    background-color: #fff;
    border-color: #E50000;
}

@media(max-width:767px) {
    .description-text {
        font-size: 5vw;
        padding: 0vw;
        text-align: center;
    }
}

@media(max-width:767px) {
    .companyTitle {
        font-size: 6vw;
    }
}

@media(max-width:767px) {
    .description-paragraph {
        font-size: 4vw;
        padding: 3vw 0;
    }
}

@media(max-width:767px) {
    .description-btn a {
        padding: 3vw 5vw;
        font-size: 3.5vw;
    }
}

.description-section .col-md-6 img {
    width: 100%;
    height: 100%;
}

.production-slider-title .inventory-slider-heading {
    font-size: 2.7vw;
    font-family: DIN Bold;
    text-align: center;
    margin: 2vw;
    text-transform: UPPERCASE;
}

.production-slider-title .inventory-slider-heading i {
    color: #E50000;
}

/*product slider */
/*production slider */

#comp_1649645789170 {
    width: 100vw !important;
    float: none !important;
    margin: 0 auto;
    padding: 0vw 2vw;
}

#comp_1649645789170 .lSSlideOuter {
    padding: 1vw 0 0 !important;
}

#comp_1649645789170 .gallery {
    height: 25vw !important;
}

/*#comp_1647292213898 .lSAction>a {
  display:none;
} */
#comp_1649645789170 .lightSlider li {
    border: .1vw solid #BBB;
    min-height: 21vw;
    padding: 1vw 1.5vw;
    overflow: hidden;
    margin-right: 0 !important;
    width: 20vw !important;
}

#comp_1649645789170 #scroller li a.randomAdDetails {
    margin-bottom: 1.5vw !important;
}

#comp_1649645789170 .randomAdDetails.center-block.text-center {
    height: 11vw;
}

#comp_1649645789170 .randomAdDetails.center-block.text-center {
    display: grid;
    justify-content: center;
    align-items: center;
}

#scroller li a.randomAdDetails {
    position: relative;
}

#comp_1649645789170 .center-block {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 18vw;
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1vw;
    font-size: 1vw;
}

#comp_1649645789170 #scroller a img {
    border: none;
    width: auto;
    height: auto;
    max-width: 17.666666666666664vw;
    max-height: 12.916666666666668vw;
    width: 13vw;
    height: 100%;
}

#comp_1649645789170 .lSPager {
    display: none;
}

@media (max-width: 767px) {
    #comp_1649645789170 {
        display: none;
    }
}

.product-title {
    text-align: center;
}

.product-title span {
    font-size: 2.2vw;
    font-weight: 700;
    text-transform: uppercase;
}

.product-title hr {
    border-top: .5vw solid #66BC29;
    margin: 0 46vw 2vw;
}

.product-title {
    text-align: center;
    padding-top: 2vw;
}

/*
#comp_1649645789170 .lSAction > .lSPrev {
    left: 0vw !important;
    background: #E50000;
    z-index: 9!important;
    border-radius: 50%;
}
#comp_1649645789170 .lSAction > .lSNext {
   right: 0vw !important;
    background: #E50000;
    z-index: 9!important;
    border-radius: 50%;
}
*/
.lSAction .lSPrev::before {
    content: "\e079";
}

.lSAction .lSNext::before {
    content: "\e080";
}

#comp_1649645789170 .lSPrev::after {
    display: none;
}

#comp_1649645789170 .lSNext::after {
    display: none;
}


.lSAction .lSPrev::before,
.lSAction .lSNext::before {
    display: block;
    position: relative;
    top: 0.2vw;
    left: 0vw;
    font-family: "Glyphicons Halflings";
    color: #FFF;
    opacity: 1;
    font-size: 17px;
    border-radius: 50%;
}

/*two-logo-container */
.two-logos-container {
    border-top: 1px solid #E50000;
    width: 90vw;
    margin: 3vw auto 0;
    text-align: center;
}

@media (max-width: 767px) {
    .two-logos-container {
        border-top: none;
        margin: 3vw auto;
    }
}

.two-logos-container a img {
    width: 20%;
    margin: 6vw 1vw 2vw;
    height: 100%;
    aspect-ratio: 512/209;
}

@media (max-width: 767px) {
    .two-logos-container a img {
        width: 40%;
        margin: 6vw 1vw;
    }
}

/*logo above footer */
.logoShow {
    background: #FFFFFF;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstLogo,
.secondLogo,
.thirdLogo {
    padding: 1.5vw 2vw 1.5vw;
    max-width: 13vw;

    a {
        img {
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width: 767px) {
    .logoContainer {
        padding: 3vw;
    }
}

@media (max-width: 767px) {

    .firstLogo,
    .secondLogo,
    .thirdLogo {
        max-width: 30vw;
    }
}

/*breadcrumb */
.breadcrumbParent {
    min-height: 60px;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    color: #F1F1F1;
    padding: 1.2vw 5vw;
    font-weight: 600;
    background: url(/site-uploads/1001386/Images/image_20_1.png)
}

.breadcrumbParent h2 {
    font-size: 2vw;
    margin: 0;
    flex: 1;
    color: #F1F1F1;
    font-family: DIN Bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.breadcrumbParent .breadcrumb {
    font-size: 1.1vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    background: transparent;
}

.breadcrumb-item a {
    font-weight: 400;
    color: #F1F1F1;
    font-family: 'Open sans';
}

@media (max-width: 767px) {
    .breadcrumbParent h2 {
        font-size: 4.5vw;
    }
}

@media (max-width: 767px) {
    .breadcrumb>li {
        display: inline-block;
        font-size: 3.5vw;
    }
}

/* contact us  */
.contact-section {
    padding: 0;
}

.contact-section .container {
    width: 90vw;
}

.contact-us {
    width: 90vw;
    margin: 4vw auto;
}

.contact-us .col-sm-6 {
    padding: 0 1vw !important;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.panel-default {
    border-color: #ddd;
}

.contact-section h2 {
    color: #FF1A22;
    font-size: 2vw;
}

.panel-body {
    padding: 23px !important;
}

.panel-body p strong {
    font-size: 1.2vw;
    color: #000;
}

@media (max-width: 767px) {
    .panel-body p strong {
        font-size: 3.2vw;
    }
}

.panel-body table {
    margin: auto;
}

@media (min-width: 970px) {
    .panel-body table {
        font-size: 1.2vw !important;
    }
}

@media (min-width: 970px) {
    .adForm input {
        font-size: 1.2vw !important;
    }
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.loc-link,
.btn-call-small {
    background-color: #fff !important;
    padding: 1vw !important;
    color: #FF1A22 !important;
    border-radius: 5px !important;
    margin-bottom: 0.3vw;
    font-size: 1.2vw;
    border: 0.2vw solid #FF1A22;
    font-family: 'Open sans';
}

.loc-link:hover,
.btn-call-small:hover {
    background-color: #FF1A22 !important;
    color: #fff !important;
}

@media (max-width: 768px) {

    .loc-link,
    .btn-call-small {
        font-size: 3vw !important;
    }
}

.contact-section .panel-default>.panel-heading {
    background-color: #f5f5f5 !important;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
}

@media (max-width: 768px) {
    .panel-title {
        font-size: 4vw !important;
    }
}

.contact-us .panel-body {
    padding: 23px !important;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table {
    background-color: transparent;
}

td,
th {
    padding: 0;
    font-family: 'Open sans';
}

.panel-default>.panel-heading {
    color: #FF1A22;
}

.contact-us .panel-body a {
    font-weight: 600;
}

.contact-us .panel-title {
    font-size: 2vw;
}

/*end contact us */
/*forms */
.adForm h2 {
    color: #FF1A22;
    font-family: DIN Bold !important;
}

.formsParent {
    width: 90% !important;
    margin: 0 auto !important;
    float: none !important;
}

.formsParent .btn-default,
.formsParent .btn-primary {
    color: #FFF !important;
    background-color: #FF1A22 !important;
    font-family: DIN Bold !important;
    font-size: 1.4vw !important;
    text-transform: uppercase !important;
    border-radius: 0 !important;
}

@media (max-width: 767px) {

    .formsParent .btn-default,
    .formsParent .btn-primary {
        font-size: 3.4vw !important;
    }
}

.formsParent .btn {
    padding: 1vw 2vw !important;
    margin: 1vw 1vw 2vw 1vw !important;
}

@media (max-width: 767px) {
    .formsParent .btn {
        padding: 2vw !important;
    }
}

.adForm .col-sm-6,
.form-horizontal .col-sm-3 {
    padding: 0 0.1vw !important;
}

.adForm input,
.adForm textarea,
.adForm select,
.myform input,
.myform textarea,
.myform select {
    margin: 0.25vw 0;
}

@media (max-width: 768px) {

    .adForm input,
    .adForm textarea,
    .adForm select {
        font-size: 16px !important;
    }
}

@media (max-width: 767px) {
    #Buttons {
        margin-bottom: 15vw;
    }
}

.form-text {
    text-align: center;
    padding: 2vw;
    font-size: 1.5vw;
    color: #222222;
    font-weight: 600;
}

@media (max-width: 767px) {
    .form-text {
        font-size: 3vw;
    }
}

/*home-intro*/
.home-intro {
    width: 90.5vw;
    float: none;
    background-color: #fff;
    margin: 4vw auto;
    max-width: 92.5vw;
}

.home-intro-img {
    text-align: center;
    padding: 0 3vw;
}

.home-intro-img-event {
    width: 40vw;
    text-align: center;
    margin: 2vw auto;
}

.home-intro-img img {
    width: 100%;
}

.home-text {
    text-align: center;
    padding: 1vw;
    font-size: 2vw;
    font-weight: 600;
    color: #FF1A22
}

.home-text-left {
    padding-left: 3vw;
    font-size: 1.7vw;
    font-family: DIN Bold;
    margin-top: 2vw;
    text-transform: uppercase;
    letter-spacing: .5px;
}

.home-text-left::after {
    width: 12%;
    height: 6px;
    background-color: var(--main-color);
    top: calc(100% - 10px);
    left: -3vw;
    position: relative;
    content: "";
    display: block;
    margin: 0.5vw 0;

}

.home-paragraph {
    font-size: 1.2vw;
    font-weight: 400;
    padding: 0 3vw;
}

.home-intro-button {
    text-align: center;
    padding: 1vw 0 3vw 0;
}

.home-intro-button a {
    color: #fff;
    background: #DB0A00;
    padding: 1vw;
    font-size: 1.5vw;
    display: inline-block;
}

@media (max-width: 767px) {
    .home-text {
        font-size: 5vw;
    }
}

@media (max-width: 767px) {
    .home-text-left {
        font-size: 4vw;
    }
}

@media (max-width: 767px) {
    .home-paragraph {
        font-size: 4vw;
    }
}

@media (max-width: 767px) {
    .home-intro-button {
        padding: 3vw 0 5vw 0;
    }
}

@media (max-width: 767px) {
    .home-intro-button a {
        padding: 2vw;
        font-size: 3.5vw;
    }
}

.home-intro-about {
    width: 90.5vw;
    float: none;
    background-color: #fff;
    margin: 4vw auto;
    max-width: 92.5vw;
    display: flex
}

@media (max-width: 767px) {
    .home-intro-about {
        display: block;
    }
}

/*BMR*/
.BMR-image-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1vw;
}

.BMR-image-container img {
    max-width: 21vw;
    margin: 0.5vw;
    min-height: 22vw;
}

.BMR-logo-container {
    border-top: 2px solid #E50000;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 2vw 0;
}

.BMR-logo-container img {
    max-width: 11vw;
    margin: 3vw 1vw 1vw;
}

/*social section */
.header-social {
    display: flex;
}

.social-container {
    display: flex;
    border: 1px solid #7A7A7A;
    max-width: 17vw;
}

.left-section {
    padding: 1vw;
    border-right: 1px solid #7A7A7A;
}

.social-container i {
    font-size: 1.5vw;
}

.right-section {
    padding: 1.2vw 0.9vw 1vw 1.1vw;
    border-right: 1px solid #7A7A7A;
}

.right-section:last-child {
    border: none;
}

.bottom-yamaha {
    margin: 5vw;
}

/*Inventory */
#parent .ESCAdsResponse,
.ESCAdsResponse .container.main-container {
    background-color: transparent;
    width: 88vw;
    margin: 3vw auto;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.filter-ttl .glyphicon {
    color: #fff !important;
    padding-right: 5px;
}

#filters {
    border: none !important;
}

#filters .filters-inner {
    border-color: #d1d1d1 !important;
    background: rgba(241, 241, 241, 1);
    border-radius: 0px !important;
    position: relative;
}

#filters .filter-ttl,
#filters .filters-tools,
.filter-collapse[href="#keyWordsSection"] {
    display: none;
}

#keyWordsSection .well {
    padding: 0;
}

#parent #filters #keyWordsSection input {
    background-color: #fff;
    width: 80%;
    border-radius: 4px 0 0 4px;
    border-right: 0;
    border-color: #dddddd;
}

#filters .adsSearchButton {
    border-radius: 0 4px 4px 0;
}

#filters .adsResetButton,
#filters .adsSearchButton,
#parent .cta-btns a,
#filters .modernFilterSlider input,
#filters .loadMore,
#filters .loadLess {
    font-family: var(--secondary-font);
    font-weight: 900;
    padding: 0.6vw;
    border: 1px solid #dddddd;
    color: #000;
    border-radius: 0;
    background: #ffffff;
    background: -webkit-linear-gradient(top, #ffffff, #efefef);
    background: -moz-linear-gradient(top, #ffffff, #efefef);
    background: linear-gradient(to bottom, #ffffff, #efefef);
}

#filters .adsResetButton {
    display: none !important;
}

.model-title-link {
    font-family: var(--secondary-font);
    font-weight: bold;
}

.lSAction>.lSPrev {

    left: 20px !important;
}

.lSAction>.lSNext {
    right: 20px !important;
}

.lSAction>a {
    opacity: 1
}

@media (min-width:770px) {
    #parent .cta-btns a {
        padding: 1.6vw;
    }
}

@media (min-width:770px) {
    .show-item p {
        font-size: 1vw;
        font-family: var(--main-font);
    }
}

#filters .adsSearchButton {
    width: 20%;
    overflow: hidden;
    color: #1f8d0a !important;
    font-size: 0px !important;
    padding: 6px !important;
    border-radius: 0;
    margin-top: 5px;
}

#filters .adsSearchButton .glyphicon {
    font-size: 20px !important;
    padding: 4px 0px;
    color: rgba(41, 41, 41, 1);
}

.glyphicon-search:before {
    content: "\e003";
}

#filters .adsResetButton {
    font-size: 1vw !important;
}

@media (max-width: 760px) {
    #filters .adsResetButton {
        font-size: 4vw !important;
    }
}

#filters .modernFilterSlider:after {
    border-top-color: #ddd !important;
}

#products .ads-per-page .ttl,
#products .sale-tag,
#products .glyphicon {
    color: rgba(41, 41, 41, 1);
}

.filter-collapse:hover {
    color: rgba(41, 41, 41, 1);
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border-color: rgba(41, 41, 41, 1) !important;
}

#parent #filters select,
#parent#parent .sortby-row select {
    background-color: #fff;
    border-radius: 0 !important;
    border: 1px solid #d1d1d1 !important;
}

.col-sm-1 .list-grid-btn .btn {
    background-color: #fff;
    border: 1px solid #ddd;
}

.cta-btns a:hover,
.cta-btns a:hover span,
.cta-btns a.green:hover {
    background-color: transparent !important;
}

.glyphicon-eye-open {
    color: #fff !important;
}

.item.list-group-item {
    padding: 0 1.8vw !important;
}

#products .item {
    background-color: transparent;
}

.item.list-group-item:nth-child(1) {
    padding-top: 1vw;
}

#products .thumb {
    background-color: #fff;
    border-radius: 0px !important;
    border: 1px solid #d1d1d1 !important;
    box-shadow: 0px 0px 5px #dedede;
}

#products .thumb:hover {
    background: rgba(241, 241, 241, 1);
}

.footer-pagination {
    clear: both;
    width: 100%;
    padding: 1vw 0 3vw 0;
}

.pagination>li>a,
.pagination>li>span {
    color: rgba(41, 41, 41, 1) !important;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    z-index: 2;
    color: #fff !important;
    background-color: rgba(41, 41, 41, 1) !important;
    border-color: rgba(41, 41, 41, 1) !important;
    cursor: default;
}

@media only screen and (max-width: 768px) {

    .grid-group-item .thumb .collapse,
    .grid-group-item .thumb .collapsing {
        background: #FAFFFF !important;
    }
}

@media (max-width: 760px) {
    .btn.filter-ttl {
        text-align: left;
        font-size: 26px !important;
        color: #fff;
        cursor: pointer;
    }
}

@media (max-width: 767px) {

    .btn-primary,
    .btn-default {
        background-color: #004AAD;
        border-color: #004AAD;
    }
}

@media (max-width: 760px) {
    .btn.filter-ttl {
        text-align: left;
        font-size: 26px;
        cursor: pointer;
    }
}

@media (max-width: 760px) {
    #filters.collapse.in {
        height: auto;
    }
}

@media (max-width: 767px) {
    .main-container #filters .filters-inner {
        border: 0;
        margin-right: 1.5vw !important;
    }
}

@media (max-width: 767px) {

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active,
    .open>.dropdown-toggle.btn-primary,
    .btn-primary:active:hover {
        background: #fff;
        border-color: #0000FF;
        color: #0000FF;
    }
}

@media (max-width: 767px) {
    .btn-primary:focus .glyphicon-filter:before {
        color: #004AAD;
    }
}

@media (max-width: 767px) {
    .sortby-row h4 {
        font-size: 17px !important;
    }
}

@media (max-width: 767px) {

    #parent #filters select,
    #parent#parent .sortby-row select {
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid #ddd;
        color: #555;
    }
}

.thumbStatus.in-stock {
    top: 10px;
    bottom: auto;
    background-color: rgba(251, 148, 2, 0.83);
}

@media (max-width: 767px) {
    .thumbStatus.in-stock {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .thumbStatus.tag-text {
        font-size: 16px;
    }
}

.sortby-row .pagination li a {
    background-color: #fff;
    border: 1px solid #ddd;
}

@media only screen and (max-width: 760px) {
    .cta-btns a {
        font-size: 4vw !important;
    }
}

@media (max-width: 767px) {

    .comment,
    .specs,
    .field {
        font-size: 3.5vw !important;
    }
}

@media only screen and (max-width: 760px) {
    .list-group-item .Read-more {
        font-size: 4vw;
        border-bottom: 25px solid blue !important;
    }
}

#normal_vdp .model-title {
    display: none;
}

.lSSlideOuter .lSPager,
.lSSlideOuter .lightSlider {
    padding-left: 0;
    list-style: none;
}

@media (max-width:767px) {

    .lSAction .lSPrev::before,
    .lSAction .lSNext::before {
        top: 30.8vw;
    }
}

#page_52757 .lSAction .lSPrev::before,
#page_52757 .lSAction .lSNext::before {
    display: none;
}

#page_52757 .lSAction>a {
    display: none;
}

#normal_vdp .gallery .lSSlideOuter .lSPager.lSGallery li {
    display: flex;
    padding: 5px;
    align-items: center;
    height: auto;
    max-height: 90px;
    justify-content: center;
}

#normal_vdp .rt-action-btn,
#normal_vdp .accord-btn {
    padding: 0.6vw;
    color: #333333 !important;
    border-radius: 0px !important;
    text-align: left;
    padding: 1vw 2vw;
    background: -webkit-linear-gradient(top, #ffffff, #efefef);
    background: -moz-linear-gradient(top, #ffffff, #efefef);
    background: #D5D5D5;
    border: 1px solid #D5D5D5;
    ;
    font-family: DIN Bold !important;

}

#normal_vdp .rt-action-btn {
    color: #2D2D2D;
}

#normal_vdp .accord-btn {
    border: 1px solid #D5D5D5 !important;
    background: #D5D5D5;
    color: #2D2D2D !important;
    font-family: DIN Bold !important;
}


.rt-action-btn {
    display: block;
    background-color: #eceff3;
    padding: 18px 30px;
    margin: 10px 0;
    color: #555;
    cursor: pointer;
    text-align: center;
    border: 1px solid #dedede;
    font-size: 18px;
    font-weight: bold;
}

#normal_vdp .rt-action-btn .glyphicon {
    font-size: 20px !important;
    padding: 4px 0px;
    color: #2D2D2D;
}

.rt-action-btn:hover .glyphicon {
    background-color: transparent !important;
}

.request-quote-btn,
.request-quote-btn .glyphicon {
    background: #DB0A00 !important;
    color: #FFF !important;
}

#model-accordion>.panel {
    background-color: transparent;
}

.panel-group {
    color: #000;
    padding-right: 2.2vw;
}

@media (max-width: 767px) {
    .panel-group {
        padding-right: 0 !important;
    }
}

#normal_vdp .accord-btn {
    margin: 0;
    margin-top: 1vw;
}

#normal_vdp .accord-btn .glyphicon {
    color: #222222;
}

#normal_vdp .panel-collapse {
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0px 0px 5px #dedede;
    border-radius: 0 0 5px 5px;
}

.price-box .primary {
    color: #000 !important;
    font-family: DIN Bold
}

.back-btn {
    margin-left: 1.5vw;
}

.parts-vdp .back-btn {
    margin: 0 0 1vw 0 !important;
}

#model-left-content {
    clear: left;
}

.model-details-content {
    padding: 3vw !important;
    width: 92vw !important;
}

.stock-num span {
    font-weight: 600;
}

.our-price,
.retail {
    font-size: 2vw !important;
    color: #0000FF !important;
    padding: 0 1vw;
    display: none;
}

@media (max-width: 767px) {

    .our-price,
    .retail {
        font-size: 4.5vw !important;
    }
}

#videos-btn {
    font-size: 1.2vw !important;
    float: right;
    padding: 10px;
    margin: 1vw 4.1vw !important;
    background: #004AAD !important;
}

@media (max-width: 767px) {
    #videos-btn {
        font-size: 3vw !important;
    }
}

@media (max-width: 767px) {
    .other-lines {
        text-align: center;
    }
}

@media (min-width: 767px) {

    #filters select,
    .sortby-row select,
    .sortby-row input,
    .sortby-row li a {
        height: 3.66vw !important;
    }
}

#filters select,
.sortby-row li a,
.sortby-row select {
    border: none !important;
}

@media screen and (min-width: 768px) {
    #products .sortby-row {
        padding: 0 1.8vw .5vw 1.5vw !important;
    }
}

#static-filter-count {
    margin-left: .4vw !important;
    margin-bottom: .3vw !important;
    font-size: 1vw !important;
    border-radius: 0.5vw !important;
    padding: .2vw .35vw !important;
}

.active-filter-container .badge {
    background: #FF1A22 !important;
    color: #fff !important;
}

#filters .filters-inner {
    border: none !important;
    border-color: #cfcfcf !important;
    background: #f1f1f1;
    border-radius: 0 !important;
    position: relative;
}

.cta-btns .View-Details {
    border: 2.6px solid linear-gradient(180deg, #DB0A00 54.29%, #CB1C1B 100%) !important;
    flex: 1 1 100%;
    order: -1;
    background: linear-gradient(180deg, #DB0A00 54.29%, #CB1C1B 100%) !important;
    color: #FFF !important;
    border-radius: 4px !important;
}

#parent .cta-btns a {
    padding: .6vw !important;
}

.lSAction .lSPrev::before,
.lSAction .lSNext::before {
    display: block;
    position: relative;
    top: -0.2vw;
    right: 0.3vw;
    font-family: "Glyphicons Halflings";
    color: #fff;
    background-color: #FF1A22;
    padding: 0vw 0.5vw;
    opacity: 1;
    font-size: 2vw;
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
}

.lSAction .lSPrev::before {
    content: "\e257";
}

.lSAction .lSNext::before {
    content: "\e258";
}

/* .cta-btns a.main-btn {
    order: 2!important;
} */
@media (min-width:767px) {
    .cta-btns .quote {
        height: 4.36vw !important;
    }
}

.cta-btns .call-now,
.cta-btns .quote {
    flex: 1 1 45% !important;
}

@media (min-width:767px) {
    .cta-btns .call-now {
        height: 4.36vw !important;
    }
}

.specs-btn span {
    background: #fff !important;
}

.cta-btns .View-Details i {
    font-size: 1.5vw;
    color: #FFF !important;
}

.cta-btns a.main-btn i {
    font-size: 1.5vw !important;
}

@media (max-width:767px) {
    .cta-btns a.main-btn i {
        font-size: 5vw !important;
    }
}

.no_price span {
    font-size: 1.4vw !important;
    color: #333 !important;
    text-transform: capitalize !important;
    font-family: DIN Bold !important;
    font-weight: 700;
}

@media (max-width:767px) {
    .no_price span {
        font-size: 4.8vw !important;
    }
}

@media (max-width:767px) {
    .model-title .share-btn {
        font-size: 3vw !important;
    }
}

.cta-btns a i {
    color: #666666 !important;
}

.cta-btns .call-now:hover i,
.cta-btns .quote:hover i {
    color: #DB0A00 !important;
}

.cta-btns .View-Details:hover {
    background: transparent !important;
    color: #DB0A00 !important;
    border-color: #DB0A00 !important;

}

.cta-btns .View-Details:hover i {
    color: #DB0A00 !important;
}

@media (max-width: 767px) {
    #products .sort-btn {
        font-size: 4.6 !important;
    }
}

#right-cta-buttons.affix {
    top: 6vw !important;
}

#imageGallery .lslide {
    border: 1px solid #D5D5D5;
    padding: 1vw;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.excludes {
    color: #7A7A7A !important;
}

.our-price-div {
    justify-content: flex-end !important;
}

.dealerAdsViewContainer {
    margin: 4vw !important;
}

#right-cta-buttons .view-preowned,
#right-cta-buttons .book-demo,
#right-cta-buttons .get-diretions {
    display: none !important;
}

@media(max-width:767px) {

    #right-cta-buttons .view-preowned,
    #right-cta-buttons .book-demo,
    #right-cta-buttons .get-diretions {

        display: none !important;
    }
}

#right-cta-buttons a:nth-child(10) {
    display: none !important;
}

@media(max-width:767px) {
    #right-cta-buttons a:nth-child(10) {
        display: none !important;
    }
}

#filters .filter-ttl {
    display: none !important;
}

.active-filter-container a.filter-collapse {
    background: #0C1421 !important;
    color: #D5D5D5 !important;
    padding: 0.75vw 1vw !important;
    border-color: #0C1421 !important;

}

a.filter-collapse {
    background: #D5D5D5 !important;
    padding: 0.7vw 1vw !important;
    border: 1px solid #FFF !important;
    color: #222222 !important;
    font-family: var(--secondary-font);
    text-transform: uppercase;
}

.filter-collapse-container {
    padding: 0 !important;
    border-bottom: unset !important;
}

.modernFilter li label {
    padding: 0.5vw !important;
    font-family: var(--main-font);
}

#filters .well {
    margin: 0 !important;
}

.filter-collapse-container:before {
    display: none !important;
}

.static-filter-active-container {
    background: #fff !important;
}

#right-cta-buttons,
#imageGallery .lslide {
    background: #FFFFFF !important;
    border: 1px solid #D5D5D5 !important;
    box-sizing: border-box !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05) !important;
    padding: 2vw;
}

#normal_vdp .back-btn {
    color: #DB0A00 !important;
    font-size: 1.25vw;
}

/*end inventory */
/*parts department */

#page_54361 .home-intro-img {
    text-align: center;
    padding: 2vw 3vw;
}

#page_54361 .two-logos-container {
    width: 90vw;
    margin: 0vw auto 0;
    text-align: center;
    border: none;
}

#page_54361 .two-logos-container a img {
    width: 13%;
    margin: 3vw 1vw 2vw;
}

.home-text-left::after {
    width: 12%;
    height: 6px;
    background-color: #DB0A00;
    top: calc(100% - 10px);
    left: 0vw;
    position: relative;
    content: "";
    display: block;
    margin: 0.5vw 0;
}

#page_54363 .BMR-image-container {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1vw;
}

.imgSpan {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.BMR-span {
    font-size: 1.2vw;
    font-family: DIN Bold;
}

/*privacy */
.home-intro-privacy {
    width: 90.5vw;
    float: none;
    margin: 1vw auto;
    max-width: 92.5vw;
}

.privacy-text {
    text-align: center;
    padding: 2vw;
    font-size: 1.2vw;
    font-weight: 400;

}

.privacy-head {
    color: #E50000;
    font-size: 2vw;
    text-transform: uppercase;
    padding: 0vw 2vw;
    font-family: DIN Bold
}

.privacy-paragraph {
    font-size: 1.2vw;
    font-weight: 400;
    padding: 0 1vw 1vw 2vw;

}

@media (max-width: 768px) {

    .privacy-paragraph,
    .privacy-text,
    .col-sm-6 ul li,
    .home-intro-privacy ul li {
        font-size: 3.2vw !important;
        font-family: 'Open sans';
    }
}

@media (max-width: 768px) {
    .privacy-head {
        font-size: 4.5vw !important;
    }
}

/*Search */
@media (min-width: 768px) {
    #searchModal .modal-dialog {
        width: 50%;
        top: 20vw;
    }
}

#searchModal .modal-dialog .modal-content {
    border: 0;
    border-radius: 0;
}

#searchModal .modal-dialog .modal-content .modal-body {
    padding: 0;
}

#searchModal .modal-dialog .modal-content .modal-body .input-group {
    display: flex;
    margin: 0;
    padding: 0;
    outline: none;
}

#searchModal .modal-dialog .modal-content .modal-body .input-group .form-control {
    width: 100%;
    height: 5vw;
    border-radius: 0;
    font-size: 2vw;
    font-weight: 600;
    margin: 0;
}

#searchModal .modal-dialog .modal-content .modal-body .input-group .input-group-btn {
    width: 5vw;
}

#searchModal .modal-dialog .modal-content .modal-body .input-group .input-group-btn button {
    height: 5vw;
    width: 5vw;
    border-radius: 0;
    background-color: #E50000;
    color: #fff;
    transition: all ease-in-out 0.2s;
}

#searchModal .modal-dialog .modal-content .modal-body .input-group .input-group-btn button i {
    font-size: 2vw;
}

.fa-search:before {
    content: "\f002";
}

@media (max-width: 768px) {
    #searchModal .modal-dialog {
        top: 50vw;
    }
}

@media (max-width: 768px) {
    #searchModal .modal-dialog .modal-content .modal-body .input-group .form-control {
        height: 14vw;
    }
}

@media (max-width: 768px) {
    #searchModal .modal-dialog .modal-content .modal-body .input-group .form-control::placeholder {
        font-size: 3vw;
    }
}

@media (max-width: 768px) {
    #searchModal .modal-dialog .modal-content .modal-body .input-group .input-group-btn {
        width: 20vw;
    }
}

@media (max-width: 768px) {
    #searchModal .modal-dialog .modal-content .modal-body .input-group .input-group-btn button {
        height: 14vw;
        width: 18vw;
        margin: 0
    }
}

@media (max-width: 768px) {
    #searchModal .modal-dialog .modal-content .modal-body .input-group .input-group-btn button i {
        font-size: 6vw;
    }
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #E50000;
}

.filter-collapse-container.Color li {
    text-transform: capitalize;
}

#color label {
    text-transform: lowercase;
}

#color .filter-text:first-letter {
    text-transform: uppercase;
}