._home-new-ads-section {
    background-color: #FFF;
    padding: 2vw 0;

    .container {
        padding: 0;

        .row {
            .col-md-12 {
                ul {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;

                    li {
                        margin: 1vw;
                        width: 20%;

                        a {
                            border: 3px solid #000;
                            display: block;
                            transition: all ease-in-out 0.25s;

                            img {
                                min-width: 100%;
                            }

                            &:hover {
                                border: 3px solid #ec555a;

                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 700px) {
        .container {
            padding: 0;

            .row {
                .col-md-12 {
                    ul {

                        li {
                            width: 47%;

                            a {

                                img {}
                            }
                        }
                    }
                }
            }
        }
    }
}