._category-list-container {
    padding: 1vw 3vw;

    ul {
        padding: 0;
        display: flex;
        justify-content: space-between;

        li {
            flex: 1;
            border-right: 1px solid var(--main-color);
            padding: 0 0.5vw;

            &:last-child,
            &:nth-last-child(2) {
                border-right: 0;
            }

            a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transition: all ease-in-out 0.25s;
                font-size: 1.1111111111111vw;
                font-weight: 400;
                color: var(--gray-13);

                &:hover {
                    color: var(--main-color);
                    text-decoration: none;
                }

                img {}

                span {}
            }
        }
    }

    @media screen and (max-width: 767px) {
        ul {
            padding: 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            li {
                flex: 1 1 50%;
                border-right: 0;
                padding: 5px;

                a {
                    font-size: 16px;
                    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
                    padding: 10px;
                    height: 100%;

                    &:hover {
                        color: var(--main-color);
                        text-decoration: none;
                    }

                    img {}

                    span {}
                }
            }
        }
    }
}


._brands-list-container {
    ul {
        padding: 1vw;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        li {
            flex: 1 1 20%;
            border-right: 1px solid var(--white);

            a {
                display: flex;
                flex-direction: column;
                font-size: 1.1111111111111vw;
                font-weight: 400;
                color: var(--gray-13);
                transition: all ease-in-out 0.25s;
                min-height: 20vh;
                align-items: center;
                min-height: 25vw;
                align-items: center;

                span {
                    &.content {
                        position: relative;
                        width: 100%;
                        height: 80% !important;
                        flex: 1;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-image: url('/site-uploads/1001425/images/segway.jpg');

                        >span,
                        >img {
                            position: absolute;
                            top: 85%;
                            left: 50%;
                            transform: translate(-50%, -85%);
                        }

                        img {
                            max-width: 75%;
                        }
                    }

                    &:last-child {
                        padding: 1vw 0.5vw;
                        font-weight: 400;
                        font-size: 1.1111111111111vw;
                        color: var(--gray-13);
                    }
                }

                &.Segway {
                    span {
                        &.content {
                            background-image: url('/site-uploads/1001425/images/_segway.jpg');
                        }
                    }
                }

                &.Massimo {
                    span {
                        &.content {
                            background-image: url('/site-uploads/1001425/images/Massimo.jpg');
                        }
                    }
                }

                &.Cruiser-RV {
                    span {
                        &.content {
                            background-image: url('/site-uploads/1001425/images/Cruiser-RV.jpg');
                        }
                    }
                }

                &.Hisun {
                    span {
                        &.content {
                            background-image: url('/site-uploads/1001425/images/Hisun.jpg');
                        }
                    }
                }

                &.TM-Racing {
                    span {
                        &.content {
                            background-image: url('/site-uploads/1001425/images/TM-Racing.jpg');
                        }
                    }
                }

                &.Apollo-Motorsports {
                    span {
                        &.content {
                            background-image: url('/site-uploads/1001425/images/Apollo-Motorsports.jpg');
                        }
                    }
                }

                &.Pitster-pro-Canada {
                    span {
                        &.content {
                            background-image: url('/site-uploads/1001425/images/Pitster-pro-Canada.jpg');
                        }
                    }
                }

                &.Heartland-RV {
                    span {
                        &.content {
                            background-image: url('/site-uploads/1001425/images/Heartland-RV.jpg');
                        }
                    }
                }

                &.Trailers {
                    span {
                        &.content {
                            background-image: url('/site-uploads/1001425/images/Trailers.jpg');
                        }
                    }
                }

                &.Dewalt {
                    span {
                        &.content {
                            background-image: url('/site-uploads/1001425/images/_Dewalt.jpg');
                        }
                    }
                }

            }
        }
    }

    @media screen and (max-width: 767px) {
        ul {
            padding: 1vw;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            li {
                flex: 1 1 50%;
                border-right: 1px solid var(--white);

                a {
                    display: flex;
                    flex-direction: column;
                    font-size: 1.1111111111111vw;
                    font-weight: 400;
                    color: var(--gray-13);
                    transition: all ease-in-out 0.25s;
                    align-items: center;
                    min-height: 60vw;
                    align-items: center;

                    span {
                        &.content {
                            position: relative;
                            width: 100%;
                            height: 80% !important;
                            flex: 1;
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center;

                            img {
                                max-width: 75%;
                            }
                        }

                        &:last-child {
                            padding: 10px 5px;
                            font-size: 14px;
                        }
                    }

                }
            }
        }
    }
}

._home_welcome_section {
    background: radial-gradient(34.55% 126.67% at 45.23% 40.83%, #4FE819 0%, #01C000 100%);

    .welcome-container {
        width: 90vw !important;
        padding: 5vw 0px 5vw 0vw;
        position: relative;
        // background-color: var(--white);

        @media screen and (max-width: 767px) {
            // padding-bottom: 70px;
        }

        .welcome-row {

            display: flex;
            flex-wrap: wrap;
            margin: auto;

            @media only screen and (max-width: 767px) {
                justify-content: space-between;
                align-items: baseline;
            }

            img {
                min-height: 100%;

                @media only screen and (max-width: 767px) {
                    height: auto;
                    margin: 2vw 0;
                    width: 100%;
                }
            }

            a {
                font-size: 1.25vw;
                padding: 1vw 1vw;
                margin-bottom: 0vw;
                background-color: var(--body);
                max-width: 200px;
                text-align: center;
                color: var(--white);
                text-transform: uppercase;
                text-decoration: none;
                transition: all ease-in 0.3s;
                border: 0.5px solid var(--body);
                border-radius: 6px;
                // font-family: Barlow;

                @media only screen and (max-width: 767px) {
                    font-size: 16px;
                    width: 60%;
                    margin: auto;
                    padding: 15px 15px;
                }

                &:hover {
                    color: var(--body);
                    background-color: var(--white);
                    border: 0.5px solid var(--body);
                }
            }

            .welcome-content {
                display: flex;
                flex-direction: column;
                position: relative;

                @media screen and (min-width: 991px) {
                    padding-left: 0;
                    padding-right: 0;

                    &.pl {
                        color: var(--black);
                    }

                    h2 {
                        color: var(--black) !important;
                        margin: 0 !important;
                    }

                    hr {
                        border-top: 4px solid var(--white) !important;
                    }
                }

                &.pl {
                    padding-left: 1.5vw;
                    justify-content: space-between;

                    @media only screen and (max-width: 767px) {
                        padding: 15px;
                    }
                }

                @media only screen and (max-width: 767px) {
                    align-items: center;
                    margin: 2vw 0;
                }

                h2 {
                    color: var(--black);
                    font-weight: bold;
                    font-size: 2.25vw;
                    // font-family: Barlow;
                    text-transform: uppercase;
                    margin: 0 0 0.75vw 0;

                    @media only screen and (max-width: 767px) {
                        font-size: 5.5vw;
                        margin: 0 0 3vw 0;
                        text-align: center;
                    }

                    @media only screen and (min-width: 768px) and (max-width: 991px) {
                        margin: 1vw 0 1vw 0;
                    }
                }

                h4 {
                    margin-top: 0;
                    font-size: 2vw;
                    text-transform: uppercase;

                    @media only screen and (max-width: 767px) {
                        font-size: 22px;
                    }
                }

                p {
                    font-size: 1.3vw;
                    font-weight: 400;
                    // font-family: Barlow;

                    &.red {
                        color: var(--main-color);
                    }

                    &:first-child {
                        text-align: center;
                    }

                    @media only screen and (max-width: 767px) {
                        font-size: 16px;

                        &:first-child {
                            text-align: center;
                        }
                    }
                }

                hr {
                    margin: 0px 0px 15px;
                    border-top: 4px solid var(--body);
                    width: 20%;
                }


            }
        }


    }
}

#page_56132 {
    .shopping_tools_section {
        .bottom_section {
            display: flex;
        }
    }
}

.shopping_tools_section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/site-uploads/1001425/images/home-main-bg.jpg');
    padding: 2.5vw 0;
    // position: relative;


    >h3 {
        margin: 0;
        color: var(--black);
        font-weight: 600;
        font-size: 2.0833333333333vw;
    }

    .footer-shortcut-links {
        padding: 3vw 0 5vw;

        ul {
            display: flex;
            padding: 0;
            width: 90%;
            margin: auto;

            li {
                flex: 1;
                border-right: 1px solid var(--gray-11);
                display: flex;
                justify-content: center;
                align-items: baseline;

                &:first-child() {
                    a {
                        padding: 2vw 0vw 2vw 0;
                    }
                }

                &:last-child() {
                    border-right: 0;
                }

                a {
                    display: flex;
                    color: var(--gray-222);
                    font-family: var(--main-font);
                    // padding: 2vw 1vw;
                    padding: 2vw 0vw 2vw 1vw;
                    width: 100%;

                    span {
                        &:nth-child(1) {
                            font-size: 2vw;
                            margin-right: 1vw;
                        }

                        &:nth-child(2) {
                            display: flex;
                            flex-direction: column;

                            span {
                                &:nth-child(1) {
                                    font-size: 1.25vw;
                                    font-weight: 500;
                                }

                                &:nth-child(2) {
                                    font-size: 1.1111111111111vw;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    .bottom_section {
        display: none;
        width: 90%;
        position: absolute;
        z-index: 1 !important;
        transform: translate(-50%, -20%);
        left: 50%;
        top: -5%;


        >div {
            flex: 1 1 50%;
            padding: 1vw 2vw;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h3 {
                margin: 0;
                font-weight: 600;
                font-size: 2.0833333333333vw;
                text-transform: uppercase;
            }

            &:first-child {
                background: #01C000;

                h3 {
                    color: var(--gray-13);
                }

                p {
                    font-size: 1.25vw;
                    font-weight: 400;
                    color: var(--gray-13);

                    a {
                        color: var(--gray-13);
                        text-decoration: underline;
                    }
                }


            }

            &:last-child {
                background: #009900;

                h3 {
                    color: var(--white);
                    margin-bottom: 1vw;
                }

                a {
                    font-size: 1.1111111111111vw;
                    font-weight: 400;
                    padding: 1vw 1vw;
                    margin-bottom: 0vw;
                    background-color: var(--gray-13);
                    color: var(--white);
                    max-width: 45%;
                    text-align: center;
                    text-transform: uppercase;
                    text-decoration: none;
                    border: 0.5px solid var(--gray-13);
                    border-radius: 6px;
                    transition: all ease-in 0.3s;
                }
            }
        }
    }

    @media screen and (max-width: 767px) {
        padding: 15px 0 100px;

        >h3 {
            margin: 0;
            font-size: 24px;
        }

        .footer-shortcut-links {
            padding: 3vw 0 5vw;

            ul {
                flex-direction: column;
                width: 100%;

                li {
                    border-bottom: 1px solid var(--gray-8);
                    border-right: 0;
                    justify-content: unset;
                    padding: 0 20px;
                    min-height: 100px;

                    &:last-child() {
                        border-bottom: 0;
                    }

                    a {
                        display: flex;
                        color: var(--gray-222);
                        font-family: var(--main-font);
                        padding: 2vw 0;

                        span {

                            &:nth-child(1) {
                                font-size: 24px;
                                padding-right: 15px;
                            }

                            &:nth-child(2) {
                                display: flex;
                                flex-direction: column;

                                span {
                                    &:nth-child(1) {
                                        font-size: 18px;
                                        font-weight: 500;
                                    }

                                    &:nth-child(2) {
                                        font-size: 16px;
                                        font-weight: 400;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }


        .bottom_section {
            // display: flex;
            flex-direction: column;
            width: 90%;
            position: absolute;
            z-index: 9999 !important;
            transform: translate(-50%, -20%);
            left: 50%;
            top: -15%;


            >div {
                flex: 1 1 50%;
                padding: 10px 15px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h3 {
                    font-size: 20px;
                }

                &:first-child {
                    background: #01C000;

                    h3 {
                        color: var(--gray-13);
                        margin-bottom: 10px;

                    }

                    p {
                        font-size: 18px;

                        a {
                            font-size: 18px;
                        }
                    }


                }

                &:last-child {
                    background: #009900;

                    h3 {
                        color: var(--white);
                        margin-bottom: 10px;
                    }

                    a {
                        font-size: 16px;
                        font-weight: 400;
                        padding: 10px;
                        margin-bottom: 0vw;
                        background-color: var(--gray-13);
                        color: var(--white);
                        max-width: 80%;
                        text-align: center;
                        text-transform: uppercase;
                        text-decoration: none;
                        border: 0.5px solid var(--gray-13);
                        border-radius: 6px;
                        transition: all ease-in 0.3s;
                    }
                }
            }
        }
    }
}