/* light-2021 Updates*/
.light2021 {

    a.filter-collapse {
        font-family: var(--secondary-font);
    }

    .modernFilter label {
        font-family: var(--secondary-font);
    }

    .cta-btns a,
    .model-title-link {
        font-family: var(--secondary-font) !important;
    }

    .show-item p {
        font-family: var(--main-font);
    }
}

#normal_vdp {}