@media(min-width:768px) {
    ._flex-container.contactUsContent {
        max-width: 50vw;
        margin: auto;

        h3 {
            padding: 2vw 0vw 0vw !important
        }

        .content-wrapper {
            margin-top: 2vw;
            font-size: 1.2vw;

            >div {
                margin-bottom: 2vw;
            }

            b {
                font-weight: bold;
            }
        }
    }

    .contactUsContent {
        hr {
            border-top: 1px solid #979797;
            width: 60%;

        }
    }
}

@media(max-width:767px) {
    ._flex-container.contactUsContent {
        max-width: 90%;
        margin: auto;

        h3 {
            padding: 2vw 0vw 0vw !important
        }

        .content-wrapper {
            margin-top: 2vw;
            font-size: 16px;

            >div {
                margin-bottom: 2vw;
            }

            b {
                font-weight: bold;
            }
        }
    }

    .contactUsContent {
        hr {
            border-top: 1px solid #979797;
            width: 90%;

        }
    }
}


._404-container {
    >div {
        width: 80%;
        margin: 5vw auto auto auto;
        background-color: #E8E8E8;
        padding: 2vw;
        border-radius: 20px;

        p {
            text-align: center;
            color: #231f20;
            font-family: GilroyBold;

            a {
                text-decoration: underline;
            }
        }
    }
}

.slider-overlay {
    position: absolute;
    height: 75%;
    z-index: 1;
    top: 25%;
    background-image: linear-gradient(180deg, rgba(247, 247, 247, 0), rgba(247, 247, 247, 100));
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: 100%;
}