header.top-header-wrapper
    .top-header.container
        nav.top-nav
            ul.main-menu
                
                li.item
                    a(href="#") 
                        <i class="fas fa-angle-up"></i>
                        <i class="far fa-user" style="font-size: 18px"></i>
                    ul.submenu
                        li.text-center
                            a(href="") إعدادات الحساب
                        li.text-center
                            a(href="") محفظتي
                        li.text-center
                            a(href="") تسجيل الخروج
                li.item
                    a(href="#") حسابي
                li.item
                    a(href="#") إرفع ملفك
                li.item
                    a(href="#") الرئيسية
                li#show-sidebar.toggle
                    span.bars
        a(href="/") 
            img.main-logo(src="./images/logo.png", alt="Main Logo")
    