/* Start sideTabs */
#sideTabs {
    display: none;

    @media (min-width:768px) {
        display: block;
        position: fixed;
        z-index: 15;
        top: 212px;
        left: 100%;
        width: -webkit-fill-available;
        width: -moz-available;
        width: 500px;
    }

    .tab-content {
        position: absolute;
        background-color: #fff;
        width: 300px;
        right: -300px;
        left: 0;
        transition: all ease-in-out .5s;

        &:nth-child(1) {
            z-index: 9;
            top: 0;
        }

        &:nth-child(2) {
            z-index: 8;
            top: 8.2vh;
        }

        &:nth-child(3) {
            z-index: 7;
            top: 16.4vh;
        }

        &:nth-child(4) {
            z-index: 6;
            top: 24.60vh;
        }

        &:nth-child(5) {
            z-index: 5;
            top: 32.8vh;
        }

        &:nth-child(6) {
            z-index: 4;
            top: 41vh;
        }
    }

    .tab-link {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 8vh;
        height: 8vh;
        top: 0;
        left: 0;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        line-height: 2.5;
        font-size: 1.5vw;
        background-color: var(--main-font-color);
        color: #CFCFCF;
        transition: all ease-in-out 0.25s;

        span.icon {
            width: 2.5vh;
            height: 2.5vh;
            background: var(--gray-3);

            &.lg {
                width: 4vh;
                height: 3vh;
            }

            &.search-icon {
                width: 2.5vh;
                height: 2.5vh;
            }

            &.motorcycle-icon {
                width: 4vh;
                height: 3vh;
            }

            &.car-icon {
                width: 4vh;
                height: 3vh;
            }

            &.cart-icon {
                width: 3vh;
                height: 2.75vh;
            }

            &.q-mark-icon {
                width: 2.5vh;
                height: 3.5vh;
            }

            &.facebook-icon {
                width: 1.75vh;
                height: 3vh;
            }

        }

        i {
            font-size: 3vh;
        }

        &:hover {
            background-color: var(--main-color);

            span.icon {
                background: var(--white);
            }
        }

    }
}

#sideTabs #panelWeather>iframe {
    max-height: 400px
}

#sideTabs .tab-link:hover {
    color: #fff
}

#sideTabs .tab-link>img {
    width: 4.5vh;
}


#sideTabs #panelHours .hours-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

#sideTabs #panelHours .hours-container .hour-item {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 2vh;
    color: var(--main-color);
    font-weight: 700;
    padding: .75vw .5vw;
    border-bottom: 1px solid var(--main-color);
    transition: all ease-in-out .3s;

    &:hover {
        color: var(--white);
        background-color: var(--main-color);
    }
}


#sideTabs #panelCovid {
    height: 8vh;

    a:nth-child(1) {
        font-size: 1.75vw;
        font-weight: 700;
        color: var(--secondary-color);
        background-color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        transition: all ease-in-out 0.25s;

        &:hover {
            color: var(--body);
            text-decoration: none;
        }
    }
}

#sideTabs #panelPartsFinder {
    .panelPartslookupContent {
        padding-top: 1vw;
        padding-bottom: 1vw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        h2 {
            color: var(--body);
            margin: 0;
        }

        div.flex-row {
            justify-content: center;

            a {
                display: block;
                padding: 0.5vw 0.75vw;
                border: 1px solid;
                text-align: center;
                color: var(--main-color);
                background-color: var(--white);
                transition: all ease-in-out 0.25s;
                max-height: 4vw;

                &:hover {
                    background-color: var(--main-color);
                    color: var(--white);
                    text-decoration: none;
                }
            }
        }
    }
}

/* End sideTabs */