.checklist-filter .search-form,
.order-drop,
.ads-per-page {
  display: none !important;
}

.cke_editable .tab-content>.tab-pane {
  display: block;
  opacity: 1;
}

.align-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-up a {
  padding: 15px;
  background: #c00;
  color: #fff;
  transition: 0.25s ease-in-out;
}

.button-up a:hover {
  padding: 15px;
  background: #4b4b4b;
  color: #fff;
  transition: 0.25s ease-in-out;
}

.button-up {
  text-align: center;
}

#boxes span {
  display: block;
  padding: 15px;
}

#boxes {
  font-family: Oswald;
  text-transform: uppercase;
  padding: 0px;
}

#boxes a {
  background-color: #1a1a1a;
  color: #f1f1f1;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

#page_51259 .breadcrumbParent {
  margin-bottom: 1vw;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: #cb0002;
  border-color: #cb0002;
}

.pagination>li>a,
.pagination>li>span {
  color: #cb0002
}

.JCB-promotion .promoName {
  background-color: #262626;
  color: #fff;
  font-size: 2vw;
  font-weight: 800;
  padding: 4vw 2.5vw !important;
  box-sizing: border-box;
  line-height: 2vw;
  width: 100%;
}

a[aria-controls="sales-people"] {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: none !important;
  background-color: #fff !important;
  color: #000;
  background-repeat: no-repeat !important;
  font-family: 'Barlow', sans-serif;
  font-size: 1.2vw;
  font-weight: 600;
  overflow-x: hidden;
  font-weight: 500;
}

.book-demo,
#page_51731 .view-preowned {
  display: none !important;
}

#right-cta-buttons.affix {
  z-index: 2;
}

.model-title-link:after {
  left: 18px !important;
}

#html_1634168176911 {
  color: #323232;
  background-color: rgba(255, 255, 255, .8);
}

.model-title-link:after {
  left: 18px !important;
}

.feature-title h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw 0;
  //color:#323232;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}

.feature-title h1 small {
  margin: 0 .5vw;
}

#home-content h1 {
  margin-top: 0;
  padding-top: 0;
}

#html_1590436000576 {
  color: #323232;
  background-color: rgba(255, 255, 255, 0.8);
}

#html_1590437518206 {
  color: #fff;
}

#comp_1634167488208 {
  background-color: rgba(255, 255, 255, 0.8);
}

#comp_1634167488208 .row {
  max-width: 90vw;
  margin: 0 auto;
  padding: 1.2vw 0;
}

#comp_1634167488208 .gallery {
  height: 25vw !important;
  display: flex;
}

#comp_1634167488208 .text-info {
  color: #323232;
}

#comp_1634167488208 .lightSlider li {
  border: 3px solid #323232;
  min-height: 23.5vw;
  padding: 1.2vw;
  overflow: hidden;
  background-color: #fff;
}

#comp_1634167488208 .lightSlider li:focus,
#comp_1634167488208 .lightSlider li:hover {
  border: 3px solid #ec555a;
}

#comp_1634167488208 .lightSlider li {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#comp_1634167488208 .lightSlider li div span:last-child {
  font-size: 2vw;
  font-weight: 900;
}

#comp_1634167488208 .lSAction>a {
  background-color: #323232;
  background-image: url(/site-uploads/1001249/Images/controls.png);
}

#comp_1634167488208 .lSAction>.lSPrev {
  left: 0;
}

#comp_1634167488208 .lSAction>.lSNext {
  right: 0;
}

#comp_1634167488208 .sale-price {
  display: none;
}


.video-background {
  height: 100vh;
  object-fit: cover;
}

.video-background video {
  object-fit: cover;
  height: 100vh;
  width: 100vw;
}

.web-title {
  margin: 0;
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.web-title h1 {
  font-size: 4vw;
  font-weight: 900;
  text-shadow: 1px 1px 4px #000;
  color: #fff;
  text-transform: uppercase;
}

.web-title h5 {
  font-size: 2vw;
  font-weight: 800;
  text-shadow: 1px 1px 4px #000;
  color: #fff;
  font-family: 'Birthstone', cursive !important;
}

#comp_1633979585794 #Buttons {
  width: auto;
  margin: 0 auto;
  float: none;
  padding: 5px;
  clear: both;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 17.7vw;
}

#comp_1633979585794 .SendCopyCheck,
#comp_1633979585794 .btn-default {
  display: none;
}

#comp_1633979585794 .btn-primary {
  background: linear-gradient(180deg, #282828 0%, #000 100%) !important;
}

#comp_1633979585794 .btn-primary:hover,
#comp_1633979585794 .btn-primary:focus {
  background: linear-gradient(180deg, #000000 -21.43%, #CC0000 49.91%, #000000 124.29%) !important;
}


:root {
  --dealer-color: #000 !important;
  --bg-color: #fff !important;
  --border-color: #CFCFCF !important;
  --light-bg-color: #F0F0F0 !important;
}

.about-us-sec {
  margin: 2em 0;
}

.about-us-sec h1 {
  font-family: 'Barlow', sans-serif !important;
  text-transform: uppercase;
  font-weight: 800;
  text-shadow: 1px 1px 2px;
  color: #CC0000;
}

.about-us-sec .about-hr {
  border-top: 4px solid #CC0000;
  width: 17rem;
  margin-left: 0;
}


.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  color: #fff;
  background-color: #000;
}


#copyright {
  background: #000;
  padding: .6em 1em .8em 1em;
}

.thumbnailStatus.text-center {
  display: none;
}

.side-links {
  position: relative;
}

.total-items {
  background: #9E9E9E;
  border-radius: 50%;
  padding: 3px 8px 4px 8px;
  color: #fff;
  position: absolute;
  font-size: 13px;
  right: 0vw;
  top: -1vw;
  font-weight: 500;
}

.videos-sec .video-title {
  text-align: center;
  margin: 1vw;
}

#nav_57283 {
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;
}

.phones {
  left: -7em;
  top: 3em;
}

.nav-logo {
  margin: 1vw 0 1vw 4vw;
}

.nav-icons {
  margin: 0 0 1vw 4vw;
}

.nav-logo img {
  max-width: 9vw;
}

.nav-icons-flex {
  display: flex;
}

.nav-icons-flex .main-left-icons {
  color: #000 !important;
  font-size: 2vw;
  margin: .5vw .7vw 0 1vw;
}

.nav-icons-flex .main-left-icons:hover {
  transition: .2s all;
  transform: scale(1.2) !important;
}

.nav-icons {
  position: absolute;
  right: 2.3em;
}

.nav-icons ul.first-ul {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1vw;
}

.nav-icons ul.first-ul li span.icon-title {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.6vw;
}

.slider-banner {
  background: linear-gradient(180deg, #000000 -21.43%, #CC0000 49.91%, #000000 124.29%);
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 36vw;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.slider-banner .banner-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-banner .banner-link:nth-child(1)::after {
  content: "";
  background-color: rgba(207, 207, 207, 0.5);
  height: 3vw;
  display: block;
  width: 1px;
  background-color: #fff;
  position: absolute;
  left: 29.65vw;
}

.slider-banner a {
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
  padding: 1.7vw 8.1vw;
  transition: .3s ease-in all;
}

.slider-banner a:hover,
.slider-banner a:focus {
  color: #fff;
  background: linear-gradient(180deg, #282828 0%, #000 100%);
}

.second-section {
  display: flex;
  border-top: 1px solid #fff;
}

.section-block {
  width: 33.3333%;
}

.section-block-50 {
  width: 50%;
}

.section-block {
  border-right: 1px solid #BBBBBB;
  padding-bottom: 3.5em;
  background: #fff;
}

.section-block:nth-child(2) {
  border-left: 1px solid #BBBBBB;
  border-right: 1px solid #BBBBBB;
}

.section-block:nth-child(2) .top-block {
  border-right: 1px solid #fff;
}

.second-section .section-block:nth-child(1) .top-block {
  background-image: url(/site-uploads/1001349/Images/stoltz-bg-new.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.second-section .section-block:nth-child(2) .top-block {
  background-image: url(/site-uploads/1001349/Images/hub-inter-new.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.second-section .section-block:nth-child(3) .top-block {
  background-image: url(/site-uploads/1001349/Images/stoltz-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.second-section .top-block .shadow {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 6.5rem 4rem;
}

.second-section .body-block h1 {
  color: #000;
  font-size: 1.85vw;
  font-weight: 800;
  text-transform: uppercase;
  padding: 0.5vw 0 .8vw 0;
}

.second-section .body-block h1::after {
  content: "";
  height: 3px;
  display: none;
  width: 71px;
  background-color: #000;
  position: absolute;
  margin-left: 5.9vw;
  margin-top: .5vw;
  margin-bottom: 1vw;
}

.second-section .section-block-50 .body-block h1::after {
  margin-left: 14vw;
}

.second-section .section-block:nth-child(2) .body-block h1::after {
  margin-left: 2.7vw;
}

.second-section .section-block-50:nth-child(2) .body-block h1::after {
  margin-left: 11vw;
}

.second-section .body-block hr {
  border-top: 2px solid #000;
  width: 20%;
  margin-left: 5vw;
}

.second-section .section-block:nth-child(2) table {
  width: 82%;
}

.second-section .section-block-50:nth-child(2) table {
  width: 54%;
}

.locations table td {
  padding: .3vw 4vw .3vw 0;
}

.locations table a {
  color: #313131;
}

.locations table a:hover {
  color: #313131;
  text-decoration: underline;
}

.logos table {
  border: 1px solid #BBBBBB;
  min-width: 63%;
  margin: 1vw 0;
}

.logos table img {
  width: 4em;
}

.logos table a:hover img {
  transition: .2s all;
  transform: scale(1.2) !important;
}

.section-block-50 .logos table {
  width: 42%;
}

.logos table td {
  border: 1px solid #BBBBBB;
  padding: .7em;
  text-align: center;
}

.contact-btns {
  display: flex;
  margin-top: 1.7vw;
}

.contact-btns a {
  background: linear-gradient(180deg, #FFFFFF 0%, #F1F1F1 100%);
  border: 1px solid #CFCFCF;
  box-sizing: border-box;
  border-radius: 0px;
  color: #313131;
  text-transform: uppercase;
  margin: 1vw;
  padding: 2vw 1vw;
  font-weight: 700;
  width: 50%;
  text-align: center;
}

.contact-btns a:nth-child(1) {
  margin-right: 1vw;
}

.contact-btns a:nth-child(2) {
  margin-left: 1vw;
}

.contact-btns a:hover,
.contact-btns a:focus {
  transition: .3s ease-in all;
  background: linear-gradient(180deg, #000000 -21.43%, #CC0000 49.91%, #000000 124.29%);
  color: #fff;
}

#comp_1629831468105 .lslide {
  max-width: 17em !important;
}

.nav>li>a:focus,
.nav>li>a:hover {
  color: #282828;
}

.para-buttons {
  padding: 1vw;
}

.para-buttons a {
  font-size: 2vw;
  font-family: 'Barlow', sans-serif;
  padding: 1.5vw 2vw;
  display: block;
  background: #000;
  color: #fff;
  width: 100%;
  text-align: center !important;
  margin: 2vw 0;
}

.para-buttons a:hover,
.para-buttons a:focus {
  background: #f1f1f1;
}

.main-slider-div img {
  width: 14vw;
}

#parent,
#HeaderDiv,
#CenterDiv,
#FooterDiv {
  width: 100% !important;
  float: none;
}

#HeaderDiv {
  background-color: #fff;
  color: #282828;
  border-top: 4px solid #282828;
}

#HeaderDiv>div {
  margin: 0 auto;
  float: none;
}

#HeaderDiv .container {
  padding: 1.2vw 1.2vw 1.4vw 1.2vw;
}

.container {
  width: 100%;
  max-width: 90vw;
  padding: 0 1.2vw;
}

.container-fluid {
  padding: 0 0 0 0;
}

.row {
  margin: 0 0 0 0;
}

.col,
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  padding: 0 1.2vw !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1vw;
  margin-bottom: 1vw;
}

h2 {
  font-size: 1.8vw;
}

h3 {
  font-size: 1.6vw;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #000;
  text-decoration: none;
}

.clearfix {
  clear: both;
}

::-webkit-scrollbar {
  width: 12px;
}

#comp_1629831468105 .text-info {
  color: #000 !important;
}

#myCarouselLogosDesktop {
  display: block;
  filter: drop-shadow(0px -2px 4px rgba(0, 0, 0, 0.15));
  background: #fff;
  width: 100%;
  z-index: 20;
  height: 7.5vw;
  min-height: 7.5vw !important;
}

#myCarouselLogosDesktop .add-sec {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2.5vw;
}

#myCarouselLogosDesktop a:hover {
  transition: .2s all;
  transform: scale(1.2) !important;
}

#myCarouselLogosDesktop .carousel-control.right,
#myCarouselLogosDesktop .carousel-control.left {
  background-image: none;
  width: 3vw;
}

#myCarouselLogosDesktop i {
  color: #000;
  margin-top: 3vw;
}

.specs-btn-parent::after,
.specs-btn-parent::before {
  background: #CFCFCF !important;
  border: 1px solid #CFCFCF !important;
  box-sizing: border-box !important;
}

#shortlines {
  text-align: center;
}

#shortlines a {
  display: block;
  padding: 15px;
  margin: 15px;
  color: #222;
  border: 1px solid #ccc;
}

#shortlines span {
  display: block;
}

#shortlines a:hover,
#shortlines a:focus {
  border-color: #222;
  text-decoration: none;
}

.item.list-group-item .thumb {
  background: linear-gradient(180deg, #FFFFFF 61.94%, #F1F1F1 141.42%) !important;
  border: 1px solid #CFCFCF !important;
  box-sizing: border-box !important;
}

#filters {
  background-color: #F0F0F0 !important;
  border: 1px solid #CFCFCF !important;
}

.thumb .price-oem {
  margin-bottom: 1vw;
  font-weight: 900 !important;
}

.specs-btn span {
  background: linear-gradient(180deg, #FFFFFF 61.94%, #F1F1F1 141.42%) !important;
  border: 1px solid #CFCFCF !important;
  box-sizing: border-box !important;
}

.grid-group-item {
  margin-bottom: 2vw;
}

.grid-group-item .price {
  margin-top: 1vw;
}

.grid-group-item .cta-btns {
  flex-direction: column;
}

.grid-group-item .cta-btns a.main-btn i {
  padding-left: .5vw;
}

.logos a:hover {
  transition: .2s all;
  transform: scale(1.2) !important;
}

.title-slider h1 {
  font-family: 'Barlow', sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 2.6vw;
  line-height: 1vw;
  margin: 3.5vw 0;
  color: #000;
}

#myCarouselHappy i {
  margin-top: 12vw;
  color: #000;
  font-size: 2.5vw;
}

#myCarouselHappy {
  border: 1px solid #BBBBBB;
  padding: 2vw 1vw;
}

#myCarouselHappy .carousel-control.right,
#myCarouselHappy .carousel-control.left {
  background-image: none !important;
}

.happy-block p,
.happy-block h4 {
  color: #282828;
}

.bg-shadow {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 50vw;
  left: -20vw;
  z-index: -1;
  top: -27vw;
}

.main-slider-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7vw;
}

.carousel-caption .first-span {
  font-family: 'Caveat', cursive !important;
  font-style: normal;
  font-weight: 700;
  font-size: 3.5vw;
  line-height: 5.7vw;
  margin-left: .5vw;
  color: #fff;
}

.carousel-caption .second-span {
  font-family: 'Barlow', sans-serif !important;
  font-style: normal;
  font-weight: normal;
  font-size: 4.5vw;
  line-height: 4.7vw;
  text-transform: uppercase;
  color: #fff;
}

.carousel-caption .link-span {
  font-size: 1.2vw !important;
  padding: 1.5vw 2vw;
  display: block !important;
  background: #000 !important;
  color: #fff !important;
  width: 40% !important;
  text-align: center !important;
  margin: 2vw 0;
}

.right-arrows {
  margin-left: 5px;
  color: #fff !important;
  font-weight: 900;
}

#myCarouselFooter i {
  margin-top: 5.5vw;
  color: #000;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

::-webkit-scrollbar-thumb {
  background: #4c4c4c;
}

::-webkit-scrollbar-thumb:hover {
  background: #000;
}

.navbar-default {
  transition: .3s all;
}

.navbar-default .navbar-nav>li>a {
  font-family: 'Barlow', sans-serif;
  font-style: normal;
  font-size: 1.2vw;
  line-height: 1.5vw;
  text-transform: uppercase;
  color: #282828 !important;
  transition: .4s all;
  border-right: 1px solid #CFCFCF;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img {
  line-height: 1;
  width: 100%;
}

#myCarouselAdsDesktop {
  margin: 1vw 0;
}

#myCarouselAdsDesktop .fa.fa-arrow-circle-o-right {
  margin-left: 7vw;
  margin-top: 6vw;
}

#myCarouselAdsDesktop .fa.fa-arrow-circle-o-left {
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
  margin-top: 6vw;
  margin-right: 7vw;
}

#myCarouselAdsDesktop .add-sec,
#myCarouselAdsMobile .add-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#myCarouselAdsDesktop span,
#myCarouselAdsMobile span {
  display: grid;
  color: #000;
  text-align: center;
}

#myCarouselAdsMobile .add-sec a {
  margin: 2vw 1vw;
}

#myCarouselAdsMobile .fa.fa-arrow-circle-o-right {
  margin-top: 16vw;
}

#myCarouselAdsMobile .fa.fa-arrow-circle-o-left {
  margin-top: 16vw;
}

ul {
  padding-left: 0;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #fff !important;
  background-color: #000;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 1vw;
}

.formsParent {
  width: 94% !important;
  margin: 0 auto !important;
  float: none !important;
}

.adForm h2 {
  font-family: 'Barlow', sans-serif !important;
  padding: 1vw !important;
}

.formsParent .btn {
  padding: 1vw 2vw !important;
  color: #fff !important;
  background-color: #000 !important;
  text-transform: uppercase !important;
  border-radius: 0 !important;
  border-color: #f1f1f1 !important;
}

.formsParent .btn:hover {
  background-color: #000 !important;
}

.about-sec h1 {
  font-family: 'Barlow', sans-serif !important;
  text-transform: uppercase;
}

.about-sec .about-hr {
  border-top: 4px solid #000;
  width: 10%;
  margin: 0 0 1.2vw 0;
}

.middle-top img {
  border-right: 1px solid;
  border-left: 1px solid #000;
  padding: 0 8vw;
}

.breadcrumbParent {
  min-height: 60px;
  font-family: 'Barlow', sans-serif;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(180deg, #0000009e -21.43%, #4a4a4a 49.91%, #00000061 124.29%), url(/site-uploads/1001349/Slider/desktop-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #282828;
  padding: 2vw 7vw 2vw 6.4vw !important;
  border-top: 0.1vw solid #ddd;
  font-weight: 500;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);
  margin-bottom: 2.5vw;
}

.breadcrumbParent h2 {
  font-size: 2.4vw;
  color: #fff;
  font-weight: 550;
  margin: 0;
  flex: 1;
  text-transform: uppercase;
}

.breadcrumbParent .breadcrumb {
  font-size: 1.1vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  background-color: transparent;
}

.breadcrumb>li {
  display: inline-block;
}

.breadcrumbParent .breadcrumb a {
  color: #fff !important;
}

.panel-heading h2 {
  font-size: 1.7vw;
  margin: 8px auto;
  font-family: 'Barlow', sans-serif
}

.loc-link {
  display: block;
}

.loc-link-2 {
  margin-top: .5vw;
}

.loc-link:hover,
.btn-call-small:hover {
  background-color: #f1f1f1;
  color: #282828;
}

.navbar-default {
  background-color: #FFFFFF !important;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15) !important;
  border-color: #fff !important;
  border-radius: 0 !important;
  margin-bottom: 0 !important;
  border: none !important;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

#top-nav-section {}

.cont-top-adjust {
  padding: .6vw 2.5vw 0.4vw 2.5vw !important;
  background: linear-gradient(217deg, rgb(255 254 255 / 1), rgb(255 255 255 / 50%)), url(/site-uploads/1001342/Images/top-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.get-dir {
  margin-left: 2.5vw;
}

.map-hours-top {
  font-family: 'Barlow', sans-serif;
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8vw;
  line-height: 2.7vw;
  text-align: right;
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
}

.top-address {
  font-style: normal;
  font-weight: 600;
  font-size: 1.2vw;
  line-height: 1vw;
  text-align: right;
  text-transform: uppercase;
  display: block;
  margin-top: 0.5vw;
  color: #000;
}

.social-top-div {
  display: flex;
  justify-content: flex-end;
}

.social-top-div a {
  font-size: 2.55vw;
  color: #000;
}

.social-top-div a:nth-child(1) {
  margin: 0 2vw;
}

.social-top-div a:nth-child(2) {
  margin-right: -.5vw;
}

.header-location hr {
  margin-top: 20px;
  margin-bottom: 0px;
  border-top: 1px solid #000;
  width: 87%;
  margin-left: 3vw;
  margin-right: auto;
}

.top-mob a {
  font-family: 'Barlow', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8vw;
  line-height: 2.7vw;
  ;
  text-align: right;
  color: #000;
  font-weight: 500;
  display: flex;
}

.top-mob .txt-top {
  font-family: 'Caveat', cursive !important;
  font-style: normal;
  font-weight: normal;
  font-size: 2.2vw;
  line-height: 2.7vw;
  margin-left: .5vw;
  color: #000 !important;
}

.top-mob-col hr {
  margin-top: 20px;
  margin-bottom: 12px;
  border-top: 1px solid #000;
  width: 84%;
  margin-right: 8vw;
}

.search-div {
  display: flex;
  position: relative;
}

.search-div #searchbtn {
  background-color: #000 !important;
  -webkit-border-top-right-radius: 4px;
  color: #fff;
  -webkit-border-bottom-right-radius: 4px !important;
  -moz-border-radius-topright: 4px !important;
  -moz-border-radius-bottomright: 4px !important;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  -webkit-border-bottom-left-radius: 0px !important;
  -moz-border-radius-topleft: 0px !important;
  -moz-border-radius-bottomleft: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.images-sec {
  background: #000;
  padding: 2vw 0;
}

.images-sec .imges-txt {
  display: flex;
  justify-content: space-between;
}

.images-sec .imges-txt .block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: .25s all;
}

.images-sec .imges-txt .block:hover {
  transform: scale(1.2) !important;
}

.images-sec-m {
  margin-bottom: 0.5vw;
}

.images-sec .imges-txt span {
  font-size: 1vw;
  line-height: 1vw;
  text-align: center;
  text-transform: uppercase;
  display: block;
  color: #FFFFFF;
  margin-top: .4vw;
}

.home-para {
  display: flex;
  margin: 1vw 0;
}

.para-home {
  background: #000;
  padding: 2vw;
  color: #fff;
}

.para-home h1 {
  font-family: 'Barlow', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.6vw;
  line-height: 1vw;
  margin-bottom: 2vw;
}

.para-home p {
  font-family: 'Barlow', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25vw;
  line-height: 1.7vw;
  color: #FFFFFF;
  margin: 1.5vw 0;
}

.title-mob {
  display: none;
}

.footer {
  background: url(/site-uploads/1001342/Images/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2.5vw;
}

.footer a {
  color: #fff;
}

.footer .row h1 {
  font-family: 'Barlow', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2vw;
  color: #fff;
  white-space: nowrap;
}

.footer .row p {
  font-family: 'Barlow', sans-serif;
  color: #fff;
}

.social-top-footer {
  display: flex;
  justify-content: flex-start;
}

.social-top-footer a {
  font-size: 2vw;
  color: #fff;
}

.footer hr {
  border-top: 1px solid rgba(204, 204, 204, 0.3);
}

.hours-days {
  font-weight: 700;
}

.para-home-mob {
  display: none;
}

.to-up-container {
  position: relative;
  height: 50px;
}

.to-up-container a.to-up {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #7f7d7d;
  -webkit-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}

.to-up-container i {
  padding-left: 4px;
}

.to-up-container a.to-up:hover {
  color: #000;
  margin-bottom: 10px;
}

#logos-sec {
  background: #fff;
  padding: 2vw 4vw;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.15);
}

.categories-container {
  background: #ffffff !important;
  background-image: none !important;
  padding: 3vw 0;
}

.categories-container-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 1em 0;
}

.categories-container-item .cat {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 7px solid #ddd;
  color: #000;
  font-size: 2vw;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 1.5vw;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.categories-container-item .cat:hover {
  border-bottom: 7px solid #000 !important;
}

.categories-container-item a img {
  object-fit: contain;
}

.categories-container-item {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.categories-container-item a img:nth-child(1) {
  object-fit: contain;
}

.categories-container-item a .logo-img {
  object-fit: contain;
  position: absolute;
  top: 5px;
  background: #ffffffe0;
  padding: 4px;
  border-radius: 5px;
  right: 6px;
}

.categories-container-item .cat span {
  font-weight: 900;
  white-space: nowrap;
  font-family: 'Barlow', sans-serif;
}

.lines-head {
  font-family: 'Barlow', sans-serif;
  white-space: nowrap;
}

.categories-container-item>div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  justify-content: space-between;
  width: 100%;
}

.categories-container-item .new {
  background: #000;
  color: #fff !important;
  padding: .8em 1.5em;
  font-size: .85em;
}

.categories-container-item .new:hover {
  background-color: #000 !important;
  color: #f1f1f1 !important;
}

.categories-container-item .used {
  padding: .8em 2.5em .8em 1em;
}

.categories-container-item .used:hover {
  color: #000 !important;
}

.categories-container-item .new,
.categories-container-item .used {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
  font-size: .85em;
  text-decoration: none;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}

.categories-container-item .new span:nth-child(2),
.categories-container-item .used span:nth-child(2) {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 4px;
  display: none;
}

.hors li span:nth-child(2) {
  float: right;
}

.sm-footer {
  display: none;
}

.d-block-bl {
  display: block !important;
}

.our-lines {
  display: none;
}

.para-home p a {
  color: #ddd !important;
}

.faq .categories-container-item div .used {
  color: #000 !important;
}

.buttons-container {
  display: none;
}

.search-modal-desktop {
  display: none;
}

.career-nav-tabs {
  border-bottom: 1px solid #ddd;
  box-shadow: 1px 0px 8px #e1dede;
}

.career-nav-tabs {
  border-bottom: 1px solid #ddd;
  background: #e1dede;
}

.career-nav-tabs li {
  width: 100% !important;
  border-bottom: 1px solid #8e8c8c;
}

.career-nav-tabs li a {
  margin-right: 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
}

#Career h2 {
  margin: .7em;
}

#Career a {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-weight: 800;
  padding: 1rem;
  transition: .3s ease-in all;
  background: linear-gradient(180deg, #000000 -21.43%, #CC0000 49.91%, #000000 124.29%);
  font-size: 2.5rem;
  margin: 1em 0;
  display: block;
}

#Career a:hover,
#Career a:focus,
#Career a:active {
  background: linear-gradient(180deg, #282828 0%, #000 100%);
  color: #fff;
}

#search-section {
  display: flex;
  background: #fff;
  justify-content: center;
  padding: 1.5vw 1vw 1.5vw 2.8vw;
  margin: 69vh 0 0 0;
  border-bottom: 4px solid #ddd;
  border-top: 4px solid #ddd;
}

.search-section {
  margin-right: 2vw;
}

#search-section .new-inv-sec a {
  display: block;
  color: #fff;
  transition: .4s all;
  background: linear-gradient(180deg, #000000 -21.43%, #CC0000 49.91%, #000000 124.29%);
  text-transform: uppercase;
  text-align: center;
  padding: 1vw;
  margin: 0 1vw;
}

#search-section .new-inv-sec a:hover,
#search-section .new-inv-sec a:focus {
  background: linear-gradient(180deg, #282828 0%, #000 100%);
}

.serach-part {
  width: 85%;
}

.search-div {
  width: 100%;
}

#search-section .search-section span:nth-child(1) {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  font-size: 2vw;
}

#search-section .search-section span:nth-child(2) {
  display: block;
  color: #7a7878;
  text-transform: uppercase;
  font-size: 1.5vw;
  margin-top: -.4vw;
}

#search-section .used-inv-sec a {
  transition: .4s all;
  display: block;
  color: #fff;
  background: linear-gradient(180deg, #000000 -21.43%, #CC0000 49.91%, #000000 124.29%);
  text-transform: uppercase;
  text-align: center;
  padding: 1vw;
  margin: 0 2vw 0 0vw;
}

#search-section .used-inv-sec a:hover,
#search-section .used-inv-sec a:focus {
  background: linear-gradient(180deg, #282828 0%, #000 100%);
}

#search-section .new-inv-sec a span:nth-child(1) {
  display: block;
}

#search-section .new-inv-sec a span:nth-child(2) {
  display: block;
  font-weight: bold;
}

#search-section .used-inv-sec a span:nth-child(1) {
  display: block;
}

#search-section .used-inv-sec a span:nth-child(2) {
  display: block;
  font-weight: bold;
  color: #ddd;
}

.search-div {
  margin-top: .3vw;
  clear: both;
  display: flex;
  flex-flow: row-reverse;
}

.search-div .input-group-btn {
  position: absolute;
  font-size: 0;
  white-space: nowrap;
  width: 0;
  right: 0;
  border: 1px solid;
  border-left: 0;
  background: #fff;
}

#searchbtn {
  float: right;
  border-radius: 0;
  margin: 0 !important;
  background-color: #fff !important;
  outline: 0;
  border: none;
  box-shadow: none;
  text-shadow: none;
  padding: .5vw 2vw .55vw .5vw;
  outline: 0;
}

.search-div #searchbtn {
  background-color: #fff !important;
}

#searchbtn .glyphicon {
  width: 1.2vw;
  font-size: 1.5vw;
  padding: 0;
  border: 0;
  color: #000;
  outline: 0;
}

.search-div .dropdown-menu {
  left: auto;
  right: 0;
}

.search-div {
  margin-top: .3vw;
  clear: both;
  display: flex;
  flex-flow: row-reverse;
  height: 5vw;
}

.search-div .input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  width: 17%;
  border: 1px solid;
  border-left: 0;
}

#searchbtn {
  float: right;
  border-radius: 0;
  margin: 0 !important;
  background-color: #e1141a !important;
  outline: 0;
  border: none;
  box-shadow: none;
  text-shadow: none;
  padding: 1.5vw 3vw 0 0vw;
  outline: 0;
}

#searchbtn .glyphicon {
  width: 1.2vw;
  font-size: 1.5vw;
  padding: 0;
  border: 0;
  color: #000;
  outline: 0;
}

.search-div .dropdown-menu {
  left: auto;
  right: 0;
}

.search-div .form-control {
  height: 5vw !important;
  font-size: 1.2vw;
}

.social-icons {
  background: rgba(0, 0, 0, 0.5);
  padding: 2vw 4vw;
}

.social-icons-new {
  display: flex;
  justify-content: center;
}

.social-icons-new h2 {
  color: #fff;
  margin: 0 3vw 0 0 !important;
  text-transform: uppercase;
  font-weight: 800;
}

.social-icons-new a:hover {
  transition: all 0.3s ease;
  color: #ddd;
  transform: scale(1.2);
}

.social-icons-new i {
  font-size: 3vw;
  color: #fff;
  margin-right: 1vw;
}

.search-btns .search-btn {
  background: #fff !important;
  color: #000 !important;
  font-size: 1vw !important;
  display: block !important;
  width: 89% !important;
  padding: 1vw !important;
  margin: 10px !important;
}

.search-btns .search-btn:hover {
  background: #fff !important;
  color: red !important;
}

.precision-links {
  display: flex;
  justify-content: space-between;
}

.precision-links a {
  display: block;
  color: #fff;
  transition: .4s all;
  background: linear-gradient(180deg, #000000 -21.43%, #CC0000 49.91%, #000000 124.29%);
  text-transform: uppercase;
  text-align: center;
  padding: 1vw;
}

.precision-links a:hover,
.precision-links a:focus {
  background: linear-gradient(180deg, #282828 0%, #000 100%);
}

@media screen and (min-width:769px) {
  #keyWordsSection input {
    font-size: 13px;
  }

  .checklist-filter li label {
    margin-bottom: 1px !important;
  }

  .checklist-filter input[type="checkbox"],
  .checklist-filter input[type="radio"] {
    margin: .3vw 0 !important;
  }

  #right-cta-buttons.affix .rt-action-btn {
    padding: 10px 30px !important;
  }

  #right-cta-buttons.affix {
    top: 90px !important;
  }

  .price {
    font-size: 1vw !important;
  }

  .grid-group-item {
    width: 33.33333% !important;
  }

  .new-inv-sec,
  .used-inv-sec {
    width: 25%;
  }

  .new-slider-banner {
    top: 31vw;
  }

  #comp_1629154865107 .carousel-inner {
    height: 23vw !important;
  }

  .navbar-default {
    min-height: 3.5vw;
  }

  .search-modal-desktop-new {
    display: block;
    position: absolute;
    right: 11vw;
    top: 1vw;
  }

  .search-modal-desktop a {
    color: #fff;
  }

  .search-modal-desktop i {
    color: #fff;
    font-size: 2vw;
  }

  .search-modal-desktop a:hover i,
  .search-modal-desktop a:focus i {
    color: #000 !important;
  }

  .search-div-2 {
    position: absolute;
    top: 15vw;
    left: 1vw;
    width: 100%;
  }

  #searchModal2 .modal-content {
    border: none;
    background-color: transparent;
    background: 0 0;
    box-shadow: none;
  }

  .search-div-2 #searchbtn2 {
    float: none;
    padding: 5px 0 0 20px;
    margin: 0 !important;
    background-color: #000 !important;
    color: #fff;
    outline: none;
    font-size: 2vw;
    right: 0;
    position: absolute;
  }

  .search-div-2 .form-control {
    height: 46px;
  }

  .dropdown:hover .dropdown-menu {
    display: block !important;
    margin-top: 0 !important;
    transition: 0.3s all ease-out;
  }

  .dropdown-menu>li>a {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-size: 1vw;
    line-height: 1.3vw;
    text-transform: uppercase;
    color: #000;
    padding: 7px 20px;
    font-weight: 600;
  }

  .dropdown-menu>li>a:focus,
  .dropdown-menu>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #000;
  }

  .phones {
    background: #F0F0F0;
  }

  .phones li a {
    padding: 13px 20px;
    border-bottom: 1px solid rgba(187, 187, 187, 0.5);
  }

  .phones li a:hover {
    background: #D7D7D7;
    color: #000;
  }

  .phones li a i {
    margin-right: .7em;
  }

  .hors li {
    font-size: 1.1vw;
    padding: 3px 0;
  }

  .img-right {
    text-align: right;
  }

  .img-right img {
    margin-top: 7vw;
  }

  .copy-img {
    text-align: right;
  }

  #copyright a {
    font-size: 14px;
    color: #fff;
  }

  #copyright .col-md-4 .copy {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
  }

  .nav>li>a {
    padding: 1vw 2vw;
  }

  .navbar-nav {
    margin-left: 2vw;
    margin-top: 1vw;
  }

  .sticky-nav {
    position: fixed !important;
    top: 0px;
    left: 0px;
    bottom: 100%;
    width: 100%;
    z-index: 999;
    box-shadow: 0px 0.2vw 2vw #000;
    min-height: 5vw !important;
    box-shadow: 0px 0.2vw 2vw #464646 !important;
  }

  .new-nav-hover {
    padding: 1.2vw 1.6vw !important;
  }

  .other-header-links,
  .top-mob-view,
  #myCarouselAdsMobile,
  #myCarouselLogosMobile {
    display: none;
  }

  .cont-top-adjust,
  #myCarouselAdsDesktop {
    display: block;
  }

  .dropdown-toggle:hover .dropdown-menu {
    display: block;
  }

  #details-tabs.affix {
    margin-top: 3.8vw;
  }

  .sortby-row {
    padding: 0 0 10px 0 !important;
  }

  .light2021 {
    padding: 15px 50px 15px 81px !important;
  }

  .model-details-content {
    padding: 15px 80px 15px 81px !important;
  }

  .dropdown-menu>li>a {
    font-family: 'Barlow', sans-serif;
    font-size: .9vw;
    text-transform: capitalize !important;
    color: #000;
    padding: 7px 20px;
  }

  .height-div {
    height: 25vw;
  }

  .height-div-2 {
    height: 32vw;
  }

  .locations-section .panel-body {
    padding-bottom: 3vw !important;
  }

  .map-img {
    height: 23.5vw;
  }

  .old-img {
    width: 18vw;
  }

  .container-70 {
    width: 70vw !important;
  }

  .web-title-new {
    top: 45%;
  }

  #comp_1634167488208 #scroller li a.randomAdDetails img {
    width: 17vw;
  }

  .grid-group-item .cta-btns a {
    font-size: .9vw !important;
    white-space: nowrap;
  }
}

@media screen and (max-width:768px) {
  #comp_1634167488208 .lightSlider li div span:last-child {
    font-size: 4vw;
    font-weight: 900;
  }

  #search-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #search-section .search-section span:nth-child(1) {
    font-size: 4vw;
  }

  #search-section .search-section span:nth-child(2) {
    font-size: 3.5vw;
    margin-top: -.4vw;
  }

  .search-div .form-control {
    height: 9vw !important;
    font-size: 2.5vw;
  }

  .search-section {
    margin-bottom: 2vw;
  }

  .serach-part {
    width: 100%;
  }

  .new-inv-sec,
  .used-inv-sec {
    width: 100%;
  }

  .new-inv-sec {
    margin-top: 7vw;
    margin-bottom: 2vw;
  }

  #search-section .new-inv-sec a,
  #search-section .used-inv-sec a {
    width: 100%;
    font-size: 3vw;
    margin: 0
  }

  #searchbtn .glyphicon {
    font-size: 3.5vw;
  }

  .search-div #searchbtn {
    background-color: #fff !important;
    padding: 2vw 8vw 2.5vw 4vw;
    border: 1px solid #000;
    border-radius: 0 !important;
  }

  .search-div .input-group-btn {
    border: none !important;
    width: 15%;
  }

  .buttons-container {
    display: block;
    margin-top: 4vw;
  }

  .desk-img-txt-desktop {
    display: none !important;
  }

  #comp_1629831468105 {
    display: none;
  }

  #logos-sec {
    display: none;
  }

  #myCarouselLogosMobile {
    display: block;
    filter: drop-shadow(0px -2px 4px rgba(0, 0, 0, 0.15));
    background: #fff;
    width: 100%;
    z-index: 20;
    max-height: 19vw !important;
  }

  #myCarouselLogosMobile .add-sec {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5vw;
  }

  #myCarouselLogosMobile .fa {
    margin-top: 7vw;
    color: #292929;
  }

  #myCarouselLogosMobile .carousel-control.right,
  #myCarouselLogosMobile .carousel-control.left {
    background-image: none;
  }

  .cont-top-adjust,
  #myCarouselAdsDesktop {
    display: none;
  }

  #myCarouselAdsMobile {
    display: block;
  }

  .top-mob-view {
    display: flex;
  }

  .mob-sec-1 {
    background: linear-gradient(217deg, rgb(255 254 255 / 1), rgb(255 255 255 / 50%)), url(/site-uploads/1001342/Images/top-bg.png);
    padding: 2vw 2vw 2vw 4vw;
  }

  .mob-sec-1 img {
    width: 82%;
  }

  .main-top-mob {
    display: flex;
    margin: 6vw 4vw 0 0;
  }

  .mob-sec-2 ul>li {
    display: inline-block;
  }

  .main-top-mob i {
    font-size: 8vw;
    color: #000;
    border: 0.1vw solid #282828;
    padding: 3vw 0 3vw 1.5vw;
    margin: 0 2vw;
  }

  .nav-logo {
    margin: 2.5vw 0 1vw 4vw;
  }

  .sticky-nav {
    position: fixed !important;
    z-index: 999999 !important;
    height: 1vw;
    box-shadow: 0px 0.2vw 2vw #464646 !important;
    max-height: 3.2vw;
    top: 0;
    width: 100% !important;
    min-height: 10vw;
  }

  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    background: #000 !important;
  }

  .navbar-nav,
  .navbar-nav .open .dropdown-menu {
    text-align: right !important;
  }

  .navbar-default .navbar-toggle {
    border: none !important;
    margin-top: 1.8vw !important;
    margin-right: 2em !important;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #000 !important;
    width: 32px !important;
    height: 4px !important;
  }

  .other-header-links .sm-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0px;
    padding-left: 0px;
    height: 50px;
    padding: 0 10px;
  }

  .other-header-links .sm-list li {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .other-header-links .sm-list li a {
    padding: 10px;
    font-size: 25px;
    width: 50px;
    height: 50px;
    display: block;
    transition: all ease-in 0.3s;
  }

  .other-header-links i {
    color: #fff !important;
  }

  .search-div-2 {
    position: absolute;
    top: 11vw;
    left: 1vw;
    width: 100%;
  }

  .search-div-2 .form-control {
    height: 46px;
  }

  .search-div-2 #searchbtn2 {
    float: none;
    padding: 1.4vw 0 1.2vw 2vw;
    margin: 0 !important;
    background-color: #000 !important;
    color: #fff;
    outline: none;
    font-size: 3vw;
    right: 0;
    position: absolute;
  }

  #searchModal2 .modal-content {
    border: none;
    background-color: transparent;
    background: 0 0;
    box-shadow: none;
  }

  #searchModal2 .modal-dialog {
    margin-top: 20%;
    width: 50% !important;
    margin-left: auto;
    margin-right: auto;
  }

  .navbar-default .navbar-nav>li>a {
    font-size: 3.2vw;
    line-height: 2.5vw;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
  }

  .home-para {
    flex-direction: column;
  }

  body {
    font-size: 2.5vw;
  }

  .breadcrumbParent {
    margin-bottom: 3.5vw;
  }

  #copyright .links-row {
    flex-flow: column;
  }

  .home-para {
    background: #000;
    padding: 2vw 5vw;
  }

  .para-home {
    display: none;
  }

  .para-home p {
    font-size: 2.5vw;
    line-height: 3.2vw;
  }

  .title-mob {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 7vw;
    color: #fff;
    line-height: 9vw;
    display: block;
    text-align: center;
    padding: 4vw;
  }

  .para-home-mob {
    display: block;
  }

  .para-home-mob p {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
    margin: 1.5vw 0;
    font-size: 2.5vw;
    line-height: 3.2vw;
  }

  .title-home {
    display: none;
  }

  .footer .row h1 {
    font-size: 4vw;
  }

  .social-top-footer a {
    font-size: 6vw;
  }

  .footer-desktop {
    display: none;
  }

  .footer .sm-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 75%;
    padding-bottom: 2%;
    padding-top: 6%;
    margin: 0 auto;
  }

  .footer .sm-footer .panel-group {
    width: 100%;
  }

  .footer .sm-footer .panel-group .panel.panel-default {
    background-color: transparent;
    border: 0;
  }

  .footer .sm-footer .panel-group .panel.panel-default .panel-heading {
    margin: 0;
    background-color: #000;
    color: #fff;
    border-radius: 6px;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
  }

  .footer .sm-footer .panel-group .panel.panel-default .panel-heading .panel-title a {
    display: block;
    text-decoration: none;
    padding: 10px;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
  }

  .footer .sm-footer .panel-group .panel.panel-default .panel-body {
    padding: 5px;
    padding: 5px 15px;
    background-color: #000;
  }

  .sm-footer h1 {
    color: #fff;
  }

  .footer p {
    color: #fff;
  }

  #copyright a {
    font-size: 12px;
    color: #fff;
  }

  #copyright span {
    color: #fff;
    font-size: 12px;
  }

  #copyright .links-row .col-md-4 {
    margin-top: 2vw;
    margin-bottom: 2vw;
  }

  .images-sec {
    padding: 7vw 0;
  }

  .social {
    background: #000000ab;
    padding: 3vw 4vw;
    display: flex;
    border-radius: 4px;
  }

  .images-sec .imges-txt {
    flex-flow: column;
    margin: 0 auto;
    width: 90vw;
  }

  .images-sec .imges-txt .block {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    transition: .25s all;
    padding: 4vw;
    width: 86vw;
    border: 1px solid #fff;
    margin: 1vw 0vw;
  }

  .images-sec .imges-txt .block:hover {
    transform: scale(1.1) !important;
  }

  .images-sec .imges-txt span {
    font-size: 5vw;
  }

  .to-up-container {
    margin-top: 5vw;
    margin-bottom: 5vw;
  }

  .to-up-container a.to-up {
    bottom: 10px;
    right: 50%;
    -webkit-transform: translate(50%, -10px);
    transform: translate(50%, -10px);
  }

  .categories-container-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 15px;
    border-bottom: 7px solid #ddd;
    padding: 15px 0;
  }

  .categories-container-item .cat {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-bottom: none;
  }

  .categories-container-item div {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: center;
  }

  .categories-container-item div .new,
  .categories-container-item div .used {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #000;
    text-decoration: none;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 5px;
  }

  .categories-container-item div .new span:nth-child(1),
  .categories-container-item div .used span:nth-child(1) {
    font-size: 18px;
    margin-right: 10px;
  }

  .categories-container-item div .new span:nth-child(2),
  .categories-container-item div .used span:nth-child(2) {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .categories-container-item a img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    min-width: 27vw;
  }

  .breadcrumbParent h2 {
    padding: 1vw 1vw;
    font-size: 5vw;
  }

  .breadcrumb>li>a {
    font-size: 3vw;
  }

  .panel-heading h2 {
    font-size: 5vw;
  }

  .loc-link,
  .btn-call-small {
    padding: 2vw;
  }

  .formsParent .btn {
    padding: 3vw 4vw !important;
  }

  h3 {
    font-size: 3.6vw;
  }

  .sm-footer .social i {
    font-size: 9vw;
    margin: 0 10vw;
  }

  .our-lines {
    background: #000;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    padding: 22px 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    display: block;
    width: 98.5%;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 5vw;
  }

  .our-lines .lines-arrow {
    margin-left: 2vw;
  }

  .our-lines:hover {
    background: #f1f1f1;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #f1f1f1;
  }

  .categories-container-item a .logo-img {
    position: relative;
  }

  .categories-container-item .cat span {
    font-size: 5vw;
  }

  .service-heading h2 {
    font-size: 5.4vw !important;
  }

  .service-heading {
    font-size: 3.4vw !important;
  }

  .main-slider-div {
    margin-top: 14vw;
    margin-left: 16vw;
  }

  .carousel-caption .first-span {
    font-size: 3.8vw;
    line-height: 3.7vw;
  }

  .carousel-caption .second-span {
    font-size: 4vw;
    line-height: 5.7vw;
  }

  .carousel-caption .link-span {
    font-size: 3.2vw !important;
    padding: 2vw 3vw;
    width: 100% !important;
  }

  .hours-mobile {
    left: -61px !important;
  }

  .hours-mobile table {
    width: 22em;
  }

  .hours-mobile td,
  .hours-mobile th {
    padding: .5em;
  }

  .title-slider h1 {
    font-size: 7vw;
    line-height: 9vw;
  }

  #myCarouselHappy i {
    margin-top: 24vw;
    font-size: 8.5vw;
  }

  .happy-block p {
    margin-top: 4vw;
  }

  #myCarouselHappy {
    border: 1px solid #BBBBBB;
    padding: 2vw 1vw 7vw 1vw;
  }

  .home-para #myBtn {
    background: transparent;
    color: #fff;
    box-shadow: none;
    border: none;
    margin-bottom: 5vw;
  }

  .para-home-mob p a {
    color: #ddd !important;
  }

  #myCarouselLogosDesktop {
    display: none;
  }

  .tabs-btn-xs {
    display: none !important;
  }

  .cta-btns a.View-Details {
    display: block;
    width: 100%;
  }

  .categories-container-item .new {
    background: #000;
    color: #fff !important;
    padding: 0;
    font-size: .85em;
    text-transform: none;
    padding: 2px 4px;
  }

  .categories-container-item .used {
    padding: 0;
    font-size: .85em;
    text-transform: none;
    padding: 2px 4px;
  }

  .categories-container-item>div {
    border: none;
  }

  .lines-head {
    font-size: 4vw;
    position: absolute;
    top: 0;
  }

  .d-block-bl {
    display: flex !important;
  }

  .bg-shadow {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 75vw;
    left: -20vw;
    z-index: -1;
    top: -47vw;
  }

  .main-slider-div img {
    width: 28vw;
    margin: 1vw 0;
  }

  .model-title .share-btn {
    font-size: 3vw !important;
  }

  #comp_1629154865107.carousel-inner>.item>a>img,
  .carousel-inner>.item>img {
    height: 55vw;
    object-fit: cover;
  }

  .para-buttons a {
    font-size: 5vw;
    padding: 2.5vw 2vw;
  }

  #videos-modal2 .modal-body {
    padding: 0px 5px !important;
  }

  #videos-modal2 .modal-content {
    height: 0 !important;
    top:  !important;
  }

  .slider-banner {
    flex-direction: column;
    top: -13vw;
    width: 90vw;
    background: transparent;
    position: relative;
    height: 11px;
  }

  .slider-banner .banner-link {
    background: linear-gradient(180deg, #000000 -21.43%, #CC0000 49.91%, #000000 124.29%);
    margin: .8vw auto;
    width: 90vw;
  }

  .slider-banner .banner-link:nth-child(1)::after {
    display: none;
  }

  .nav-logo img {
    max-width: 18vw;
  }

  .nav-icons-flex .main-left-icons {
    font-size: 4vw;
    margin: 3vw;
  }

  .nav-icons-flex .main-left-icons:hover {
    transition: .2s all;
    transform: scale(1.2) !important;
  }

  .total-items {
    right: 1vw;
  }

  .nav-icons ul.first-ul li span.icon-title {
    display: none;
  }

  .nav-icons ul.first-ul .fa-bars {
    display: none;
  }

  .nav-icons {
    right: 5.3em;
    top: -.5vw;
  }

  .navbar-default .navbar-nav>li>a {
    color: #fff !important;
    border-right: none;
  }


  .second-section-desktop {
    display: none;
  }

  .second-section {
    flex-direction: column;
  }

  .section-block-50 {
    width: 100%;
  }

  .second-section .body-block h1 {
    display: none;
  }

  .locations {
    margin-top: 4vw;
  }

  .section-block {
    border-right: none;
  }

  .locations table {
    width: 100%;
    margin: 1em 0 1.5em 0;
    font-size: 1.5em;
  }

  .logos table,
  .section-block-50 .logos table {
    width: 100%;
  }

  .locations table td {
    padding: 2.3vw 4vw 2.3vw 0;
  }

  .price-box {
    margin-top: 2em;
  }

  h2 {
    font-size: 3.8vw;
  }

  .second-section .section-block:nth-child(2) .top-block .shadow {
    padding: 2.5rem 4rem;
  }

  .contact-btns {
    margin-bottom: 5vw;
  }

  .locations {
    margin-bottom: 7vw;
  }

  .form-title h1 {
    font-size: 5vw;
    margin-bottom: 3vw;
  }

  .form-bg-white {
    width: 100% !important;
    padding: 8vw 5vw 28vw 5vw !important;
  }

  #comp_1633979585794 #Buttons {
    bottom: 34.7vw;
  }

  .video-background {
    height: 100vh;
    object-fit: cover;
  }

  .video-background video {
    object-fit: cover;
    height: 100vh;
    width: 100vw;
  }

  .social-icons-new i {
    font-size: 6vw;
  }

  .web-title {
    top: 57%;
    z-index: -1;
  }

  .web-title-new {
    top: 43%;
  }

  .web-title h1 {
    font-size: 5vw;
  }

  .web-title h5 {
    font-size: 4vw
  }

  #search-section {
    padding: 2.5vw 2vw 2.5vw 2vw;
  }

  #comp_1634167488208 .gallery {
    height: 66vw !important;
  }

  .search-btns .search-btn {
    font-size: 2.5vw !important;
    padding: 2vw !important;
  }
}

@media screen and (max-width:500px) {
  h2 {
    font-size: 5.8vw;
  }

  .web-title {
    margin: 0;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #comp_1634167488208 .lightSlider li div span:last-child {
    font-size: 6vw;
    font-weight: 900;
  }

  .web-title h1 {
    font-size: 11vw;
  }

  .web-title h5 {
    font-size: 6vw;
  }

  .search-div .form-control {
    height: 12vw !important;
    font-size: 3.5vw;
  }

  .new-inv-sec {
    margin-top: 9vw;
    margin-bottom: 2vw;
  }

  #search-section .new-inv-sec a,
  #search-section .used-inv-sec a {
    font-size: 4vw;
  }

  .social-icons-new i {
    font-size: 9vw;
  }

  .slider-banner {
    top: -13vw;
  }

  .nav-icons {
    right: 4.5em;
  }

  .faq .panel-heading a {
    padding: 1.6em 6em 1.6em 0em !important;
  }

  .faq .panel-heading .new-heading {
    padding: 1.6em 12em 1.6em 0em !important;
  }

  .slider-banner .banner-link {
    margin: 1.1vw auto;
    width: 90vw;
  }

  .nav-icons-flex .main-left-icons {
    font-size: 6.4vw;
    margin: 6vw 1.7vw;
  }

  .nav-icons ul.first-ul {
    margin-top: -0.6vw;
  }

  .navbar-default .navbar-toggle {
    border: none !important;
    margin-top: .7em !important;
    margin-right: 1em !important;
  }

  .nav-logo img {
    max-width: 31vw;
  }

  .sticky-nav {
    min-height: 16vw;
  }

  .home-para {
    flex-direction: column;
  }

  body {
    font-size: 4vw;
  }

  .breadcrumbParent {
    margin-bottom: 4.5vw;
  }

  h3 {
    font-size: 4.6vw;
  }

  .para-home p {
    font-size: 4.5vw;
    line-height: 5.5vw;
  }

  .navbar-default .navbar-nav>li>a {
    font-size: 5.2vw;
    line-height: 3.5vw;
  }

  .search-div-2 {
    top: 46vw;
  }

  .search-div-2 #searchbtn2 {
    padding: 2.4vw 0 3vw 2vw;
    background-color: #000 !important;
    color: #fff;
    font-size: 5vw;
  }

  .para-home h1 {
    font-size: 6vw;
    line-height: 2vw;
    margin-top: 6vw;
  }

  .para-home-mob p {
    margin: 3.5vw 0;
    font-size: 4.5vw;
    line-height: 5.2vw;
  }

  .footer .row h1 {
    font-size: 6vw;
  }

  .social-top-footer a {
    font-size: 8vw;
  }

  .breadcrumbParent h2 {
    padding: 1vw 2vw;
    font-size: 7vw;
  }

  .breadcrumb>li>a {
    font-size: 4vw;
  }

  .title-mob {
    font-size: 7vw;
    line-height: 9vw;
    padding: 4vw;
  }

  .service-heading {
    font-size: 5.4vw !important;
  }

  .lines-head {
    font-size: 5vw;
  }

  .carousel-caption .first-span {
    font-size: 5.8vw;
    line-height: 6.7vw;
  }

  .total-items {
    padding: 1px 5px 2px 5px;
    font-size: 8px
  }

  .locations {
    margin-bottom: 4vw;
  }

  .form-title h1 {
    font-size: 7vw !important;
    margin-bottom: 6vw;
  }

  .search-btns .search-btn {
    font-size: 3.5vw !important;
    padding: 3vw !important;
  }

  #comp_1633979585794 #Buttons {
    bottom: 48.7vw;
  }
}

@media screen and (max-width:400px) {
  .faq .panel-heading a {
    padding: 1.6em 4em 1.6em 0em !important;
  }

  .faq .panel-heading .new-heading {
    padding: 1.6em 4em 1.6em 0em !important;
  }
}

.price-box {
  color: #282828 !important;
}

.rt-action-btn:hover {
  background-color: #282828 !important;
}

.model-details-content .glyphicon {
  color: #282828 !important;
}

.rt-action-btn:hover .glyphicon {
  background-color: #282828 !important;
  color: #fff !important;
}

.accord-btn .glyphicon {
  color: #fff !important;
}

.request-quote-btn,
#videos-btn {
  background-color: #282828 !important;
  color: #fff !important;
}

.request-quote-btn .glyphicon,
#videos-btn .glyphicon {
  color: #fff !important;
}

.request-quote-btn:hover {
  background-color: #484848 !important;
}

.request-quote-btn:hover .glyphicon {
  background-color: #484848 !important;
}

#comp_1633979585794 .form-container {
  padding: 6vw 3vw 6vw 3vw !important;
}

.pagination>li>a,
.pagination>li>a,
.pagination>li>span,
.pagination>li>span {
  color: #CC0000 !important;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  color: #CC0000 !important;
}

.back-btn .model-action-btn.back-btn {
  color: #c80909;
  font-size: 30px;
  transition: all ease-in-out 0.2s
}

.back-btn .model-action-btn.back-btn .glyphicon {
  color: inherit !important;
}

.back-btn .model-action-btn.back-btn:hover {
  color: #000;
}

/*Start Taha*/
._home-new-ads-section {
  background-color: #FFF;
  padding: 2vw 0;
}

._home-new-ads-section .container {
  padding: 0;
}

._home-new-ads-section .container .row .col-md-12 ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

._home-new-ads-section .container .row .col-md-12 ul li {
  margin: 1vw;
  width: 22%;
}

._home-new-ads-section .container .row .col-md-12 ul li a {
  border: 3px solid #000;
  display: block;
  transition: all ease-in-out 0.25s;
}

._home-new-ads-section .container .row .col-md-12 ul li a:hover {
  border: 3px solid #ec555a;
}

@media screen and (max-width: 700px) {
  ._home-new-ads-section .container {
    padding: 0;
  }

  ._home-new-ads-section .container .row .col-md-12 ul li {
    width: 47%;
  }
}

#comp_1642085478686 .container-fluid {display: none !important;}

/* End Taha*/