#normal_vdp {
  width: 90vw;
  font-family: var(--main-font);
  display: flex;
  flex-wrap: wrap;

  div.back-btn {
    font-size: 1.1111111111111vw;
    font-weight: 500;
    width: 50%;
    border: 1px solid var(--gray-8);
    border-right: 0;
    border-bottom: 0;
    display: flex;
    align-items: center;
    padding: 0.5vw 1vw;

    a {
      color: var(--secondary-color);

      span {
        color: inherit;
      }
    }
  }

  .stock-num {
    color: var(--secondary-color);
    font-size: 1.1111111111111vw;
    font-weight: 500;
    width: calc(16.66666667% - 25px);
    border: 1px solid var(--gray-8);
    border-left: 0;
    border-bottom: 0;
    text-align: right;
    padding: 0.5vw 1vw;
  }

  #model-left-content {
    margin-left: 0;
    padding-left: 0;
    padding-right: 15px;

    .rmv-ph-padding {
      border: 1px solid var(--gray-8);
      margin: 0;

      .gallery {
        .lSSlideOuter {
          &.vertical {}

          .lSSlideWrapper {
            >ul {}

            .lSAction>.lSPrev,
            .lSAction>.lSNext {
              background: none;
              display: flex;
              justify-content: center;
              align-items: center;
              border: 1px solid #ddd;
              border-radius: 50%;
              width: 40px;
              height: 40px;
              background-color: var(--main-color);
              color: var(--white);
              transition: all ease-in-out 0.2s;
              opacity: 1;
              // top: 50%;

              &::before {
                color: inherit;
              }

              @media screen and (max-width: 600px) {
                width: 30px;
                height: 30px;
                opacity: 0.6;
                color: var(--main-color);
                background-color: var(--white);
                border: 1px solid var(--main-color);
              }

              &:hover {
                color: var(--main-color);
                background-color: var(--white);
                border: 1px solid var(--main-color);
                text-decoration: none;
              }
            }

            .lSAction>.lSPrev {
              left: 50% !important;

              &:before {
                font-family: 'Glyphicons Halflings';
                font-size: 1.5vw;
                width: auto;
                height: auto;
                ;
              }
            }

            .lSAction>.lSNext {
              right: 50% !important;

              &:before {
                font-family: 'Glyphicons Halflings';
                font-size: 1.5vw;
                width: auto;
                height: auto;
              }
            }

          }

          ul.lSPager {
            li {
              &.active {
                a {
                  img {
                    border: 2px solid var(--main-color);
                  }
                }
              }
            }
          }
        }

        .img-tag {
          top: 80%;
          left: 0;
          transform: rotate(0deg);
          font-family: var(--main-font);
          height: auto;
          background-color: rgba(0, 153, 0, 0.8);
          font-size: 1.1111111111111vw;
          padding: 0.25vw;
          width: 10vw;

          &::after {
            content: "";
            width: 20%;
          }
        }
      }
    }

    .model-tabs {
      .tab-content {
        #model-accordion {
          .panel {
            a.accord-btn {
              // background: linear-gradient(180deg, rgba(255, 255, 255, 0) 41.15%, rgba(221, 221, 221, 0.25) 100%);
              background-color: var(--gray-9) !important;
              border: 1px solid #DDDDDD;
              color: var(--gray-2) !important;
              // font-family: Barlow;
              font-weight: 600;
              font-size: 1.1111111111111vw;

              .glyphicon {
                color: var(--gray-2) !important;
                display: none;
              }

              &::before {
                content: "\f068";
                font-family: "FontAwesome";
                margin-right: 1vw;
                font-size: 75%;
              }

              &.collapsed {
                background-color: var(--gray-8) !important;
                color: var(--secondary-color) !important;

                &::before {
                  content: "\f067";
                  font-family: "FontAwesome";
                }
              }
            }

            // .accord-btn .glyphicon {
            //   color: var(--black);
            // }
          }
        }
      }
    }

    .ecomm-box {
      .ecomm-btns {
        .ecomm-btn {
          &.add-to-cart-product.deposit-to-cart {
            border-radius: 0;
            text-align: unset;
            font-weight: 500;
            font-size: 1.0416666666667vw;
            text-transform: uppercase;
            background-color: var(--main-color);
            color: var(--white);
            transition: all ease-in-out 0.25s;
          }
        }
      }
    }
  }

  #model-right-content {
    #right-cta-buttons {
      padding: 1vw;
      background: var(--white);
      border: 1px solid var(--gray-8);
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

      .ecomm-box {
        .ecomm-btns {
          .ecomm-btn {
            &.add-to-cart-product.deposit-to-cart {
              border-radius: 0;
              text-align: unset;
              font-weight: 500;
              font-size: 1.0416666666667vw;
              text-transform: uppercase;
              background-color: var(--main-color);
              color: var(--white);
              transition: all ease-in-out 0.25s;
            }
          }
        }
      }

      .price-box {
        display: flex;

        .our-price-div {
          float: right;
          align-items: center;
          font-size: 1.6666666666667vw;
          color: var(--main-color);

          .our-price {
            font-size: 0;
            margin: 0 0vw;
            font-weight: 600;

            &:before {
              // content: "Price";
              font-weight: 600;
              color: var(--secondary-color);
            }
          }

          .primary {
            font-size: 1.6666666666667vw;
            // font-weight: 600;
          }
        }

        .savings {
          display: none;
        }

        .excludes {
          display: none;
        }
      }

      .CTA-box {
        a.rt-action-btn {
          border-radius: 0;
          text-align: unset;
          font-weight: 500;
          font-size: 1.0416666666667vw;
          text-transform: uppercase;
          background-color: var(--gray-8);
          color: var(--secondary-color);
          transition: all ease-in-out 0.25s;

          span {
            color: inherit;
            background-color: inherit;
          }

          &.request-quote-btn {
            background-color: var(--gray-9);
            color: var(--white);
          }

          // hidden
          &.contact-us-btn,
          &.view-preowned,
          &.book-demo,
          &.get-diretions {
            display: none;
          }

        }

        >.dropdown {
          >a {
            border-radius: 0;
            text-align: unset;
            font-weight: 500;
            font-size: 1.0416666666667vw;
            text-transform: uppercase;
            background-color: var(--gray-8);
            color: var(--secondary-color);
          }
        }
      }

    }
  }

  .dropdown.open {
    .dropdown-menu.model-shareble {
      display: flex;

      li {
        a {
          padding: 0;

          &:hover,
          &:focus {
            background-color: var(--gray);
          }
        }
      }
    }
  }

  .deposit-info.modal {
    .modal-content {
      padding: 2vw 2vw;

      h3 {
        margin-top: 0;
        font-size: 2vw;
      }

      p {
        font-size: 1.25vw;
      }

      .modal-footer {
        padding: 1vw 0 0 0;

        button {
          color: var(--white) !important;
          min-width: 25%;
          font-size: 1.25vw;

          &:hover {
            color: var(--main-color) !important;
            background-color: var(--white);
          }
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    div.back-btn {
      font-size: 16px;
      width: 50%;

      a {
        color: var(--secondary-color);

        span {
          color: inherit;
        }
      }
    }

    .stock-num {
      color: var(--secondary-color);
      font-size: 16px;
      width: 50%;
      padding: 0.5vw 1vw;
    }

    #model-left-content {
      padding-right: 0;

      .rmv-ph-padding {
        border: 1px solid var(--gray-8);
        margin: 0;
      }

      .ecomm-box {
        .ecomm-btns {
          .ecomm-btn {
            &.add-to-cart-product.deposit-to-cart {
              border-radius: 0;
              text-align: unset;
              font-weight: 500;
              font-size: 16px;
              text-transform: uppercase;
              background-color: var(--main-color);
              color: var(--white);
              transition: all ease-in-out 0.25s;
            }
          }
        }
      }


      .price-box {
        display: flex;

        .our-price-div {
          float: right;
          align-items: center;
          font-size: 16px;
          color: var(--main-color);

          .our-price {
            font-size: 0;
            margin: 0 0vw;
            font-weight: 600;

            &:before {
              // content: "Price";
              font-weight: 600;
              color: var(--secondary-color);
            }
          }

          .primary {
            font-size: 16px;
            // font-weight: 600;
          }
        }

        .savings {
          display: none;
        }

        .excludes {
          display: none;
        }
      }

      .right-cta-buttons {
        a.rt-action-btn {
          border-radius: 0;
          text-align: unset;
          font-weight: 500;
          font-size: 16px;
          text-transform: uppercase;
          background-color: var(--gray-8);
          color: var(--secondary-color);
          transition: all ease-in-out 0.25s;

          span {
            color: inherit;
            background-color: inherit;
          }

          &.request-quote-btn {
            background-color: var(--gray-9);
            color: var(--white);
          }

          // hidden
          &.contact-us-btn,
          &.view-preowned,
          &.book-demo {
            display: none;
          }

        }

        >.dropdown {
          >a {
            border-radius: 0;
            text-align: unset;
            font-weight: 500;
            font-size: 16px;
            text-transform: uppercase;
            background-color: var(--gray-8);
            color: var(--secondary-color);
          }
        }
      }

      .model-tabs {
        .tab-content {
          #model-accordion {
            .panel {
              a.accord-btn {
                font-size: 16px;

                .glyphicon {
                  color: var(--gray-2) !important;
                  display: none;
                }

                &::before {
                  font-size: 75%;
                }

                &.collapsed {

                  &::before {}
                }
              }
            }
          }
        }
      }


      .gallery {
        .lSSlideOuter {
          &.vertical {}

          .lSSlideWrapper {
            >ul {}

            .lSAction>.lSPrev,
            .lSAction>.lSNext {

              &::before {}
            }

            .lSAction>.lSPrev {

              &:before {}
            }

            .lSAction>.lSNext {

              &:before {}
            }

          }
        }

        .img-tag {
          top: 80%;
          left: 0;
          transform: rotate(0deg);
          font-family: var(--main-font);
          height: auto;
          background-color: rgba(0, 153, 0, 0.8);
          font-size: 16px !important;
          padding: 0.25vw;
          width: 130px !important;

          &::after {
            content: "";
            width: 20%;
          }
        }
      }


    }

    #model-right-content {
      #right-cta-buttons {
        padding: 1vw;
        background: var(--white);
        border: 1px solid var(--gray-8);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

        .price-box {
          .our-price-div {
            float: right;
            align-items: center;
            font-size: 1.3888888888889vw;
            color: var(--main-color);

            .our-price {
              font-size: 0;
              margin: 0 1vw;
              font-weight: 600;

              &:before {
                // content: "Price";
                font-weight: 600;
                color: var(--secondary-color);
              }
            }

            .primary {
              font-size: 1.3888888888889vw;
              // font-weight: 600;
            }
          }

          .excludes {
            display: none;
          }
        }

        .CTA-box {
          a.rt-action-btn {
            border-radius: 0;
            text-align: unset;
            font-weight: 500;
            font-size: 1.0416666666667vw;
            text-transform: uppercase;
            background-color: var(--gray-8);
            color: var(--secondary-color);
            transition: all ease-in-out 0.25s;

            span {
              color: inherit;
              background-color: inherit;
            }

            &.request-quote-btn {
              background-color: var(--main-color);
              color: var(--white);
            }

            // hidden
            &.contact-us-btn,
            &.view-preowned,
            &.book-demo {
              display: none;
            }

          }

          >.dropdown {
            >a {
              border-radius: 0;
              text-align: unset;
              font-weight: 500;
              font-size: 1.0416666666667vw;
              text-transform: uppercase;
              background-color: var(--gray-8);
              color: var(--secondary-color);
            }
          }
        }

      }
    }

    .dropdown.open {
      .dropdown-menu.model-shareble {
        display: flex;

        li {
          a {
            padding: 0;

            &:hover,
            &:focus {
              background-color: var(--gray);
            }
          }
        }
      }
    }

    .deposit-info.modal {
      .modal-content {
        padding: 10px 10px;

        h3 {
          font-size: 18px;
        }

        p {
          font-size: 16px;
        }

        .modal-footer {
          padding: 1vw 0 0 0;

          button {
            min-width: 25%;
            font-size: 16px;
          }
        }
      }
    }
  }
}