html,
body {
    overflow-x: hidden !important;
    width: 100% !important;
}

body {
    background-attachment: fixed;
    background-size: cover !important;
    font-size: 1.2vw;
    font-family: 'Khand', sans-serif !important;
    font-weight: 500 !important;
    overflow-x: hidden !important;
    padding: 0 !important;
}

#exampleModal-how .modal-title {
    float: left !important;
}

.header-location .set_address {
    padding: 0 0vw 0 4vw;
    margin-right: 2vw;
}

a:hover {
    text-decoration: none !important;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
b,
strong,
p {
    font-family: 'Khand', sans-serif !important;
}

p {
    font-weight: 500 !important;
}

._header_div {
    width: 100% !important;
    float: none;
    background-color: #fff;
    color: #000;
    border-top: 5px solid #151515;
}

._header_div>div {
    margin: 0 auto;
    float: none;
}

._header_div .container {
    padding: 1.2vw 1.2vw 1.4vw 1.2vw;
}

.container {
    width: 100%;
    max-width: 90vw;
    padding: 0 1.2vw;
}

.container-fluid {
    padding: 0 0 0 0;
}

.row {
    margin: 0 0 0 0;
}

.col,
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    padding: 0 1.2vw !important;
}

h1 {
    font-size: 2.5vw;
}

.grid-container {
    display: grid;
    grid-template-areas: 'header header header menu main right footer';
    grid-gap: 0.1vw;
    background-color: #464646;
    padding: 0 1.4vw;
}

.grid-container>div {
    background-color: #464646;
    color: #fff !important;
    border-left: 0.1vw solid rgba(255, 255, 255, 0.2901960784);
    text-align: center;
    padding: 0.5vw 0 0 0;
}

.grid-container>div>a {
    color: #fff !important;
}

.get-spans {
    padding: 0 2vw 0 0;
}

.header-location:after {
    content: "";
    position: absolute;
    right: 3vw;
    width: 20.5vw;
    border-bottom: 1px solid #d1d1d1;
    top: 7.5vw;
}


/**/

.header-map-hours {
    display: block;
    text-align: right;
    padding: 1vw 0px;
}

.header-location .set_address {
    text-transform: uppercase;
    font-size: 1vw;
    text-align: right;
    line-height: 1.2;
    width: 12vw;
    float: right;
    color: #000 !important;
}

.item2-mob {
    grid-area: first;
}

.item2-mob {
    grid-area: second;
}

.grid-container-mob {
    display: grid;
    grid-template-areas: 'first second';
    grid-gap: 0.1vw;
    background-color: #fff !important;
    color: #151515 !important;
    padding: 0 1.4vw;
}

.dropdown-menu>li>a {
    padding: 0.5vw 1.5vw !important;
    font-size: 1.2vw;
    font-weight: 700 !important;
    color: #fff !important;
    text-transform: uppercase !important;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:active {
    color: #fff !important;
}

.logo-div {
    display: none;
    margin-top: 0.15vw;
    clear: both;
    margin: 0 4;
    float: left;
    position: absolute !important;
    left: 5vw !important;
}

.logo-div img {
    width: 6.3vw;
}

.hours-days {
    text-transform: uppercase;
    font-weight: 700;
}

#top .logo {
    position: relative;
    margin-bottom: 8px;
}

.mobile-only {
    display: none;
}

.shadow-home {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 4vw 0;
}

.red-btn-new {
    background-color: red;
    display: block;
    margin: 3vw 25vw;
    color: #fff;
    font-weight: 600;
    padding: 2vw 1vw;
    text-transform: uppercase;
}

.black-btn-new {
    background-color: #000;
    display: block;
    margin: 3vw 10vw;
    color: #fff;
    font-weight: 600;
    padding: 2vw 1vw;
    text-transform: uppercase;
}

.shadow {
    background-color: rgba(32, 31, 31, 0.8);
    padding: 4vw 0;
}

.shadow-new {
    background-color: rgba(32, 31, 31, 0.8) !important;
    padding: 4vw 2vw;
}

.title-hr {
    width: 50%;
    border-top: solid 0.2vw #000 !important;
    margin-right: 50%;
}

.loc-link,
.btn-call-small {
    background-color: #464646 !important;
    padding: 1vw !important;
    color: #fff !important;
    border-radius: 0 !important;
}

.loc-link:hover,
.btn-call-small:hover {
    background-color: #ee171f !important;
}

.btn-group {
    display: flex !important;
}

h2.model-title {
    font-size: 1.25vw !important;
}

.Read-more {
    font-family: 'Khand', sans-serif !important;
}

@media screen and (max-width: 786px) {
    .links-ul {
        margin-left: 0 !important;
        padding-left: 0 !important;
    }
    h2 {
        font-size: 2.7vw;
    }
    h2.model-title {
        font-size: 2.5vw !important;
    }
}

@media screen and (max-width: 500px) {
    h2 {
        font-size: 3.8vw;
    }
    h2.model-title {
        font-size: 4vw !important;
    }
}

@media all and (max-width: 786px) {
    body {
        font-size: 3vw;
        font-weight: 500;
    }
    h1 {
        font-size: 3.5vw;
    }
    h3 {
        font-size: 2.5vw;
    }
    .dropdown-menu>li>a {
        font-size: 3vw;
        color: #fff !important;
        text-align: right !important;
        padding: 0 0 2.5vw 0 !important;
    }
    .dropdown-menu>li>a:hover {
        color: #000 !important;
    }
    .logo-im-mobile {
        background: #f7f7f7;
    }
    .logo-im-mobile img {
        margin: 2vw 0 3vw 2vw;
        width: 94%;
    }
    .mobile-ul {
        margin-left: 0 !important;
        margin-bottom: 0 !important;
        padding-left: 0 !important;
        text-align: center;
        white-space: nowrap;
    }
    .mobile-ul a {
        color: #fff !important;
    }
    .mobile-ul li {
        display: inline-block;
    }
    .mobile-ul i {
        font-size: 6vw;
        margin: 1.5vw 4vw 1.5vw 0;
    }
    .fb-mob-class i {
        margin: 1.5vw 3vw 1.5vw 2vw !important;
    }
    .insta-mob-class i {
        margin: 3vw 25vw 1.5vw 0 !important;
        color: #fff !important;
    }
    .mobile-ul table {
        color: #000 !important;
        width: 58vw;
    }
    .mobile-ul table tr {
        padding: 0.5vw !important;
    }
    .mobile-ul table td {
        padding: 1vw 2vw !important;
    }
    .mobile-only {
        display: block;
    }
    .desktop-only {
        display: none;
    }
    .logo {
        display: none;
    }
    .first-mob-sec {
        background-image: url(/site-uploads/1001276/Images/2019-09-palmerston-header-switchback-desktop.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding: 4vw 0;
    }
    .first-mob-sec .blue-buttons a {
        font-size: 4vw !important;
        background: #464646;
        color: #fff;
        box-shadow: 0.1vw 0.1vw 0.4vw #464646;
        padding: 2vw 1.2vw;
        width: 48%;
        text-transform: uppercase;
        font-weight: 600;
        margin: 6vw 0 2vw 0;
    }
    .first-mob-sec .float-left {
        float: left;
    }
    .first-mob-sec .float-right {
        float: right;
    }
    .white-buttons {
        background-image: url(/site-uploads/1001280/Images/new-cat-ATV.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .white-buttons h1 {
        text-transform: uppercase !important;
        color: #fff !important;
        text-shadow: 0.5vw 0.5vw 0.9vw #000;
        font-size: 7vw;
        font-weight: 600;
        margin: 16vw 0 8vw 0;
    }
    .white-buttons .white-btn {
        background-color: #fff;
        display: block;
        padding: 3.5vw 1vw;
        width: 98%;
        font-size: 5vw !important;
        margin: 3vw 0;
        color: #000;
        font-weight: 700;
        text-transform: uppercase !important;
        border-radius: 0;
    }
    .red-text {
        color: #ee171f !important;
    }
    .white-buttons .white-btn img {
        width: 20%;
        float: left;
    }
    .white-buttons .white-btn .btn-span {
        float: none;
        text-align: center;
        padding: 3.1vw;
    }
    .white-buttons .red-btn .btn-span {
        float: none;
        text-align: center;
        padding: 3.1vw;
        color: #fff !important;
    }
    .blue-buttons a {
        background: rgba(5, 5, 5, 0.5);
        color: #fff;
        border: 0.5vw solid #000;
        padding: 2vw 1.2vw;
        width: 47%;
        text-transform: uppercase;
        font-weight: 600;
        margin: 6vw 1vw 2vw 1vw;
        border-radius: 0 !important;
        text-align: left;
        padding-left: 7vw !important;
    }
    .brands-sec .title span {
        display: inline-block;
        position: relative;
        font-size: 5.5vw;
        font-weight: 700;
        margin-left: 2vw;
    }
    .brands-sec .title span::after {
        height: 5vw;
        border-bottom: 0.4vw solid gray;
        width: 40vw !important;
        margin-left: 1vw;
    }
    .brands-sec ul li a {
        margin: 2vw 0;
    }
    .brands-sec ul li a img {
        width: 100% !important;
        height: 100% !important;
        margin-left: 0 !important;
    }
    .title span {
        font-size: 4.5vw;
    }
    .title span::after {
        height: 4vw;
        width: 62vw;
    }
}

@media all and (max-width: 500px) {
    body {
        font-size: 4.5vw;
        font-weight: 500;
    }
    h1 {
        font-size: 5vw;
    }
    h3 {
        font-size: 4vw;
    }
    .caret {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 0.5vw !important;
        vertical-align: middle;
        border-top: 1.9vw dashed !important;
        border-top: 0.9vw solid\9 !important;
        border-right: 1.9vw solid rgba(0, 0, 0, 0) !important;
        border-left: 1.9vw solid rgba(0, 0, 0, 0) !important;
    }
    .dropdown-menu>li>a {
        font-size: 3.7vw;
    }
    .filter-ttl {
        text-align: left;
    }
    .filter-ttl {
        text-align: left;
    }
    .blue-buttons a {
        font-size: 4vw !important;
        padding: 3vw 2.2vw;
        width: 47% !important;
        font-weight: 600;
        margin: 1vw 1vw 1.5vw 1vw;
    }
    .brands-sec .title span {
        margin-left: 5vw;
    }
    .brands-sec .title span::after {
        height: 5vw;
        border-bottom: 0.7vw solid gray;
        width: 38vw !important;
        margin-left: 1vw;
    }
    .title span {
        font-size: 6.5vw;
    }
    .title span::after {
        height: 5.5vw;
        width: 51vw;
        border-bottom: 0.5vw solid gray;
    }
    .logo-li {
        padding: 10vw 0 !important;
    }
}

@media all and (min-width: 787px) {
    ul.navbar-nav {
        margin-top: 0.7vw;
        margin-bottom: 0.7vw;
        margin-left: 21vw;
    }
    .shopping-cart:hover .fa-shopping-cart,
    .shopping-cart:hover .fa-shopping-cart {
        color: #ee171f !important;
    }
    .shop-cart-top .fa-shopping-cart {
        border-left: 0.1vw solid #d1d1d1;
        padding-left: 1.2vw;
    }
    .dropdown:hover .dropdown-menu {
        display: block !important;
        margin-top: 0 !important;
        transition: 0.3s all ease-out;
    }
    .sticky-nav {
        position: fixed !important;
        top: 0px !important;
        left: 0px !important;
        bottom: 100% !important;
        width: 100% !important;
        z-index: 99 !important;
        min-height: 5.58vw !important;
        box-shadow: 0px 0.2vw 2vw #464646 !important;
        min-height: 4.6vw !important;
    }
}

.modal-body {
    padding: 0 !important;
}

.header-right hr {
    border-top: 1px solid #d1d1d1 !important;
    width: 100%;
    margin: 0 0 0.9vw 0;
}

.header-left hr {
    border-top: 1px solid #d1d1d1 !important;
    width: 98%;
    margin: 0 0 0.9vw 0;
}

.header-right i {
    color: #000;
    font-size: 2vw;
    margin: 0 0.8vw 0.5vw 0.8vw;
}

.header-newsletter table {
    padding: 1vw;
    width: 20vw;
}

.header-newsletter table tr,
.header-newsletter table td {
    padding: 0.5vw 1vw;
}

.header-newsletter #t_hour,
.header-newsletter a {
    color: #000 !important;
}

.close {
    font-size: 3vw !important;
    margin: 0.4vw 1vw 0 1vw !important;
}

.main-top-mob {
    margin: 6vw 5vw 0 0;
}

.main-top-mob i {
    font-size: 9vw;
    color: #000;
    border: 0.1vw solid #000;
    padding: 3vw 0 3vw 2.5vw;
}

.main-top-mob .fa-map-marker {
    color: #ee171f;
    border: 0.1vw solid #ee171f;
}

ul.hours-mobile-ul {
    padding: 0 !important;
}

.dealer-local-phone>a>span {
    color: red;
    font-family: 'Khand';
    font-size: 2vw;
    font-weight: 700 !important;
    text-transform: uppercase !important;
}

.main-btn {
    display: block !important;
    width: 70% !important;
    margin: 2vw 0 2vw 0;
    background-color: #000 !important;
}

@media screen and (max-width: 786px) {
    .main-btn {
        display: block !important;
        width: 70% !important;
        margin: 7vw 0 2vw 0;
        background-color: #000 !important;
    }
    #mobile-table {
        color: #000 !important;
        width: 62vw !important;
        position: absolute;
        background: #fff;
        left: -41vw;
    }
    #mobile-table td {
        display: table-cell !important;
        padding: 2vw !important;
    }
    .sticky-nav {
        position: fixed !important;
        top: 0px !important;
        left: 0px !important;
        bottom: 100% !important;
        width: 100% !important;
        z-index: 99 !important;
        min-height: 5.58vw !important;
        box-shadow: 0px 0.2vw 2vw #464646 !important;
        min-height: 14vw !important;
    }
    .item2-mob ul>li {
        display: inline-block;
    }
    .item2-mob ul>li>i {
        color: #000;
        border: 0.1vw solid #000;
        padding: 4vw 1vw;
    }
    .item2-mob ul>li:nth(1) i {
        color: red !important;
    }
    h4 {
        font-size: 3.4vw;
    }
}

.header-logo img {
    width: 20vw !important;
}

.header-newsletter {
    font-size: 1.25vw;
    float: right;
    padding: 1vw 2vw 1vw 0;
}

.bold {
    font-weight: bold;
}

.upper {
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {}

.header-logo {
    display: block;
    text-align: center;
}

.header-logo {
    display: block;
    text-align: center;
}

.header-numbers .dealer-phone a {
    color: #000;
    font-weight: bold;
    font-family: "Khand";
    font-size: 2vw;
}


/*----*/

._header_div #t_hour,
._header_div .fa,
._header_div .set_address,
._header_div .set_phone_number {
    color: #000 !important;
}

.header-map-hours>a>span {
    font-size: 2vw;
    display: inline-block;
    font-family: "Khand", sans-serif;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-family: "Khand";
}

.header-middle {
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
}