
nav#sidebar.sidebar-wrapper
  .sidebar-content
    .sidebar-brand
      a(href='#') 
        img.main-logo(src="./images/logo.png", alt="Main Logo")
      #close-sidebar
        i.fas.fa-times
    //- .sidebar-header
    //-   .user-pic
    //-     img.img-responsive.img-rounded(src='https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg' alt='User picture')
    //-   .user-info
    //-     span.user-name
    //-       | Jhon
    //-       strong Smith
    //-     span.user-role Administrator
    //-     span.user-status
    //-       i.fa.fa-circle
    //-       span Online
    //- sidebar-header
    //- .sidebar-search
    //-   div
    //-     .input-group
    //-       input.form-control.search-menu(type='text' placeholder='Search...')
    //-       .input-group-append
    //-         span.input-group-text
    //-           i.fa.fa-search(aria-hidden='true')
    //- sidebar-search
    .sidebar-menu
      ul
        //- li.header-menu
        //-   span General
        //- li.sidebar-dropdown
        //-   a(href='#')
        //-     i.fa.fa-tachometer-alt
        //-     span Dashboard
        //-     span.badge.badge-pill.badge-warning New
        //-   .sidebar-submenu
        //-     ul
        //-       li
        //-         a(href='#')
        //-           | Dashboard 1
        //-           span.badge.badge-pill.badge-success Pro
        //-       li
        //-         a(href='#') Dashboard 2
        //-       li
        //-         a(href='#') Dashboard 3
        //- li.sidebar-dropdown
        //-   a(href='#')
        //-     i.fa.fa-shopping-cart
        //-     span E-commerce
        //-     span.badge.badge-pill.badge-danger 3
        //-   .sidebar-submenu
        //-     ul
        //-       li
        //-         a(href='#')
        //-           | Products
        //-       li
        //-         a(href='#') Orders
        //-       li
        //-         a(href='#') Credit cart
        //- li.sidebar-dropdown
        //-   a(href='#')
        //-     i.far.fa-gem
        //-     span Components
        //-   .sidebar-submenu
        //-     ul
        //-       li
        //-         a(href='#') General
        //-       li
        //-         a(href='#') Panels
        //-       li
        //-         a(href='#') Tables
        //-       li
        //-         a(href='#') Icons
        //-       li
        //-         a(href='#') Forms
        //- li.sidebar-dropdown
        //-   a(href='#')
        //-     i.fa.fa-chart-line
        //-     span Charts
        //-   .sidebar-submenu
        //-     ul
        //-       li
        //-         a(href='#') Pie chart
        //-       li
        //-         a(href='#') Line chart
        //-       li
        //-         a(href='#') Bar chart
        //-       li
        //-         a(href='#') Histogram
        //- li.sidebar-dropdown
        //-   a(href='#')
        //-     i.fa.fa-globe
        //-     span Maps
        //-   .sidebar-submenu
        //-     ul
        //-       li
        //-         a(href='#') Google maps
        //-       li
        //-         a(href='#') Open street map
        //- li.header-menu
        //-   span Extra
        
        li
          a.item(href='#')
            span الرئيسية
        li
          a.item(href='#')
            span إرفع ملفك
        li
          a.item(href='#')
            span طلباتي
        li
          a.item(href='#')
            span إعدادات الحساب
        li
          a.item(href='#')
            span محفظتي
        li
          a.item(href='#')
            span تسجيل الخروج
    // sidebar-menu
  // sidebar-content
  .sidebar-footer
    //- a(href='#')
    //-   i.fa.fa-bell
    //-   span.badge.badge-pill.badge-warning.notification 3
    //- a(href='#')
    //-   i.fa.fa-envelope
    //-   span.badge.badge-pill.badge-success.notification 7
    //- a(href='#')
    //-   i.fa.fa-cog
    //-   span.badge-sonar
    //- a(href='#')
    //-   i.fa.fa-power-off
