.accessories-department {
    .flex-row {
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 1px solid #ddd;
            flex: 1;
            padding: 1vw;
            margin: 1vw;

            p,
            a {
                font-size: 1.1111111111vw;
            }
        }
    }

    .letters-list {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin-top: 2vw;
        padding: 0;

        li {
            flex: 1;
            margin: 0.25vw;

            a {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                background-color: var(--gray-3);
                border-radius: 5px;
                padding: 0.5vw;
                transition: all ease-in-out 0.25s;

                &:hover {
                    color: var(--gray-3);
                    background-color: var(--main-color);
                    text-decoration: none;
                }
            }
        }
    }

    @media screen and (max-width: 767px) {

        .flex-row {
            .content {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: 1px solid #ddd;
                flex: 1 1 100%;
                padding: 10px;
                margin: 1vw;

                p,
                a {
                    font-size: 16px;
                }
            }
        }

        .letters-list {
            li {
                flex: 1 1 15%;
                margin: 5px;

                a {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--gray-3);
                    border-radius: 5px;
                    padding: 0.5vw;
                }
            }
        }
    }
}