#shortlines a {
    display: block;
    border: none !important;
    padding: 15px;
    margin: 15px;
    color: #000;
    font-size: 18px;
    background-color: #f0f0f0;
}

#shortlines a img {
    border: none;
    background-color: #fff;
    margin-bottom: 5px;
}

.slide {
    aspect-ratio: 2048/600
}

.center-banners {
    width: 890px;
    margin: 0 auto;
}

.center-banners a {
    display: inline-block;
}

.hover-fix .btn-primary:hover {
    color: #fff;
    background-color: #da251e;
    border-color: #da251e;
}

.descColumnResponsive div {
    height: auto !important;
}

body {
    background-image: none !important;
    background-color: #161616 !important;
    background-repeat: no-repeat !important;
    font-family: var(--main-font);
}

/* Updates */
.navbar-nav {
    width: 100% !important;
    text-align: center;
}

.navbar-nav>li {
    float: none;
    display: inline-block;
}

#top .info .social {
    padding-top: 0px !important;
}

@media (max-width: 768px) {

    tr,
    td,
    tbody,
    table {
        display: block;
    }

    #parent * {
        max-width: 100%;
    }

    #parent .gallery ul.lSPager {
        max-width: none !important;
    }

    .navbar-nav {
        text-align: left;
    }

    .navbar-nav>li {
        display: block;
    }
}

#siteMenu {
    background-image: none !important;
    background-color: #FFFFFF !important;
}

.mainMenu li {
    background-color: #000000 !important;
    border-color: #FFFFFF !important;
    text-align: center !important;
}

.mainMenu li li {
    background-color: #000000 !important;
    border-color: #FFFFFF !important;
    text-align: center !important;
}

.mainMenu a,
.mainMenu a:visited {
    font-size: 10px !important;
    font-weight: normal !important;
    text-decoration: none !important;
    font-style: normal !important;
    color: #990000 !important;
}

.mainMenu a:hover {
    color: #990000 !important;
    background-color: #000000 !important;
    border-color: #FFFFFF !important;
}

.ui-layout-pane {
    background-image: none !important;
    background-color: #161616 !important;
}

.headerFont {
    background-image: none !important;

    font-weight: normal !important;
    text-decoration: none !important;
    font-style: normal !important;
    font-size: 10px !important;
    color: #000000 !important;
    background-color: #FFFFFF !important;
}

.pragraphFont {

    font-weight: normal !important;
    color: #fff !important;
    font-size: 10px !important;
    text-decoration: none !important;
    font-style: normal !important;
}

.linksFont {
    font-size: 10px !important;

    font-weight: normal !important;
    color: #000000 !important;
    text-decoration: underline !important;
    font-style: normal !important;
}

#parent {
    width: 100% !important
}

#parent>div.row:nth-child(2) {
    width: 1280px !important;
    margin: 0 auto;
    max-width: 100%
}

#HeaderDiv {
    width: 100% !important;
    float: none;
    display: block;
    clear: both;
}

#FooterDiv {
    width: 100% !important;
    clear: both;
}

#CenterDiv,
#RightDiv {
    min-height: 0px !important;
    overflow: hidden;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
}

#LeftDiv {
    padding-left: 15px;
    padding-right: 15px;
}

.contentComp {
    background-color: #fff;
    color: #555;
}

.abdoDiv {
    position: relative;
    clear: both;
}

.mainDiv {
    width: 1280px;
    margin: 0 auto;
    max-width: 100%;
}

.woo-links a {
    display: block;
    padding: 15px 34px;
    border: 1px solid #dedede;
    text-align: center;
    max-width: 350px;
}

.container {
    width: 95vw;
    max-width: 100%;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.col {
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.btn-primary {
    color: #fff;
}

.clearfix {
    clear: both;
}

.formsParent {
    border-radius: 6px;
}

.formsParent .checkbox label span {
    color: #fff;
}

body {
    font-size: 16px;
    color: #f1f1f1;
    background-color: #161616 !important;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

.img-responsive {
    width: 100%;
}

.col-md-15 {
    width: 20%;
    float: left;
}

.category-links {
    background-color: #fff;
    color: #282828;
    border-bottom: 3px solid #ee1c25;
    overflow: hidden;
}

.category-links ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.category-links li {
    width: 25%;
    float: left;
    text-align: center;
}

.category-links li a {
    display: block;
    padding: 15px;
}

.category-links li a:hover,
.category-links li a:focus,
.category-links li a.active {
    background-color: #cf1119;
    color: #fff;
    text-decoration: none;
}

.category-links li a.active {
    background-color: #ee1c25;
    color: #fff;
    text-decoration: none;
}

.hours-main .hours {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 2px 2px #555;
    color: #000;
    width: 260px !important;
    margin: 0;
    padding: 5px;
    border: 1px solid #ccc;
}

.hours-main ul {
    padding: 0px;
}

.hours-main a {
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    display: block;
    text-align: center;
    line-height: 40px;
}

.hours-main td {
    border-bottom: 1px solid #ccc;
    padding: 2px;
}

#t_hour {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    display: block;
}

.breadcrumbParent ol {
    background-color: #1b1b1b;
    margin: 0;
    border-radius: 0;
}

.breadcrumb>.active {
    color: #f3f3f3;
}


/* Top */
#top {
    background-color: #1f1c17;
    color: #f1f1f1;
    padding: 15px 0px 15px 0px;
}

#top a {
    color: #f1f1f1;
}

#top a:hover,
#top a:focus {
    text-decoration: none;
}

#top .logo {
    text-align: center;
}

#top .logo img {
    max-width: 220px;
    display: inline-block;
}

#top span.title {
    display: block;
    font-size: 14px;
    color: #f1f1f1;
}

#top .info {
    margin-bottom: -10px;
}

#top .info .address {
    padding: 10px 0px 0px 0px;
}

#top .info .phone {
    background-imageee: url(/site-uploads/1000873/Images/icon_phone.png);
    background-repeat: no-repeat;
    background-position: 20px center;
    border-right: 1px solid #36332f;
    border-left: 1px solid #36332f;
    padding: 30px 20px;
    float: right;
}

#top .info .phone span.text {
    text-transform: uppercase;
    font-size: 1.5vw;
}

#top .info .social {
    padding: 30px 0px 8px 15px;
}

#top .info .social ul {
    margin: 0px;
    padding: 0px;
}

#top .info .social img {
    padding-bottom: 5px;
}

#top .yamaha-logo {
    padding-top: 79px;
}

.direction-btn {
    width: 15vw;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    margin: 0px auto;
    margin-top: 8px;
    display: block;
    padding: 8px;
    font-size: 1.4vw;
    color: #1f1c17 !important;
    background-color: #f1f1f1;
    border-radius: 5px;
    clear: both;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.direction-btn img {
    float: left;
    margin-left: 5px;
}

.direction-btn span {
    color: #ee1c25;
    font-size: 16px;
}

.direction-btn:hover,
.direction-btn:hover span {
    text-decoration: none;
    color: #fff;
    background-color: #da251e;
}

/* Top Menu */
#top_menu .navbar-nav>li>a {
    font-size: 1.1vw;
    padding: 6px 15px;
}

#top_menu {
    border-bottom: 1px solid #36332f;
    margin-bottom: 8px;
    min-height: 30px;

    .collapse.navbar-collapse {
        background-color: #1f1c17;
    }
}

/* Menu */
#menu {
    background-color: #fff;
    border-bottom: 3px solid #da251e;
}

.navbar {
    border: 0;
    margin: 0 auto;
    float: none;
    width: 100%;
    border-bottom: 3px solid #da251e;
    margin-bottom: 0px;
    color: #f1f1f1;
}

.navbar-default {
    box-shadow: none;
}

.navbar-default .navbar-nav>li>a {

    text-transform: uppercase;
    color: #222;
}

.navbar-nav>li>a {
    padding: 1.4vw 1vw;
    font-size: 1.1vw;
    text-shadow: none;
    color: #222;

    @media screen and (max-width: 767px) {
        font-size: 16px;
    }
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background-color: #da251e !important;
    color: #fff;
}

.dropdown-menu {
    margin-top: 0px !important;
    border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #da251e;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: none;
}

.dropdown-menu>li>a {
    color: #fff;
    cursor: pointer;
    padding: 5px 15px 5px 15px;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: #fff;
    color: #222;
}

.dropdown-submenu>a:after {
    margin-right: 0px;
}

.navbar-default .navbar-brand {
    color: #222;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: red;
}

.navbar-default .navbar-toggle {
    background-color: #333;
}

.navbar-nav {
    width: 1280px;
    margin: 0 auto;
    float: none;
}

/* Weather */
#weather {
    position: absolute;
    z-index: 2;
    width: 100%;
}

#weather a {
    float: right;
    background-image: url(/site-uploads/1000873/Images/bg_weather.png);
    background-repeat: no-repeat;
    background-position: top center;
    color: #f1f1f1;

    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    display: block;
    padding: 15px 30px 30px 30px;
}

#weather a:hover,
#weather a:focus {
    background-image: url(/site-uploads/1000873/Images/bg_weather-over.png);
    text-decoration: none;
    color: #282828;
}

/* Categories */
#categories {
    border-top: 1px solid #d8d8d8;
    border-bottom: 3px solid #ee1c25;
    background-color: #fff;

    text-transform: uppercase;
    font-size: 16px;
    position: relative;
    z-index: 10;
    width: 100%;
    max-height: 300px;
}

#categories ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#categories ul li {
    display: inline-block;
    padding: 10px 15px 0px 15px;
    border-right: 1px solid #d8d8d8;
}

#categories ul li.last {
    border-right: none;
}

#categories img {
    width: 90px;
    margin-top: 0px;
    aspect-ratio: 4/3;
}

#categories span {
    display: block;
    padding: 15px 0px 15px 0px;
}

#categories a {
    color: #222;
}

#categories ul li a:hover,
#categories ul li a:focus {
    text-decoration: none;
    color: #ee1c25;
}

/* Buttons */
#buttons {

    text-transform: uppercase;
}

#buttons a {
    background-color: #292929;
    color: #a1a1a1;
    border-radius: 6px;
    display: block;
    padding: 20px;
    font-size: 18px;
    margin-bottom: 30px;
}

#buttons a:hover,
#buttons a:focus,
#buttons a:hover span,
#buttons a:focus span {
    text-decoration: none;
    background-color: #ee1c25;
    color: #fff;
}

#buttons img {
    aspect-ratio: 1/1;
    float: left;
    padding-right: 20px;
    margin-top: 5px;
}

#buttons span {
    display: block;
    color: #ee1c25;
    font-size: 16px;
    font-weight: 300;
}

/* Boxes */
#boxes {

    text-transform: uppercase;
}

#boxes a {
    background-color: #292929;
    color: #bbbbbb;
    border-radius: 6px;
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

#boxes a:hover,
#boxes a:focus {
    text-decoration: none;
    background-color: #ee1c25;
    color: #fff;
}

#boxes img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 100%;
    height: 100%;
}

#boxes span {
    display: block;
    padding: 15px;
}

/* Title homepage */
#home-title h1 {
    font-size: 36px;
    color: #f1f1f1;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #393939;
    line-height: 0.1em;
    padding: 60px 0px 0px 0px;
    margin: 0px 0px 60px 0px;
}

#home-title h1 span {
    background: #161616;
    padding: 0 10px;
}

/* Title Inner pages */
h1#page-title {
    border-bottom: 3px solid #ee1c25;
    background-color: #fff;

    text-transform: uppercase;
    width: 100%;
    margin: 0px;
    padding: 30px 0px 30px 0px;
    text-align: center;
    color: #282828;
}

/* Content */
#content {
    color: #222;
}

#content .content,
#content .sidebar {
    background-color: #f1f1f1;
    border-radius: 6px;
    padding: 15px;
    overflow: hidden;
}

#content .sidebar {
    margin-bottom: 15px;
    padding-bottom: 5px;
    margin-top: 15px;
}

#content .sidebar h2 {
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #b5b5b5;
    margin: 0px -15px 15px -15px;
    padding: 0px 0px 15px 0px;
}

#content .sidebar.featured {
    margin-bottom: 0px;
    margin-top: 30px;
    border-radius: 6px 6px 0 0;
}

#comp_1523981761121 {
    padding: 15px;
    border-radius: 6px;
    background-color: #f1f1f1;
    color: #222 !important;
    max-width: 1250px;
    margin: 0px auto 30px auto;
}

#comp_1523981761121 img {
    max-height: 120px;
    width: auto;
    max-width: 100%;
}

#comp_1523981761121 tr tr {
    height: 155px;
}

/*Inventory pages*/
.cta-btns a.green {
    background-color: #c40b12 !important;
}

a.View-Details,
a.View-Details span {
    background-color: #ffcb00 !important;
    color: #000 !important;
}

.text-info {
    color: #222 !important;
}

/* Parts Logos */
.suppliers {
    background-color: #fff;
    overflow: hidden;
    text-align: center;
    padding: 15px;
}

.suppliers img {
    display: inline-block;
    max-width: 100%;
}

/* OEMS Footer */
.oems {
    background-color: #fff;
    padding: 15px 0px 15px 0px;
    text-align: center;
    margin-top: 90px;
}

.oems img {
    display: inline-block;
    max-width: 100%;
}

/* Footer */
#footer {
    background-color: #161616;
    color: #a2a2a2;
    padding: 30px 0px 30px 0px;
}

#footer .col {
    border-right: 1px solid #393939;
    min-height: 325px;
}

#footer h2 {
    font-size: 20px;
    color: #e1141a;
    margin: 0px;
    padding: 0px 0px 20px 0px;
}

#footer span {
    color: #f1f1f1;
}

#footer ul {
    margin: 0px;
    padding: 0px;
}

#footer ul li a {
    display: block;
    color: #a2a2a2;
    padding-bottom: 5px;
    text-transform: uppercase;
}

#footer a {
    color: #a2a2a2;
}

#footer a:hover,
#footer a:focus,
#footer ul li a:hover,
#footer ul li a:focus,
#footer a span:hover,
#footer a span:focus {
    color: #e1141a;
    text-decoration: none;
}

#footer iframe {
    width: 100%;
}

/* Copyright */
#copyright {
    background-color: #0e0e0e;
    color: #5b5b5b;
    text-align: center;
    font-size: 12px;
    padding: 15px 0px 15px 0px;
}

#copyright a {
    color: #5b5b5b;
}

@media all and (max-width: 768px) {
    #top .yamaha-logo {
        padding: 10px;
        width: 150px;
    }

    .social-group.affix {
        display: none;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #000;
    }

    #LeftDiv {
        width: 100%;
    }

    .carousel,
    .clear-xs {
        display: none;
    }

    #top .logo {
        position: static;
        text-align: center;
        display: block;
    }

    #top .logo img {
        display: inline-block;
        float: none;
        padding-bottom: 15px;
    }

    #top .pull-left {
        float: none !important;
    }

    #top .info {
        display: none;
    }

    #CenterDiv {
        display: block;
    }

    #categories {
        max-height: none;
        display: none;
    }

    #categories ul li {
        border: none;
    }

    #categories img {
        margin-top: 0px;
    }

    .col-md-15 {
        width: 33.33%;
    }

    #buttons .col-md-15 {
        width: 50%;
    }

    #home-title h1 {
        border: none;
        line-height: normal;
        padding-top: 20px;
        margin-bottom: 20px;
    }

    #home-title h1 span {
        background: none;
    }

    #content .content {
        margin-bottom: 30px;
    }
}

#top .logo {
    position: relative;
    margin-bottom: 8px;
}

#promotions a {
    background-color: #161616;
    display: block;
    padding: 30px 5px;
    margin: 5px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 1pz 2pz 2pz #000;
}

@media all and (min-width: 769px) and (max-width: 1180px) {
    #top .logo {
        position: static;
        text-align: center;
        display: block;
    }

    #top .logo img {
        display: inline-block;
        float: none;
        padding-bottom: 15px;
    }

    #top .pull-left {
        float: none !important;
    }

    #top .info {
        float: left;
    }

    #top .info .address,
    #top .info .phone,
    #top .info .social {
        float: left;
    }

    #CenterDiv {
        display: inline;
    }

    #categories {
        max-height: none;
    }

    #categories img {
        margin-top: 0px;
    }

    #content .content {
        margin-bottom: 30px;
    }
}

@media all and (max-width: 360px) {
    .col-md-15 {
        width: 100%;
    }

    #buttons .col-md-15 {
        width: 100%;
    }
}


#promochooseone {
    text-align: center;
}

.promo-disclaimer {
    font-size: smaller;
    text-align: justify;
}

/* Style of countdown  */
.smalltext {
    padding-top: 5px;
    font-size: 16px;
    color: #000;
}

/* Style of countdown 1 */
#clockdiv {
    color: #333;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv>div {
    padding: 10px;
    border-radius: 3px;
    background: transparent;
    display: inline-block;
}

#clockdiv div>span {
    padding: 15px;
    border-radius: 3px;
    background: #ffc525;
    display: inline-block;
}

/* Style of countdown 2 */
#clockdiv2 {
    color: #333;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv2>div {
    padding: 10px;
    border-radius: 3px;
    background: transparent;
    display: inline-block;
}

#clockdiv2 div>span {
    padding: 15px;
    border-radius: 3px;
    background: #ffc525;
    display: inline-block;
}

/* Style of countdown 3 */
#clockdiv3 {
    color: #333;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv3>div {
    padding: 10px;
    border-radius: 3px;
    background: transparent;
    display: inline-block;
}

#clockdiv3 div>span {
    padding: 15px;
    border-radius: 3px;
    background: #ffc525;
    display: inline-block;
}

/* Style of countdown 4 */
#clockdiv4 {
    color: #333;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv4>div {
    padding: 10px;
    border-radius: 3px;
    background: transparent;
    display: inline-block;
}

#clockdiv4 div>span {
    padding: 15px;
    border-radius: 3px;
    background: #ffc525;
    display: inline-block;
}

/* Shortlines */
#shortlines {
    text-align: center;
}

#shortlines a {
    display: block;
    padding: 15px;
    margin: 15px;
    color: #222;
    border: 1px solid #ccc;
}

#shortlines span {
    display: block;
}

#shortlines a:hover,
#shortlines a:focus {
    border-color: #222;
    text-decoration: none;
}

.ShowReadMore .accordion-content-wrapper {
    height: auto !important;
}

.ShowReadMore .accordion-content-wrapper {
    height: auto !important;
    max-width: 100% !important;
    margin-bottom: 20px !important;
    border-collapse: collapse !important;
    border-spacing: 0 !important;
    border-color: grey !important;
    display: table !important;
    box-sizing: border-box !important;
}

.ShowReadMore .accordion-content-wrapper>thead>tr>th,
.ShowReadMore .accordion-content-wrapper>tbody>tr>th,
.ShowReadMore .accordion-content-wrapper>tfoot>tr>th,
.ShowReadMore .accordion-content-wrapper>thead>tr>td,
.ShowReadMore .accordion-content-wrapper>tbody>tr>td,
.ShowReadMore .accordion-content-wrapper>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.bord-pic {
    border: 2px solid #000;
}

.bord {
    border-bottom: 2px solid #000;
}

.map-img {
    aspect-ratio: 3/2;
    width: 100%;
    height: 100%;
}

@import "./yamaha";
@import "./scss/normal";