$bodyBG: #efefef;
$white: #FFF;
$border: #d5d5d5;
$darkWhite: #f7f7f7;

// Fonts Colors
$priFont: #4d3c98;
$secFont: #24b5e5;
$thiFont: #777;


//Footer background Gradient
$from: #00b4f8;
$to: #0088d1;