/* Start Footer*/
#html_1552860946826 {
  border-top: 2px solid var(--gray-2);
}
.to-up-container{
  position: relative;
  height: 50px;
  a.to-up {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray-2);
    transition: all ease-in-out 0.25s;
    @media screen and (max-width: 767px) {
      bottom: 10px;
      right: 50%;
      transform: translate(50%, -10px);
    }
    &:hover {
      color: var(--body);
      margin-bottom: 10px;
    }
  }
}
.footer-content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: #232628;
  width: 100%;
}

.footer-content-container .footer {
  color: #fff;
  width: 90vw;
  padding: 2vw 0vw;
}
.footer-content-container .footer.lg-footer{
  @media (max-width: 767px) {
    display: none;
  }
}

.footer-content-container{
  .sm-footer{
    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 75%;
      padding-bottom: 50px;
    }
    display: none;
    .hr{
      margin: 10px;
      border-top: 2px solid #FFF;
      width: 80%;
      height: 0;
    }
    .panel-group{
      width: 100%;
      .panel.panel-default{
        background-color: transparent;
        border: 0;
        .panel-heading{
          margin: 0;
          background-color: var(--black);
          color: var(--white);
          transition: all ease-in-out 0.3s;
          &:hover {
            color: var(--black);
            background-color: var(--white);
          }
          .panel-title{
            a{
              display: block;
              text-decoration: none;
              padding: 10px;
            }
          }
        }
        .panel-body{
          padding: 5px;
          padding: 5px 15px;
          background-color: var(--black);
          .links{
            li{
              margin: 10px 0;
              .link{
                color: var(--white);
                transition: all ease-in-out 0.3s;
                position: relative;
                font-size: 18px;
                display: block;
                text-transform: uppercase;
                &:hover{
                  padding-left: 15px;
                  color: var(--main-color);
                  &::before{
                    content: "\203A";
                    color: var(--main-color);
                    font-weight: bold;
                    position: absolute;
                    left: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
    .social {
      width: 50%;
      a{
        width: 100%;
        color: var(--white);
        text-align: center;
        font-size: 22px;
      }
    }
  }

  .bottom-fixed {
    @media screen and (min-width: 768px){
      display: none;
    }
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 9999;
    .controller {
      clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0% 100%);
      width: 200px;
      height: 30px;
      cursor: pointer;
      background-color: var(--black);
      color: var(--white);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all ease-in-out 0.3s;
      &:hover{
        color: var(--black);
        background-color: var(--main-color);
      }
      span {
        font-size: 4rem;
        transition: all ease-in-out 0.3s;
        &.down {
          transform: rotate(90deg);
        }
    
        &.up {
          transform: rotate(-90deg);
        }
      }
    }
    .content {
      background-color: var(--black);
      height: auto;
      width: 100%;
      display: flex;
      justify-content: space-around;
      .img{
        display: flex;
        align-items: center;
        position: relative;
        &:before {
          content: "";
          width: 100%;
          height: 7px;
          position: absolute;
          top: 0;
          left: 0;
        }
        &:nth-child(1):before {
          background-color: #FCCA1B;
        }
        &:nth-child(2):before {
          background: linear-gradient(180deg, #E03C31 0%, #E03C31 100%);
        }
        &:nth-child(3):before {
          background: linear-gradient(180deg, #C2E76E 0%, #2DD5C3 100%);
        }
        &:nth-child(4):before {
          background: linear-gradient(180deg, #FFF3D0 0%, #FCCA1B 100%);
        }
      }

    }
  }

  /*-------------------------Left Side Nav Logos----------------------------*/
  .side-nav-logos {
    @media screen and (max-width: 767px){
      display: none;
    }
    position: fixed;
    top: -1%;
    z-index: 9999 !important;
    left: 0%;
    width: 100px;

    ul {
      list-style-type: none;
      padding: 0;
      transform: translatex(-50px);
      margin: 5px 0;
      li{
        // display: block;
        margin: 1.5px;
        background-color: rgba(0, 0, 0, 0.9);
        // width: 140px;
        // width: 10vw;
        text-align: right;
        transition: all 1s;
        height: 115px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
          transform: translatex(20px);
        }
        &:after {
          content: "";
          width: 5px;
          height: 100%;
        }
        &.can-am-off:after{
          background-color: #FCCA1B;
        } 
        &.can-am-on:after{
          background: linear-gradient(180deg, #E03C31 0%, #E03C31 100%);
        } 
        &.sea-doo:after {
          background: linear-gradient(180deg, #C2E76E 0%, #2DD5C3 100%);
        }
        &.ski-doo:after{
          background: linear-gradient(180deg, #FFF3D0 0%, #FCCA1B 100%);
        }
        a{
          font-size: 2vw;
          transform: rotate(270deg);
          position: relative;
          width: 100%;
        }
        a svg, a img {
          width: 100px;
          fill: currentColor;
          position: absolute;
          left: -10px;
          top: 10px;
          min-width: 100px;
        }
      }
    }
  }

}

.footer-content-container h2 {
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 1px solid #454548;
  font-size: 1.8vw;
  padding-bottom: .75vw;
}

@media (max-width: 767px) {
  .footer-content-container h2 {
      font-size: 3.25vw;
  }
}

.footer-content-container h4 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5vw;
}

@media (max-width: 767px) {
  .footer-content-container h4 {
      font-size: 2.75vw;
  }
}


.footer-content-container p {
  text-transform: uppercase;
  font-size: 1.40vw;
}

@media (max-width: 767px) {
  .footer-content-container p {
      font-size: 2.75vw;
  }
}

.footer-content-container p {
  color: var(--white);
}

.footer-content-container .contact-us .panel-group a,
.footer-content-container .contact-us .panel-group {
  color: #000;
}

.footer-content-container .contact-us,
.footer-content-container .quick-links,
.footer-content-container .opening-hours {
  padding: 0 1vw;
}

.footer-content-container .opening-hours .map iframe{
  width: 100%;
}

.footer-content-container .contact-us .phone,
.footer-content-container .hours .hour, .footer-content-container p a {
  font-size: 1.3vw;
  color: var(--white);
}

.footer-content-container .hours .hour {
  strong {
    display: block;
  }
}

@media (max-width: 992px) and (min-width: 768px) {

  .footer-content-container .contact-us .phone,
  .footer-content-container .hours .hour {
      font-size: 1.75vw;
  }
}

@media (min-width: 576px) and (max-width: 767px) {

  .footer-content-container .contact-us .phone,
  .footer-content-container .hours .hour {
      font-size: 2vw;
  }
}

@media (max-width: 575px) {

  .footer-content-container .contact-us .phone,
  .footer-content-container .hours .hour {
      font-size: 3vw;
  }
}

.footer-content-container .opening-hours .departments {
  display: flex;
}

.footer-content-container .opening-hours .departments span {
  flex: 1;
  text-transform: uppercase;
  font-weight: bold;
  padding: 3vw 0;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer-content-container .opening-hours .departments span {
      font-size: 2vw;
      text-align: center;
  }
}

@media only screen and (max-width: 575px) {
  .footer-content-container .opening-hours .departments span {
      font-size: 3.25vw;
      text-align: center;
  }
}

.footer-content-container .opening-hours .social,
.footer-content-container .social {
  padding-top: 2vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-top: 1px solid #454548;
}

.footer-content-container .opening-hours .social a,
.footer-content-container .social a {
  flex: 1;
}

@media (max-width: 767px) {

  .footer-content-container .opening-hours .social a,
  .footer-content-container .social a {
      text-align: center;
      font-size: 2vw;
  }
}

.footer-content-container .child {
  flex: 0 100%;
}

.footer-content-container img {
  // width: 200px
}

.footer-content-container ul {
  color: #FFF;
  margin-top: 10px;
  list-style: none;
  padding-left: 0;
}

.footer-content-container ul li a {
  color: #FFF;
  text-decoration: none;
  transition: all .2s ease-in-out;
  font-size: 1.25vw;
}

@media (max-width: 992px) and (min-width: 768px) {
  .footer-content-container ul li a {
      font-size: 2vw;
  }
}

@media (max-width: 767px) {
  .footer-content-container ul li a {
      font-size: 2.75vw;
  }
}

.footer-content-container ul li a:hover {
  color: #FFF;
  text-decoration: none;
  // transform: scale(1.2);
}


.footer-content-container svg {
  margin: 1vh;
  fill: currentColor;
    width: 200px;
    color: #fff;
}

.footer-content-container .social .social-link {
  position: relative;
  padding: 0;
  z-index: 98;
  color: #ED0000;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: #fff !important;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-align: center;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 10px;
  margin-bottom: 8px;
}

.footer-content-container .social .social-link i {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -7px;
  margin-top: -7px;
  width: 15px;
  height: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}


/*  */ 

/**/
#copyright {
  background-color: var(--black);
  color: #CACACA;
  text-align: center;
  font-size: 12px;
  padding: 15px 0px 15px 0px;
  flex: 1;
  width: 100vw;
  
}

#copyright .container {
  // border-top: 1px solid #454548;
  padding: 1vw;
  font-size: 1vw;
}

@media (max-width: 992px) and (min-width: 768px) {
  #copyright .container {
      font-size: 1.5vw;
  }
}

@media (max-width: 767px) {
  #copyright {
    padding: 15px 0px 16vw 0px !important;
  }
  #copyright .container {
      font-size: 16px;
  }
}

#copyright a {
  color: #fff;
}
/**/ 