#prompt-L8kDsetFnegjicxJsWCA-iframe {
    display: none;
}

#shortlines a {
    display: block;
    border: none !important;
    padding: 15px;
    margin: 15px;
    color: #000;
    font-family: "FFDINWebProBold", sans-serif;
    font-size: 18px;
    background-color: #f0f0f0;
}

#shortlines a img {
    border: none;
    background-color: #fff;
    margin-bottom: 5px;
}

.no-br br {
    display: none;
}

.houers>br {
    display: none;
}

#page_50907 .home-only {
    display: none;
}

.blue {
    background: rgba(38, 47, 110, .8) !important;
}

#page_51017 table {
    text-align: center;
}

html {
    scroll-behavior: smooth
}

@media (max-width:767px) {

    a,
    p,
    table,
    h {
        font-size: 3vw;
    }
}

.sticky-nav {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10
}

body {
    background-image: none !important;
    background-color: #FFFFFF !important;
    background-repeat: no-repeat !important;
}

#siteMenu {
    background-image: none !important;
    background-color: #FFFFFF !important;
}

.mainMenu li {
    background-color: #000000 !important;
    border-color: #FFFFFF !important;
    text-align: center !important;
}

.mainMenu li li {
    background-color: #000000 !important;
    border-color: #FFFFFF !important;
    text-align: center !important;
}

.mainMenu a,
mainMenu a:visited {
    font-size: 10px !important;
    font-weight: normal !important;
    text-decoration: none !important;
    font-style: normal !important;
    color: #990000 !important;
}

.mainMenu a:hover {
    color: #990000 !important;
    background-color: #000000 !important;
    border-color: #FFFFFF !important;
}

.ui-layout-pane {
    background-image: none !important;
    background-color: #ff0000 !important;
}

.headerFont {
    background-image: none !important;
    // font-family: Verdana, Arial, sans-serif !important;
    font-weight: normal !important;
    text-decoration: none !important;
    font-style: normal !important;
    font-size: 10px !important;
    color: #000000 !important;
    background-color: #FFFFFF !important;
}

.pragraphFont {
    // font-family: Verdana, Arial, sans-serif !important;
    font-weight: normal !important;
    color: #000000 !important;
    font-size: 10px !important;
    text-decoration: none !important;
    font-style: normal !important;
}

.linksFont {
    font-size: 10px !important;
    // font-family: Verdana, Arial, sans-serif !important;
    font-weight: normal !important;
    color: #000000 !important;
    text-decoration: underline !important;
    font-style: normal !important;
}

a {
    text-decoration: none !important;
}

/*Header */
.topnav {
    display: flex;
    flex-direction: row;
    padding: 0 5vw 0 2vw;
    color: #000;
    border-top: solid #393939 .3vw;
    background: rgba(255, 255, 255, 1);
    justify-content: space-between;

}

.mainlogo {
    width: 17vw;
    padding: 1vw 0;
    margin: 0 6vw 0 2vw;
}

.mainlogo img {
    width: 100%;
    height: 100%;
}

.mainlogo1 {
    margin-top: 1.7vw;
    text-align: end;
    min-width: 18vw;
}

.mainlogo1Span {
    font-size: 1.8vw;
    padding: 0 1vw 0 0;
    text-transform: uppercase;
    // font-family: 'Roboto Condensed';
    font-weight: 600 !important;
}

.alignadd {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5vw;
}

.alignadd a {
    text-align: end;
    max-width: 14vw;
}

.alignadd span {
    color: #000;
    font-size: 1.2vw;
    // font-family: 'Roboto';
    padding: 0;
    text-transform: capitalize;
}

.mainlogo2 {
    margin: 2.5vw 0 0 0;
    min-width: 10vw;
    max-width: 18vw;
}

.hourtop {
    font-size: 1.8vw;
    line-height: .95vw;
    text-align: right;
}

.todayHours {
    font-size: 1.8vw;
    // font-family: 'Roboto Condensed';
    padding-right: 1vw;
    display: flex;
    font-weight: 600;
}

.houers {
    // font-family: 'Roboto';
}

.with-br {
    font-size: 1.2vw;
    line-height: 1.5277777777777777vw;
    text-align: center;
    margin-top: 1.2vw;
    font-weight: 400;
    display: flex;
    margin-right: 0vw;
    flex-direction: column;
}

.hourtop a {
    color: #000;
}

.hourtop .top-hours {
    width: 19.4vw;
    background-color: #313131 !important;
    color: #fff;
    margin: 1vw 0vw 0 -1.1vw;
    border-radius: 0;
    padding: .5vw 1vw;
    font-size: 1.2vw;
    line-height: normal;
}

.top-hours li {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 767px) {
    .mainlogo2 .formtop {
        margin-top: .5vw;
    }
}

.mainlogo3 {
    margin: 1.6vw 0 0 0;
    min-width: 10vw;
    text-align: center;
}

.mainlogo3 .titlePhone {
    display: block;
    font-size: 1.8vw;
    // font-family: 'Roboto Condensed';
    font-weight: 600;
}

.mainlogo3 a {
    font-size: 1.2vw;
    color: #000;
    // font-family: 'Roboto';
}

.mainlogo3 .set_phone_number {
    font-size: 1.2vw;
    color: #000;
    // font-family: 'Roboto';

}

.mainlogo4 {
    margin: 1vw 0 0 0;
}

.mainlogo4 a:hover img {
    transform: scale(1.2);
}

.logo4One {
    padding-top: 0.7vw;
    width: 11vw;
}

.logo4One img {
    width: 100%;
    height: 100%;
    transition: all ease-in-out .25s;
}

@media (max-width: 767px) {
    .mainlogo {
        width: 43vw;
        padding: 4vw 2vw 0vw;
    }
}

@media (max-width: 767px) {
    .topnav {
        padding: 0;
        border-top: solid #393939 1.3vw;
    }
}

@media (max-width: 767px) {
    .mobile-only-two-buttons {
        float: right;
        margin: 9vw 8vw 8vw 1vw;
    }
}

@media (max-width: 770px) {
    .mobile-only-two-buttons a {
        padding: 4vw 2.5vw 5vw 3.2vw;
        border: 1px solid #000;
        margin: 3vw 1vw;
        font-size: 6vw;
    }
}

.mobile-only-two-buttons a i {
    color: #262F6E;
}

/*end header */
#nav_56992 {
    width: 100% !important;
    background: #262F6E !important
}

.navbar {
    border: none
}

.navbar-nav {
    flex-direction: row;
    margin: 0 2vw;
    width: 100% !important
}

.navbar {
    border-radius: 0 !important;
    margin: 0 !important
}

#nav_56992 li a {
    color: #f1f1f1;
    font-weight: 600;
    text-shadow: none !important;
    text-transform: uppercase;
    transition: .3s border ease-out;
    padding: 1.4vw 2vw;
    font-size: 1.29vw;
    // Font-family: "Roboto Condensed"
}

@media (min-width:767px) {
    .navbar-nav>li>.dropdown-menu {
        background: #262F6E !important;
        float: right;
        width: 13vw
    }
}

.dropdown-menu>li>a {
    padding: 1.4vw 2.25vw !important
}

.dropdown-menu>li>a:active,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #262F6E !important;
    background-color: #fff !important
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: #fff !important;
    color: #195da6 !important
}

.mob-search {
    position: absolute;
    left: 4vw;
    top: 1vw;
}

.mob-search i {
    color: #fff;
    font-size: 5.5vw;
    padding: 3.5vw 0vw 3vw 2vw;
}

.mob-search span {
    font-size: 4vw;
    text-transform: uppercase;
    // font-family: 'Roboto Condensed';
    color: #fff;
}

.float-right {
    float: right;
}

.ul-mob {
    padding-left: 0;
    margin-top: 1vw;
}

.ul-mob li {
    display: inline-block !important;
    margin: 0;
    padding: 0 !important;
}

.ul-mob i {
    font-size: 5.5vw;
    margin: 3.5vw 2vw 0 0vw;
    color: #fff;
}

.b-bg-ico span {
    color: #fff;
    font-size: 4vw;
}

#nav_56992 li a {
    text-shadow: none !important;
    text-transform: uppercase;
    transition: 0.3s border ease-out;
    padding: 1.4vw 3.25vw;
    font-size: 1.29vw;
}

@media (max-width: 768px) {
    #nav_56992 li a {
        color: #fff;
    }
}

@media (max-width: 767px) {
    .navbar-header .navbar-toggle {
        position: relative;
        float: right;
        right: 0vw;
        border-radius: 0 !important;
        margin: 0px !important;
        background-image: none;
        border: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 4.4vw 4vw 5vw 4vw;
        border-left: 0.5vw solid rgba(255, 255, 255, .4);
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff !important;
    width: 35px !important;
    height: 4px !important;
}

.dropdown-menu>li>a {
    padding: 0.5vw 1.5vw !important;
    font-size: 1vw !important;
    color: #fff !important;
    text-transform: none !important;
}

@media (max-width: 767px) {
    ul.navbar-nav {
        margin: 0 !important;
        font-size: 4vw !important;
        padding: 2.5vw 0 !important;
    }
}

@media (max-width: 767px) {
    #nav_56992 li a {
        font-size: 4vw !important;
        padding: 2.5vw 2.8vw !important;
        text-align: end;
    }
}

.navbar-collapse {
    padding: 0 !important;
}

@media (min-width: 767px) {
    .dropdown:hover .dropdown-menu {
        display: block !important;
        margin-top: 0 !important;
        transition: 0.3s all ease-out;
    }
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active {
    background-color: #fff !important;
    color: #262F6E !important;
}

.ul-mob .dropdown .hours {
    width: 44.4vw;
    margin: 1vw 0vw 0 -1.1vw;
    border-radius: 0;
    padding: 1vw 1vw 1vw;
    line-height: normal;
}

/*search */
.other-header-links .lg-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lg-content {
    position: absolute;
    right: 0vw;
    font-size: 1.29vw;
    // font-family: 'Roboto Condensed';
    background: #DB2129;
    width: 20vw;
    padding: 1.22vw 0vw;

}

.search-btn-toggle-btn {
    color: #fff;
    margin: 0 0 0 3vw;
}

.search-btn-toggle-btn:hover span,
.search-btn-toggle-btn:active span,
.search-btn-toggle-btn:focus span {
    color: #FFF !important;
}

/*end nav bar */
/*Slider*/
.col-md-12 {
    padding: 0 !important;
}

#comp_1630094734286 .right:before {
    content: "\e258";
    display: block;
    height: 2vw;
    width: 2vw;
    font-size: 3vw;
    font-family: "Glyphicons Halflings";
    position: absolute;
    top: 8vw;
    right: 7vw;
}

#comp_1630094734286 .left:before {
    content: "\e257";
    display: block;
    height: 2vw;
    width: 2vw;
    font-size: 3vw;
    font-family: "Glyphicons Halflings";
    position: absolute;
    top: 8vw;
    left: 7vw;
}

.carousel-inner>.item>img {
    width: 100%;
}

.carousel-control img {
    display: none;
}

#comp_1630094734286 .carousel-indicators {
    margin-left: 7%;
    bottom: 3vw;
    z-index: 4;
}

#comp_1630094734286 .carousel-indicators .active {
    background-color: #DA2128 !important;
    width: 2.5vw !important;
    height: 0.5vw !important;
    margin: 0.2vw !important;
    border-radius: 0;
    border: 1px solid #DA2128;
}

#comp_1630094734286 .carousel-indicators li {
    width: 2.5vw !important;
    height: 0.5vw !important;
    margin: 0.2vw !important;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0 !important;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

@media (max-width:767px) {
    #comp_1630094734286 .carousel-indicators {
        display: none;
    }
}

/*end slider */
/*products-logos */
.products-logos {
    display: flex;
    justify-content: space-around;
    padding: 1.2vw 0 .5vw 0;
    border: 1px solid #d1d1d1 !important;
    box-shadow: 0px 0px 5px #dedede;
}

.products-logos a img {
    transition: all ease-in-out .25s;
    width: 100%;
}

.products-logos a:hover img {
    transform: scale(1.1);
}

/*products-logos mobile */

.secondMenu {
    display: flex;
    justify-content: space-around;
    padding: 0 1.5vw;
}

.secondMenuMobile-cont {
    text-align: center;
    width: 85%;
    margin: auto;
    padding: 3vw 0;
}

.secondMenuMobile-item {
    border: 1px solid #2B2B2B;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 3vw;
    margin: 3vw 0;
    height: 16vw;
}

.secondMenuMobile-img {
    width: 28vw;
}

.secondMenuMobile-span {
    text-align: center;
    font-size: 4vw;
    // font-family: 'Roboto Condensed';
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 1.5vw;
}

.secondMenuMobile-span a {
    color: #2B2B2B;
}

.secondMenuMobile-title {
    text-align: center;
}

.secondMenuMobile-title a {
    text-align: center;
    font-size: 5vw;
    // font-family: 'Roboto Condensed';
    text-transform: uppercase;
    margin: 0 0 2vw 0;
    color: #000;
    background: #fff;
    border: none;
}

.secondMenuMobile-title a:focus,
.secondMenuMobile-title a:active,
.secondMenuMobile-title a:hover {
    background: #fff;
    color: #000;

}

.secondMenuMobile-title span {
    top: 1.4vw;
}

/*thumbnails */
.container-90 {
    margin: 4vw auto;
    padding: 0 3vw;
}

@media(max-width:767px) {
    .container-90 {
        width: 94%;
    }
}

#boxes a {
    background-color: #262F6E;
    color: #f1f1f1;
    display: block;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    font-size: 1.45vw;
    // font-family: "Roboto Condensed";
    font-weight: 400;
    width: 21vw;
}

#boxes a img {
    width: 100%;
    aspect-ratio: 403/276;
}

#boxes a span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #262F6E;
    transition: all ease-in-out 0.2s;
    text-transform: uppercase;
}

#boxes a:hover,
#boxes a:focus {
    text-decoration: none;
    background-color: rgba(0, 0, 255, .2);
    color: #fff;
}

#boxes a:hover span,
#boxes a:focus span {
    height: 100%;
    background-color: rgba(0, 0, 255, .6);
}

@media(max-width:767px) {
    .logos-mobile {
        display: flex;
        padding: 4vw 0;
        justify-content: space-between;
    }
}

@media(max-width:767px) {
    .home-thumbs ul {
        padding: 0;
        margin: auto;
        display: flex;
        list-style: none;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media(max-width:767px) {
    .home-thumbs ul li {
        float: left;
        padding: 1vw 1.1vw;
        width: 100%;

    }
}

@media(max-width:767px) {
    .home-thumbs ul li {
        flex-direction: row;
        justify-content: space-between;
        font-size: 4vw;
        font-weight: 400;
        text-decoration: none;
        display: flex;
        align-items: center;
        // font-family: 'Oswald';
        margin: .5vw 0;
    }
}

@media(max-width:767px) {
    .home-thumbs ul li a {
        background: rgba(38, 47, 110, 1);
        width: 100%;
    }
}

@media(max-width:767px) {
    .home-thumbs ul li img {
        width: 33%;
        height: 100%;
        aspect-ratio: 403/276;
    }
}

@media(max-width:767px) {
    .home-thumbs ul li span {
        color: #fff;
        text-transform: uppercase;
        float: right;
        margin: 5.5vw;
        // font-family: 'Roboto Condensed';
        font-size: 4vw;
    }
}

/*end thumbnails */
/*describition */
.description-section {
    margin: auto;
    padding: 0 3vw;
}

.description {
    margin-top: -.6vw;
}

@media(max-width:767px) {
    .description-section {
        padding: 0 3vw;
        width: 90%;
    }
}

.description-section hr {
    border-top: .2vw solid rgba(187, 187, 187, 1);
    margin: 1vw 1vw 2vw;
}

@media(max-width:767px) {
    .description-section hr {
        margin: 1vw 0vw 4vw 0vw;
    }
}

@media(max-width:767px) {
    .description-section .col-md-6 {
        padding: 0;
    }
}

.description-text,
.description-text-second {
    text-align: center;
    font-size: 2.2vw;
    // font-family: 'Roboto Condensed';
    font-weight: 500;
    color: #262F6E;
}

.description-head {
    font-size: 2vw;
    // font-family: 'Roboto Condensed';
    color: #DB2129;
}

.description-text-second {
    margin-top: 3vw;
}

.description-paragraph {
    font-size: 1.1vw;
    // font-family: 'Roboto';
    font-weight: 400;
}

.description-btn {
    padding: 2.6vw 0;
}

@media(max-width:767px) {
    .description-btn {
        padding: 7vw 0;
    }
}

.description-btn a {
    background: #262F6E;
    color: #fff;
    padding: 1vw 2vw;
    font-size: 1.2vw;
    font-weight: 400;
}

.description-btn a:hover {
    color: #fff;
    background: #DB2129;
    font-weight: bold;
    border: 1px solid #DB2129;
    text-shadow: 1px 1px #333;
}

@media(max-width:767px) {
    .description-text {
        font-size: 6vw;
        padding: 0vw;
    }
}

@media(max-width:767px) {
    .description-head {
        font-size: 5vw;
        padding: 0vw;
        margin-top: 3vw;
    }
}

@media(max-width:767px) {
    .description-paragraph {
        font-size: 4vw;
        padding: 3vw 0;
    }
}

@media(max-width:767px) {
    .description-btn a {
        padding: 3vw 5vw;
        font-size: 4vw;
    }
}

.description-section .col-md-6 img {
    width: 100%;
    height: 25vw;
}

@media(max-width:767px) {
    .description-section .col-md-6 img {
        height: 100%;
        aspect-ratio: 215/108;
    }
}

/*end describition */
/*side nav */
.side-btns-parent .tab-link i {
    color: rgba(241, 241, 241, 1);
    font-size: 1.3vw;

}

#sideTabs {
    display: block;
    position: fixed;
    z-index: 15;
    top: 12vw;
    right: 0;
    min-width: 22vw;
}


#sideTabs #panelFacebook {
    text-align: center;
    padding: .65vw;
    z-index: 10;
    top: 5.1vw;
}

#sideTabs #panelFacebook a {
    color: #000;
    // font-family: 'Roboto Condensed';
    font-size: 1.2vw;
}

#sideTabs .tab-content {
    position: absolute;
    background-color: #fff;
    width: 22vw;
    right: -22vw;
}

#sideTabs #panelFacebookTab {
    background: rgba(43, 43, 43, .8);

}

#sideTabs .tab-link {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    height: 3vw;
    top: 0;
    left: -3vw;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

#sideTabs #panelHCWH {
    z-index: 5;
    top: 11.3vw;
}

#sideTabs #panelHCWHTab {
    background: rgba(43, 43, 43, .8);

}

#sideTabs #panelHCWH .col-sm-6 a {
    max-width: 100% !important;
    height: 7vh !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    color: #fff;
    font-size: 1vw;
    font-family: var(--main-font);
    font-weight: 400;
    background: rgb(0, 74, 173);
}

#sideTabs #panelHCWH .col-sm-6,
#sideTabs #panelHCWH .col-sm-12 {
    padding: .4vw !important;
}

#sideTabs #panelTwitter {
    top: 5.1vw;
    z-index: 9;
}

#sideTabs #panelTwitterTab {
    background: rgba(43, 43, 43, .8);

}

#sideTabs #panelInstagramTab {
    background: rgba(43, 43, 43, .8);

}

#sideTabs #panelInstagram {
    top: 8.19vw;
    z-index: 8;
    text-align: center;
    padding: .65vw;
}

#sideTabs #panelInstagram a {
    color: #000;
    // font-family: 'Roboto Condensed';
    font-size: 1.2vw;
}

#sideTabs #panelWeatherTab {
    background: rgba(43, 43, 43, .8);

}

#sideTabs #panelWeather {
    top: 14.4vw;
    z-index: 4;
    text-align: center;
    padding: .65vw;
}

#sideTabs #panelWeather a {
    color: #000;
}

.tab-link:hover {
    background: rgba(38, 47, 110, .8) !important;
}

#fb-root {
    margin-top: -.8vw;
}

#sideTabs #panelHCWH a {
    color: #000;
    // font-family: 'Roboto Condensed';
    font-size: 1.2vw;
}

#sideTabs #panelWeather a {
    color: #000;
    // font-family: 'Roboto Condensed';
    font-size: 1.2vw;
}


/*end side nav */
.ScrollUp {
    position: relative;
    top: -2vw;
    left: 90vw;
    padding-top: 3vw;
}

#scroll-up {
    border: 1px solid #cfcfcf;
    color: #262F6E;
    background: #fff;
    padding: 1vw;
}

/*footer*/
.footer {
    display: flex;
    flex-direction: row;
    background: rgba(49, 49, 49, 1);
    color: #fff;
    padding: 2.5vw 2.9vw 1vw 3vw;
}

@media (max-width: 767px) {
    .footer {
        display: none;
    }
}

.footer .contact-sec {
    flex: 3;
    padding: 0 1.1vw !important;
}

.footer .quickLines-sec {
    flex: 2.5;
    padding: 0 1.1vw !important;
}

.footer .openingHours {
    flex: 2.5;
    padding: 0 1.1vw !important;
}

.footer .location {
    flex: 4;
    padding: 0 1.1vw !important;
}

.footer h2 {
    font-size: 1.7vw;
    color: #fff;
    margin: 0px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 2vw;
    // font-family: 'Roboto Condensed';
}

.footer hr {
    width: 100%;
    border-top: 0.1vw solid #9c9c9c !important;
}

.footer a {
    display: block;
    color: #cfcfcf;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: .5vw;
    cursor: pointer;
    font-size: 1.2vw;
    font-family: var(--main-font);

}

.footer a:hover {
    color: #fff;
}

.footer p {
    display: block;
    color: #cfcfcf;
    text-transform: uppercase;
    margin: 0;
    font-size: 1.2vw;
}

#footer-mobile {
    display: none;
    background: rgba(38, 47, 110, 1);
    color: #fff;
    padding: 9vw 0vw 0vw 0vw;
    text-align: center !important;
    margin-top: 7vw;
}

#footer-mobile a {
    font-size: 4.5vw;
    color: #fff !important;
}

#footer-mobile {
    display: none;
    margin-top: 8vw !important;
}

@media (max-width: 767px) {
    #footer-mobile {
        display: block !important;
    }
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: "\0020";
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

#footer-mobile p {
    font-weight: 550;
}

#footer-mobile .btn-primary {
    display: block;
    font-weight: bold;
    background: none;
    border: none;
    text-align: center;
    font-size: 5vw !important;
    margin-bottom: 5vw;
    background: #000 !important;
    color: #cfcfcf;
    margin-right: 11vw !important;
    border-radius: 0 !important;
    margin-left: 11vw !important;
    margin-bottom: 0.1vw !important;
    margin-top: 0.1vw !important;
}

.row {
    margin: 0 0 0 0;
}

strong {
    font-weight: 700;
}

.links-ul {
    padding: 0 !important;
}

/*end footer*/
/* new copyright  */
.footer-bottom {
    padding: .2vw 4vw;
    background: rgba(40, 40, 40, 1);
    font-size: 10px;
    text-transform: uppercase;
}

.footer-row.footer-row--bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom__elem {
    color: #fff;
    text-align: left;
}

.footer-bottom__elem a {
    color: #dedede;
}

.footer-bottom p,
.footer-bottom span,
.footer-bottom a {
    font-size: 1.1vw;
}

.footer-bottom__elem {
    color: #fff;
    text-align: left;
}

.footer-bottom__elem {
    color: #fff;
    text-align: left;
}

.footer-bottom__elem a {
    color: #dedede;
}

@media screen and (max-width: 768px) {
    .footer-row.footer-row--bottom {
        padding-top: 3vw;
        flex-flow: column;
    }
}

@media screen and (max-width: 768px) {
    .footer-bottom__elem {
        padding: 1vw;
        text-align: center;
        // font-family: 'Roboto';
        font-weight: 700;
    }
}

@media screen and (max-width: 768px) {

    .footer-bottom a,
    .footer-bottom p,
    .footer-bottom span,
    .footer-bottom td {
        font-size: 3vw;
    }
}

.ScrollUp {
    position: relative;
    top: -2vw;
    left: 90vw;
    padding-top: 3vw;
}

#scroll-up {
    border: 1px solid #cfcfcf;
    color: rgba(0, 0, 250, 1);
    background: #fff;
    padding: 1vw;
}

@media (max-width: 767px) {
    .ScrollUp {
        top: 2vw;
        left: 43vw;
    }
}

@media (max-width: 767px) {
    #scroll-up {
        padding: 2vw;
        background: transparent;
        border: 1px solid #333;
        color: #333;
    }
}

.HL {
    margin: -.2vw 0;
}

.footer .verticalLine {
    border-right: 0.1vw solid rgba(207, 207, 207, 0.4) !important;
    margin: 0vw 1vw;
}

.face-Insta-cont {
    padding: 3vw;
}

.face-Insta-cont a {
    font-size: 5.5vw !important;
    padding: 0 4vw;
}

/*end footer */
/*home intro*/
.home-intro-privacy {
    width: 90.5vw;
    float: none;
    margin: 4vw auto;
    max-width: 92.5vw;
}

.privacy-head {
    color: #262F6E;
    font-size: 2vw;
    text-transform: uppercase;
    padding: 1vw 2vw;
    // font-family: 'Roboto Condensed';
}

.privacy-paragraph {
    font-size: 1.2vw;
    font-weight: 400;
    padding: 0 1vw 1vw 2vw;
}

@media (max-width: 768px) {
    .privacy-head {
        font-size: 4.5vw !important;
    }
}

@media (max-width: 768px) {

    .privacy-paragraph,
    .privacy-text {
        font-size: 3.2vw !important;
    }
}

.privacy-text {
    text-align: center;
    padding: 2vw;
    font-size: 1.2vw;
    font-weight: 400;
}

.promo-button-new2 {
    background: rgba(38, 47, 110, 1);
    padding: 1.5vw;
    font-size: 1.5vw;
    border-radius: 5px;
    margin: 0 2vw;
    text-align: center;
    width: 15vw;
    color: #fff;
    margin: auto;
    cursor: pointer;
}

.promo-button-new2:hover {
    background: #DB2129;
    border-color: #DB2129;
}

.promo-button-new2 a {
    color: #fff;
}

@media (max-width: 768px) {
    .promo-button-new2 {
        width: 30vw;
        padding: 4vw;
    }
}

@media (max-width: 768px) {
    #page_51030 .home-intro-privacy .privacy-paragraph {
        text-align: justify;
    }
}

/*end privacy */
/*breadcrumb */
.breadcrumbParent {
    min-height: 60px;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    color: #000;
    padding: 1.2vw 5vw;
    font-weight: 600;
    background: rgba(238, 238, 238, 1);


}

/*
   @media (max-width:767px){
     .breadcrumbParent {
       flex-direction: column;
      place-items: flex-start;
     }
  } */
.breadcrumbParent h2 {
    font-size: 2vw;
    margin: 0;
    flex: 1;
    text-transform: uppercase;
    // font-family: 'Roboto Condensed';
    font-weight: 600;
}

.breadcrumbParent .breadcrumb {
    font-size: 1.1vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    background: transparent;
}

.breadcrumb-item a {
    // font-family: 'Roboto';
    font-weight: 400;
    color: #000
}

@media (max-width:767px) {
    .breadcrumbParent h2 {
        font-size: 4.5vw
    }
}

@media (max-width:767px) {
    .breadcrumb>li {
        display: inline-block;
        font-size: 3.5vw
    }
}

/*ebnd breadcrumb*/
/* contact us  */
.contact-section {
    padding: 3vw 0 0;
}

.contact-section .container {
    width: 91vw;
}

.contact-us {
    width: 90vw;
    margin: 4vw auto;
}

.contact-us .col-sm-6 {
    padding: 0 1vw !important;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.panel-default {
    border-color: #ddd;
}

.contact-section h2 {
    color: #262F6E;
    font-size: 2vw;
}

.panel-body {
    padding: 23px !important;
}

.panel-body p strong {
    font-size: 1.2vw;
}

@media(max-width:767px) {
    .panel-body p strong {
        font-size: 3.2vw;
    }
}

.panel-body table {
    margin: auto;
}

@media(min-width:970px) {
    .panel-body table {
        font-size: 1.2vw !important;
    }
}

@media(min-width:970px) {
    .adForm input {
        font-size: 1.2vw !important;
    }
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.loc-link,
.btn-call-small {
    background-color: #fff !important;
    padding: 1vw !important;
    color: #262F6E !important;
    border-radius: 5px !important;
    margin-bottom: 0.3vw;
    font-size: 1.2vw;
    border: .2vw solid #262F6E;
}

.loc-link:hover,
.btn-call-small:hover {
    background-color: #262F6E !important;
    color: #fff !important;
}

@media (max-width: 768px) {

    .loc-link,
    .btn-call-small {
        font-size: 3.2vw !important;
    }
}

.contact-section .panel-default>.panel-heading {
    background-color: #f5f5f5 !important;
}

.contact-section h2 {
    color: #262F6E;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
}

@media (max-width: 768px) {
    .panel-title {
        font-size: 4vw !important;
    }
}

.contact-us .panel-body {
    padding: 20px !important;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table {
    background-color: transparent;
}

td,
th {
    padding: 0;
}

.panel-default>.panel-heading {
    color: #262F6E;
}

.contact-us .panel-body a {
    font-weight: 600;
}

.contact-us .panel-title {
    font-size: 2vw;
}

/*end contact us */
/*forms */
.adForm h2 {
    color: #262F6E;
}

.formsParent {
    width: 90% !important;
    margin: 0 auto !important;
    float: none !important;
}

.formsParent .btn-default,
.formsParent .btn-primary {
    color: #FFF !important;
    background-color: #262F6E !important;
    font-weight: 600 !important;
    font-family: "Rajdhani", sans-serif !important;
    font-size: 1.4vw !important;
    text-transform: uppercase !important;
    border-radius: 0 !important;
    border: none !important;
}

.formsParent .btn {
    padding: 1vw 2vw !important;
    margin: 1vw 1vw 2vw 1vw !important;
}

.adForm .col-sm-6,
.form-horizontal .col-sm-3 {
    padding: 0 .1vw !important;
}

.adForm input,
.adForm textarea,
.adForm select,
.myform input,
.myform textarea,
.myform select {
    margin: 0.25vw 0;
}

@media(max-width:767px) {
    #Buttons {
        margin-bottom: 15vw;
    }
}

.form-text {
    text-align: center;
    padding: 2vw;
    font-size: 2vw;
    color: #262F6E;
    // font-family: 'Roboto Condensed';
}

@media(max-width:767px) {
    .form-text {
        font-size: 3vw;
    }
}

/*end forms */
/*Promotions */

.product-group-image a {
    display: block;
    padding: 1vw;
    margin: 1vw;
    color: #222;
    border: 1px solid #ccc;
    font-size: 1.2vw;
    text-align: center;
}

@media(max-width:767px) {
    .product-group-image a {
        font-size: 3.2vw;
    }
}

#page_51015 .home-intro-privacy .row {
    display: flex;
    justify-content: center;
}

.yamahaprom p {
    text-align: center;
}

.yamahaprom p img {
    width: 60%;
}

.yamha-promo-img-special {
    width: 35% !important;
}

#page_51015 .yamahaprom h2,
#page_51015 .yamahaprom h3 {
    text-align: center;
    color: rgba(38, 47, 110, 1);

}

/*end Promotions */
/*Search */
.search-div-2 {
    position: absolute;
    top: 18vw;
    left: 3vw;
}

.search-div-2 #searchbtn2 .glyphicon-search {
    font-size: 2vw;
}

.search-div-2 #searchbtn2 {
    float: right;
    border-radius: 0;
    padding: 1.4vw 0.1vw 1.205vw 0.9vw;
    margin: 0 !important;
    background-color: #262F6E !important;
    color: #fff;
    outline: none;
    left: 28.7vw;
    position: absolute;
}

#searchbox2 {
    width: 29vw;
    float: left;
    border-radius: 0;
    outline: none;
    height: 5.1vw;
    font-size: 2vw;
}

.new-search .modal-content {
    background-color: transparent !important;
    border: none !important;
}


.modal-body {
    padding: 0 !important;
}

@media (max-width: 768px) {
    .search-div-2 {
        top: 42vw !important;
        left: 20vw !important;
    }
}

@media (max-width: 767px) {
    .search-div-2 #searchbtn2 {
        left: 47.7vw !important;
        padding: 2vw 0vw 1.7vw 0.9vw !important;
    }
}

@media (max-width: 767px) {
    .search-div-2 #searchbtn2 .glyphicon-search {
        font-size: 5vw !important;
    }
}

@media (max-width: 767px) {
    #searchbox2 {
        width: 85% !important;
        height: 10vw !important;
        font-size: 5.3vw !important;
        padding: 0.5vw 1.5vw !important;
    }
}

/*end search */
/*site map */
.dealerAdsViewContainer {
    margin: 4vw !important;
}

/* end site map */
/*TESTIMONIALS */
.about-section {
    text-align: left;
    background-image: url(/site-uploads/1001345/Slider/slide6.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.shadow {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 4vw 0;
}

.about-section .container {
    width: 100%;
    max-width: 90vw;
    padding: 0 1.2vw;
}

.mt-xxl {
    margin-top: 2vw !important;
}

.review {
    background: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0 0.6vw 3.6vw rgba(0, 0, 0, 0.15);
    box-shadow: 0.1vw 0.1vw 1vw #262F6E !important;
    padding: 5vw;
    border-radius: 2vw;
    margin: 0 0 4vw 0;
}

.review .fa-quote-left {
    color: gray !important;
}

.review__author-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 2.4vw;
}

.review__stars {
    color: rgb(231, 189, 0);
}

.review__author {
    margin-left: auto;
    font-weight: 700;
    font-size: 2vw;
}

.review-page-btn {
    font-size: 1.4vw;
    background: #262F6E;
    color: #fff;
    box-shadow: 0.1vw 0.1vw 0.4vw #262F6E;
    padding: 1vw 2vw;
    width: 37%;
}

.write-review {
    position: relative;
    margin-top: 2vw;
    background: #fff;
    -webkit-box-shadow: 0 0.6vw 3.6vw rgba(0, 0, 0, 0.15);
    box-shadow: 0.1vw 0.1vw 0.4vw #262F6E !important;
    text-align: center;
    padding: 1px 1.6vw 2.4vw;
    border-radius: 2vw;
}

@media (min-width: 787px) {
    .new-fixed-class {
        position: fixed !important;
        top: 24vw !important;
        width: 20vw !important;

    }
}

.write-review__icon-wrap {
    background: #fff;
    -webkit-box-shadow: 0 0.3vw 0.8vw rgba(0, 0, 0, 0.1);
    box-shadow: 0.1vw 0.1vw 0.4vw #262F6E !important;
    border-radius: 50%;
    width: 6.6vw;
    height: 6.6vw;
    margin: -4.3vw auto 1vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #bbb;
    font-size: 2.5vw;
}

.write-review__subtext {
    font-size: 1.4vw;
    color: #777;
}

.write-review__text {
    color: #777;
    line-height: 1.4;
    margin-bottom: 1.6vw;
}

.write-review__button {
    padding: 0.8vw;
}

.primary-wrapper .fa-quote-left {
    color: #000 !important;
}

.primary-wrapper .fa-google {
    color: #24569D !important;
    font-size: 2vw;
    margin-left: 1vw;
}

.primary-wrapper .fa-star {
    color: #ff8300 !important;
    font-size: 2vw;
}

/*end TESTIMONIALS */
.products-logos a {
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-logos a img {
    width: 100%;
    height: 80%;
}

.products-logos a:nth-child(2) {
    width: 13vw;
    margin-top: 1.5vw;
}

.products-logos a:nth-child(3) {
    width: 12vw;
    margin-top: -.9vw;
}

.products-logos a:nth-child(4) {
    width: 12vw;
    margin-top: .2vw;
}

.products-logos a:nth-child(5) {
    margin-top: 1vw;
}

.products-logos a:nth-child(6) {
    width: 9vw;
    margin-top: .2vw;
}

/*inventory */
#parent .ESCAdsResponse,
.ESCAdsResponse .container.main-container {
    background-color: transparent;
    width: 92vw;
    margin: 4vw auto 0;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.filter-ttl .glyphicon {
    color: #fff !important;
    padding-right: 5px;
}

#filters .filters-inner {
    border-color: #d1d1d1 !important;
    background: rgba(241, 241, 241, 1);
    border-radius: 0px !important;
    position: relative;
}

#filters .filter-ttl,
#filters .filters-tools,
.filter-collapse[href="#keyWordsSection"] {
    display: none;
}

#keyWordsSection .well {
    padding: 0;
}

#parent #filters #keyWordsSection input {
    background-color: #fff;
    width: 80%;
    border-radius: 4px 0 0 4px;
    border-right: 0;
    border-color: #dddddd;
}

#filters .adsSearchButton {
    border-radius: 0 4px 4px 0;
}

#filters .adsResetButton,
#filters .adsSearchButton,
#parent .cta-btns a,
#filters .modernFilterSlider input,
#filters .loadMore,
#filters .loadLess {
    font-weight: bold;
    padding: 0.6vw;
    border: 1px solid #dddddd;
    color: #000;
    border-radius: 0 !important;
    background: #ffffff;
    background: -webkit-linear-gradient(top, #ffffff, #efefef);
    background: -moz-linear-gradient(top, #ffffff, #efefef);
    background: linear-gradient(to bottom, #ffffff, #efefef);
}

@media (min-width:770px) {
    #parent .cta-btns a {
        padding: 1.6vw;
    }
}

@media (min-width:770px) {
    .show-item p {
        font-size: 1.2vw;
    }
}

#filters .adsSearchButton {
    width: 20%;
    overflow: hidden;
    color: #1f8d0a !important;
    font-size: 0px !important;
    padding: 6px !important;
    border-radius: 0;
    margin-top: 5px;
}

#filters .adsSearchButton .glyphicon {
    font-size: 20px !important;
    padding: 4px 0px;
    color: rgba(41, 41, 41, 1);
}

.glyphicon-search:before {
    content: "\e003";
}

#filters .adsResetButton {
    font-size: 1vw !important;
}

@media (max-width: 760px) {
    #filters .adsResetButton {
        font-size: 4vw !important;
    }
}

#filters .modernFilterSlider:after {
    border-top-color: #ddd !important;
}

#products .ads-per-page .ttl,
#products .sale-tag,
#products .glyphicon,
#filters .glyphicon {
    color: rgba(41, 41, 41, 1);
}

.filter-collapse:hover {
    color: rgba(41, 41, 41, 1);
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border-color: rgba(41, 41, 41, 1) !important;
}

#parent #filters select,
#parent#parent .sortby-row select {
    background-color: #fff;
    border-radius: 0 !important;
    border: 1px solid #d1d1d1 !important;
}

.col-sm-1 .list-grid-btn .btn {
    background-color: #fff;
    border: 1px solid #ddd;
}

.cta-btns a:hover,
.cta-btns a:hover span,
.cta-btns a.green:hover {
    background-color: transparent !important;
}

.glyphicon-eye-open {
    color: #fff !important;
}

.item.list-group-item {
    padding: 0 1.8vw !important;
}

#products .item {
    background-color: transparent;
}

.item.list-group-item:nth-child(1) {
    padding-top: 1vw;
}

#products .thumb {
    background-color: #fff;
    border-radius: 0px !important;
    border: 1px solid #d1d1d1 !important;
    box-shadow: 0px 0px 5px #dedede;
}

#products .thumb:hover {
    background: rgba(241, 241, 241, 1);
}

.footer-pagination {
    clear: both;
    width: 100%;
    padding: 1vw 0 3vw 0;
}

.pagination>li>a,
.pagination>li>span {
    color: rgba(41, 41, 41, 1) !important;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    z-index: 2;
    color: #fff !important;
    background-color: rgba(41, 41, 41, 1) !important;
    border-color: rgba(41, 41, 41, 1) !important;
    cursor: default;
}

@media (max-width: 760px) {
    .btn.filter-ttl {
        text-align: left;
        font-size: 26px !important;
        color: #fff;
        cursor: pointer;
    }
}

@media (max-width: 767px) {

    .btn-primary,
    .btn-default {
        background-color: #004AAD;
        border-color: #004AAD;
    }
}

@media (max-width: 760px) {
    .btn.filter-ttl {
        text-align: left;
        font-size: 26px;
        cursor: pointer;
    }
}

@media (max-width: 760px) {
    #filters.collapse.in {
        height: auto;
    }
}

@media (max-width: 767px) {
    .main-container #filters .filters-inner {
        border: 0;
        margin-right: 1.5vw !important;
    }
}

@media (max-width: 767px) {

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active,
    .open>.dropdown-toggle.btn-primary,
    .btn-primary:active:hover {
        background: #fff;
        border-color: #0000FF;
        color: #0000FF;
    }
}

@media (max-width: 767px) {
    .btn-primary:focus .glyphicon-filter:before {
        color: #004AAD;
    }
}

@media (max-width: 767px) {
    .sortby-row h4 {
        font-size: 17px !important;
    }
}

@media (max-width: 767px) {

    #parent #filters select,
    #parent#parent .sortby-row select {
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid #ddd;
        color: #555;
    }
}

.thumbStatus.in-stock {
    top: 10px;
    bottom: auto;
    background-color: rgba(251, 148, 2, 0.83);
}

@media (max-width: 767px) {
    .thumbStatus.in-stock {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .thumbStatus.tag-text {
        font-size: 16px;
    }
}

.sortby-row .pagination li a {
    background-color: #fff;
    border: 1px solid #ddd;
}

@media only screen and (max-width: 760px) {
    .cta-btns a {
        font-size: 4vw !important;
    }
}

@media (max-width: 767px) {

    .comment,
    .specs,
    .field {
        font-size: 3.5vw !important;
    }
}

@media only screen and (max-width: 760px) {
    .list-group-item .Read-more {
        font-size: 4vw;
        border-bottom: 25px solid blue !important;
    }
}

#normal_vdp .model-title {
    display: none;
}

.lSSlideOuter .lSPager,
.lSSlideOuter .lightSlider {
    padding-left: 0;
    list-style: none;
}

.lSAction .lSPrev::before {
    content: "\e257";
}

.lSAction .lSNext::before {
    content: "\e258";
}

.lSAction .lSPrev::before,
.lSAction .lSNext::before {
    display: block;
    position: relative;
    top: -.2vw;
    font-family: "Glyphicons Halflings";
    color: rgba(40, 40, 40, 0.5);
    background-color: transparent;
    padding: 0vw .5vw;
    opacity: 1;
    font-size: 2vw;
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
}

@media (max-width:767px) {

    .lSAction .lSPrev::before,
    .lSAction .lSNext::before {
        top: 30.8vw;
    }
}

#normal_vdp .gallery .lSSlideOuter .lSPager.lSGallery li {
    display: flex;
    padding: 5px;
    align-items: center;
    height: auto;
    max-height: 90px;
    justify-content: center;
}

#normal_vdp .rt-action-btn,
#normal_vdp .accord-btn {
    padding: 0.6vw;
    border: 1px solid #dddddd;
    color: #2B2B2B;
    border-radius: 5px !important;
    background: #ffffff;
    text-align: left;
    padding: 1vw 2vw;
    background: -webkit-linear-gradient(top, #ffffff, #efefef);
    background: -moz-linear-gradient(top, #ffffff, #efefef);
    font-family: var(--secondary-font);

}

#normal_vdp .rt-action-btn .request-quote-btn {
    color: #fff !important;
}



.rt-action-btn {
    display: block;
    background-color: #eceff3;
    padding: 18px 30px;
    margin: 10px 0;
    color: #555;
    cursor: pointer;
    text-align: center;
    border: 1px solid #dedede;
    font-size: 18px;
    font-weight: bold;
}

#normal_vdp .rt-action-btn .glyphicon {
    font-size: 20px !important;
    padding: 4px 0px;
    color: #2B2B2B;
}

.request-quote-btn,
.request-quote-btn .glyphicon {
    background: linear-gradient(180deg, #13579B -55.71%, #262F6E 100%) !important;
    color: #FFF !important;
}

.rt-action-btn:hover,
.rt-action-btn:hover .glyphicon {
    background: linear-gradient(180deg, #13579B -55.71%, #262F6E 100%) !important;
    color: #FFF !important;
}

#model-accordion>.panel {
    background-color: transparent;
}

.panel-group {
    color: #000;
    padding-right: 4vw;
}

@media (max-width: 767px) {
    .panel-group {
        padding-right: 0 !important;
    }
}

#normal_vdp .accord-btn {
    margin: 0;
    margin-top: 1vw;
}

#normal_vdp .accord-btn .glyphicon {
    color: #2B2B2B;
}

#normal_vdp .panel-collapse {
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0px 0px 5px #dedede;
    border-radius: 0 0 5px 5px;
    padding: 10px;
}

.price-box .primary {
    color: #000 !important;
}

.model-details-content {
    padding: 3vw !important;
    width: 92vw !important;
}

.stock-num span {
    font-weight: 600;
}

.our-price,
.retail {
    font-size: 2vw !important;
    color: #0a4a87 !important;
    padding: 0 1vw;
    font-family: 'Roboto Condensed' !important;
    font-family: 600;
}

@media (max-width: 767px) {

    .our-price,
    .retail {
        font-size: 4.5vw !important;
    }
}

#videos-btn {
    font-size: 1.2vw !important;
    float: right;
    padding: 10px;
    margin: 1vw 4.1vw !important;
    background: #004AAD !important;
}

@media (max-width: 767px) {
    #videos-btn {
        font-size: 3vw !important;
    }
}

@media (max-width: 767px) {
    .other-lines {
        text-align: center;
    }
}

@media (min-width: 767px) {

    #filters select,
    .sortby-row select,
    .sortby-row input,
    .sortby-row li a {
        height: 3.66vw !important;
    }
}

#filters select,
.sortby-row input,
.sortby-row li a,
.sortby-row select {
    border: 1px solid #cfcfcf !important;
}

@media screen and (min-width: 768px) {
    #products .sortby-row {
        padding: 0 1.8vw .5vw 1.5vw !important;
    }
}

#static-filter-count {
    margin-left: .4vw !important;
    margin-bottom: .3vw !important;
    font-size: 1vw !important;
    border-radius: 0.5vw !important;
    padding: .2vw .35vw !important;
}

.active-filter-container .badge {
    background: rgb(255, 0, 0) !important;
    color: #fff !important;
}

#filters .filters-inner {
    border: none !important;
    border-color: #cfcfcf !important;
    background: #f1f1f1;
    border-radius: 0 !important;
    position: relative;
}

#filters {
    border: 1px solid #cfcfcf !important;
}

.cta-btns .View-Details {
    background: rgb(38, 47, 110) !important;
    color: #fff !important;
    flex: 1 1 100%;
    order: -1;
}

#parent .cta-btns a {
    padding: .6vw !important;
    border-radius: 5px !important;
}

/* .cta-btns a.main-btn {
      order: 2!important;
  } */
@media (min-width:767px) {
    .cta-btns .quote {
        height: 4.36vw !important;
    }
}

.cta-btns .call-now,
.cta-btns .quote {
    flex: 1 1 45% !important;
}

@media (min-width:767px) {
    .cta-btns .call-now {
        height: 4.36vw !important;
    }
}

.specs-btn span {
    background: #fff !important;
}

.cta-btns .View-Details i {
    font-size: 1.5vw;
}

.cta-btns a.main-btn i {
    font-size: 1.5vw !important;
}

@media (max-width:767px) {
    .cta-btns a.main-btn i {
        font-size: 5vw !important;
    }
}

.no_price span {
    font-size: 1.8vw !important;
    color: #EC1D22 !important;
    text-transform: capitalize !important;
}

@media (max-width:767px) {
    .no_price span {
        font-size: 4.8vw !important;
    }
}

@media (max-width:767px) {
    .model-title .share-btn {
        font-size: 3vw !important;
    }
}


.cta-btns .View-Details:hover {
    background: transparent !important;
    color: rgba(0, 0, 255, 1) !important;

}

.cta-btns .View-Details:hover i {
    color: rgba(0, 0, 255, 1) !important;
}

@media (max-width: 767px) {
    #products .sort-btn {
        font-size: 4.6 !important;
    }
}

#right-cta-buttons.affix {
    top: 6vw !important;
}

.price-box {
    display: block !important;
}

/*
  .excludes{
    display:none!important;
  }
  .our-price-div{
    justify-content: flex-end!important;
  }
  */
.dealerAdsViewContainer {
    margin: 4vw !important;
}

#right-cta-buttons .view-preowned,
#right-cta-buttons .book-demo {
    display: none !important;
}

@media(max-width:767px) {

    #right-cta-buttons .view-preowned,
    #right-cta-buttons .book-demo {
        display: none !important;
    }
}

#right-cta-buttons a:nth-child(10) {
    display: none !important;
}

@media(max-width:767px) {
    #right-cta-buttons a:nth-child(10) {
        display: none !important;
    }
}

#loginform {
    padding: 1vw 0;
}

.contact-sec a {
    margin-bottom: 0;
}

/*end inventory */

.tab-content:hover .tab-link {
    background: rgba(38, 47, 110, .8) !important;
}

.videoCaption {
    color: #DB2129;
    display: block;
    font-size: 1.2vw;
    // font-family: 'Roboto Condensed';
}

.upper {
    font-weight: 600;
}

#model-left-content .price-box {
    display: none !important;
}

/*Performance*/
.map-img {
    aspect-ratio: 3/2;
    width: 100%;
    height: 100%;
}

.footer-bottom__elem.footer-bottom__elem--ds-logo img {
    display: block;
    aspect-ratio: 122/43;
    width: 11vw;
}

@media (max-width: 767px) {
    .secondMenuMobile-img a img {
        width: 100%;
        height: 100%;
        aspect-ratio: 127/38;
    }

    .footer-bottom__elem.footer-bottom__elem--ds-logo img {
        display: block;
        aspect-ratio: 157/55;
        width: 38vw;
    }

    .hours-acord table {
        width: 80%;
    }

    .hours-acord table tbody {
        font-size: 4vw;
    }

}


@import "./yamaha";