#wrapper-foot {
    height: auto;
    background-color: var(--white);

    #content-foot {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        font-family: "Open Sans", "Trebuchet MS", Verdana, Helvetica, Arial, Sans-Serif;
        font-size: 14px;
        color: #e0e0e0;

        .links {
            margin: 0 auto;
            padding: 40px 0;
            height: auto;
            max-width: 1550px;
            border-top: 1px solid #dbdbdb;

            img {
                margin: 0 0 30px;
                padding-top: 0;
                padding-bottom: 10px;
                height: 40px;
                width: auto;
            }

            h5 {
                margin-bottom: 10px;
                color: #333;
                font-size: 17px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 35px;
            }

            p {
                font-size: 15px;
                line-height: 35px;
                color: var(--black);
                padding-bottom: 0;

                a {
                    color: #666;

                    &:hover {
                        color: var(--main-color);
                        text-decoration: none;
                    }
                }
            }

            ul.social {
                display: flex;

                li {
                    margin: 10px 5% 0 0;
                    float: none;
                    display: inline-block;

                    a {
                        color: #666;
                        font-size: 36px;
                        line-height: 36px;
                        display: block;

                        &:hover {
                            color: var(--main-color);
                        }
                    }
                }
            }

            .container {
                max-width: 1550px;
                display: flex;
                flex-wrap: wrap;
                width: calc(100% - 2%);
                margin: auto;

                .grid_16 {
                    width: calc(100% - 2%);
                }

                .grid_2 {
                    width: calc(12.75% - 2%);
                }

                .grid_3 {
                    width: calc(18.75% - 2%);
                }

                .right {
                    float: right;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                }
            }
        }

        .copy {
            margin: 0 auto;
            max-width: 1550px;
            background-color: var(--white);
            border-top: 1px solid #dbdbdb;

            .container_16 {
                max-width: 1550px;

                .grid_16 {
                    width: -moz-calc(100% - 2%);
                    width: -webkit-calc(100% - 2%);
                    width: -o-calc(100% - 2%);
                    width: calc(100% - 2%);
                    display: flex;
                    justify-content: space-between;
                }
            }

            p {
                padding-bottom: 120px;
                color: #000;
                font-size: 15px;
                line-height: 50px;

                a {
                    color: var(--main-color);
                }
            }
        }
    }

    @media screen and (max-width: 1240px) {
        #content-foot {
            .links {
                display: none;
            }
        }
    }
}


/**/

.three-button-wrapper {
    background-image: url(/site-uploads/1001525/images/3-button-bg.jpg);
    margin: 20px auto;
    width: 90%;
    text-align: center;
    background-position: center;
    background-size: cover;
    display: none;

    .three-button {
        position: relative;
        padding: 4% 0%;
        width: 35%;
        text-align: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: .5s ease;
        cursor: pointer;

        .three-button-img {
            margin-right: 0;
            width: 0px;
            height: 60px;
            display: inline-flex;
            vertical-align: top;
            transition: .5s ease;
            overflow: hidden;
        }

        .three-button-p {
            display: inline-flex;
            vertical-align: top;

            p {
                padding: 0;
                color: #FFF;
                font-size: calc(7px + 1vw);
                line-height: 60px;
                text-transform: uppercase;
            }
        }

        &:nth-child(2) {
            background: rgb(0, 0, 0, 30%);
        }

        &:hover {
            background: rgb(218, 41, 28, 65%);

            .three-button-img {
                margin-right: 4%;
                width: 60px;
            }
        }
    }

    @media only screen and (max-width: 1240px) {
        .three-button {
            flex-wrap: wrap;

            .three-button-img {
                margin: 0 !important;
                width: 100%;
                justify-content: center;
            }

            .three-button-p {
                width: 100%;
                justify-content: center;

                p {}
            }
        }
    }

    @media only screen and (max-width: 768px) {
        display: none;

        .three-button {
            padding: 40px 0;
            width: 100%;
            display: inline-block;

            .three-button-img {
                width: auto;
            }

            .three-button-p {
                width: auto;

                p {
                    padding: 0 10px;
                    font-size: 20px;
                }
            }
        }
    }
}

#page_68350 {
    .three-button-wrapper {
        display: flex;

        @media only screen and (max-width: 768px) {
            display: block;
        }
    }
}


/**/

.banner-container {
    position: fixed;
    left: 0px;
    bottom: 30px;
    width: 785px;
    height: 103px;
    z-index: 500;
    display: none;

    input {
        display: none;
    }

    input+label {
        display: inline-block;
        position: absolute;
        cursor: pointer;
    }

    input,
    input+label,
    input:checked {
        cursor: pointer;
        position: relative;
        top: 0;
        left: 0;
        margin: 0 0 0 749px;
        width: 40px;
        height: 103px;
        opacity: 1;
        z-index: 5000;
    }

    .hamburger,
    input:checked~.hamburger {
        border-radius: 0px;
        height: 103px;
        width: 30px;
        background: url(/site-uploads/1001525/images/button-arrows.png) center center no-repeat;
        background-size: 130%;
        transform: rotate(180deg);
        transition: all 0.75s;
        margin: -107px 0 0 754px;
        z-index: 1000;
        position: absolute;
        bottom: 0;
    }

    input:checked+label {
        margin: 0;
        position: relative;
    }

    input:checked~.hamburger {
        transform: rotate(0deg);
        margin: -107px 0 0px 5px;
    }

    #banner-menu {
        width: 787px;
        height: 101px;
        background-color: #da291c;
        border-radius: 0 6px 6px 0;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
        padding: 2px 2px 0 0;
        transform: translateX(0%);
        transition: transform 0.75s;
        z-index: 500;

        .promo-banner-slider {
            .promoSlider {
                width: 747px;
                padding: 0 0 0 0;
                margin: 0 0 0 0;
            }
        }

        .flexslider {
            margin: 0px auto 20px auto;
            position: relative;
            zoom: 1;
            width: 100%;
            max-width: 1440px;

            .slides {
                zoom: 1;

                >li {
                    display: none;
                    -webkit-backface-visibility: hidden;
                }

                img {
                    width: 100%;
                    display: block;
                }
            }
        }
    }

    input:checked~#banner-menu {
        transform: translateX(-95%);
    }

    @media only screen and (max-width: 1024px) {
        display: none;
    }
}

#page_68079 {
    .banner-container {
        display: block;
    }
}


/**/

.footer-bottom {
    padding: 0.75em 3em 0.75em 5em;
    background-color: rgba(240, 240, 240, 0.45);
    border-top: 1px solid #DDD;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: bold;

    .footer-row.footer-row--bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-bottom__elem {
        color: var(--black);
        text-align: left;
    }

    .footer-bottom p,
    .footer-bottom span,
    .footer-bottom a {
        font-size: 0.9em;
        font-weight: 400;
    }

    .footer-bottom__elem a {
        color: var(--black);
    }

    .footer-bottom__elem.footer-bottom__elem--ds-logo a img.hidden-xs,
    .footer-bottom__elem.footer-bottom__elem--ds-logo a img.visible-xs {
        height: 100%;
    }

    @media screen and (max-width: 768px) {
        padding: 1em 1em 1em 1em;

        .footer-row.footer-row--bottom {
            display: block;
            text-align: center;
        }

        .footer-bottom__elem {
            text-align: center;
            line-height: 2;
        }

        .footer-bottom__elem img.hidden-xs {
            display: none !important;
        }

        .footer-bottom__elem img {
            display: inline-block !important;
        }
    }
}