/* breadcrumb */
.breadcrumbParent {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #222222;
    padding: 1.2vw 5vw;
    font-weight: 600;
    background: #F1F1F1;
    margin-bottom: 2vw;
}

.breadcrumbParent h2 {
    font-size: 2vw;
    margin: 0;
    flex: 1;
    color: #222222;
    font-family: DIN Bold;
    text-transform: uppercase;
    letter-spacing: 1px;

    @media screen and (max-width: 767px) {
        font-size: 4.5vw;
    }
}

.breadcrumbParent .breadcrumb {
    font-size: 1.1vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    background: transparent;

    li {
        a {
            color: var(--y-gray-10);

            @media screen and (max-width: 767px) {
                font-size: 3vw !important;
            }

        }
    }
}

.breadcrumbParent {
    position: relative;
}

.breadcrumbParent::after {
    width: 12%;
    height: 7px;
    background-color: var(--yamaha-red);
    top: calc(100% - 7px);
    left: 0;
    content: "";
    display: block;
    position: absolute;

}

/* New Bottom Footer */
.footer-bottom {
    padding: .5vw 4vw;
    background-color: var(--yamaha-red);
    font-size: 10px;
}

.footer-row.footer-row--bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom__elem {
    font-style: normal;
    font-weight: bold;
    font-size: 1.1vw;
    text-align: center;
    text-transform: uppercase;
    color: #F1F1F1;
}

.footer-bottom__elem a {
    color: #fff;
}

@media all and (max-width: 767px) {

    .footer-row.footer-row--bottom {
        flex-flow: column;
    }

    .footer-bottom__elem {
        font-size: 3vw;
        text-align: center;
        margin-bottom: 2vw
    }

    .footer-bottom {
        background-color: var(--yamaha-red);
    }

    .footer-bottom__elem.footer-bottom__elem--ds-logo img {
        width: 38vw;
    }

    .footer-bottom__elem {
        font-size: 3vw;
        text-align: center;
        margin-bottom: 2vw
    }

    .footer-bottom {
        background-color: #313131;
    }
}

.footer-bottom__elem.footer-bottom__elem--ds-logo img {
    width: 11vw;
    height: 100%;
}

.footer-bottom {
    padding: 1vw 4vw;
    background-color: #1A1A1A;
    font-size: 10px;
}

.footer-bottom__elem {
    color: #fff;
    text-align: left;
    font-size: .93vw;
    font-weight: 600;
    text-transform: uppercase;
}

.footer-bottom__elem a {
    color: #fff;
}

/* light-2021 Updates*/
.light2021 {

    a.filter-collapse {
        font-family: var(--secondary-font);
    }

    .modernFilter label {
        font-family: var(--secondary-font);
    }

    .cta-btns a,
    .model-title-link {
        font-family: var(--secondary-font) !important;
    }

    .show-item p {
        font-family: var(--main-font);
    }

    .cta-btns a.main-btn {
        background-color: var(--yamaha-red);

        &:hover {
            color: var(--yamaha-red);
            background-color: var(--white);
        }
    }
}

#normal_vdp {}