.signup-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 1rem 2rem;

    @media #{$tab} {
        margin: 1rem 0rem;
    }

    .signup-form {
        padding: 1em;
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        width: 70%;
        -moz-box-flex: 1;
        background: white;
        background-color: $white;
        background-image: url("../images/leftBG.png");
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 300px;

        .signup-form-title {
            color: $secFont;
            border-bottom: 2px solid #ddd;
            padding: 1rem;
            font-weight: bold;

            @media #{$tab} {
                font-size: 1.5rem;
            }
        }

        .signup-form-body {
            padding: 0.5rem 3rem 1rem;

            .custom-control-label {
                cursor: pointer;
            }

            p {
                font-weight: bold;

                a {
                    color: $priFont;
                    text-decoration: underline;
                }
            }
        }

        @media #{$tab} {
            width: 100%;
        }
    }

    .signup-img {
        background: rgb(164, 201, 120);
        background: linear-gradient(180deg, rgba(164, 201, 120, 1) 0%, rgba(175, 29, 136, 1) 100%);
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        width: 30%;
        -ms-flex: 1;
        -webkit-flex: 1;
        flex: 1;

        img {
            width: 100%;
            max-height: 640px;
        }

        @media #{$tab} {
            display: none;
        }
    }
}

.iti--allow-dropdown {
    width: 100%;
}

.iti__country-list {
    left: 0;
}