/*Start Slider*/ 
#comp_1561675923532 {
  border-bottom: 0.5vw solid var(--black);
  @media (max-width: 767px) {
    display: none;
  }
  .carousel-control{
    position: absolute;
    opacity: 1;
    background-image: none;
    color: rgba(255, 255, 255, 0.7);
    transition: all ease-in 0.3s;
    width: 50px;
    &:hover{
      color: var(--black);
    }
    &:after{
      position: absolute;
      top: 33%;
      font-size: 5vw;
      
      font-weight: bold;
      
    }
    img{
      display: none;
    }
    &.right{
      right: 5vw;
      &:after{
        content: "\203A";
        display: inline-block;
      }
    }
    &.left{
      left: 5vw;
      &:after{
        content: "\2039";
        display: inline-block;
      }
    }
  }
  .carousel-indicators{
    margin-left: 0%;
    li {
      border-radius: 0;
      width: 2vw;
      height: 0.5vw;
      background-color: rgba(207, 207, 207, 0.8);
      border: 0;
      margin: 1px;
      &.active {
        border-radius: 0;
        width: 2vw;
        height: 0.5vw;
        background-color: var(--main-color);
        border: 0;
        margin: 1px;
      }
    }
  }
  .carousel-inner{
    &>.item{
      &>img{
        width: 100%;
      }
    }
  }
}
/* End Slider*/