// FAQ Page
._faq {
    .container-90 {
        padding: 0;

        .panel-group {
            .panel.panel-default {
                border-left: 3px solid var(--secondary-color);
                transition: all ease-in-out 0.2s;

                &:hover {
                    border-left: 3px solid var(--main-color);

                    .panel-heading {

                        .panel-title {
                            a {
                                background-color: var(--main-color);
                                color: var(--black);
                                text-decoration: none;
                            }
                        }
                    }
                }

                .panel-heading {
                    padding: 0;

                    .panel-title {
                        a {
                            padding: 2vw;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: all ease-in-out 0.2s;
                            background-color: var(--secondary-color);
                            color: var(--white);
                            font-size: 1.3vw;
                            font-family: var(--secondary-font);
                            text-align: center;

                            &:hover {

                                background-color: var(--main-color);
                                color: var(--main-font-color);
                                text-decoration: none;
                            }
                        }
                    }
                }

                .panel-body {
                    font-size: 1.25vw;
                    font-family: var(--secondary-font);
                    color: var(--main-font-color);
                    background-color: var(--gray-3);
                }
            }
        }
    }

    @media screen and (max-width: 767px) {
        .container-90 {
            padding: 0;

            .panel-group {
                .panel.panel-default {
                    .panel-heading {
                        .panel-title {
                            a {
                                padding: 10px;
                                font-size: 18px;
                            }
                        }
                    }

                    .panel-body {
                        font-size: 16px
                    }
                }
            }
        }
    }
}