#_RoutesModal {
    background: rgba(0, 0, 0, 0.85);

    .modal-dialog {
        height: 100%;

        .modal-content {
            background-color: transparent;
            box-shadow: none;
            border: 0;

            .modal-body {
                .content {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-top: 40px;

                    span {
                        &.close_RoutesModal {
                            position: absolute;
                            top: 0;
                            right: 0;
                            font-size: 40px;
                            color: var(--gray-8);
                            cursor: pointer;
                            font-weight: 200 !important;
                        }
                    }

                    h1 {
                        color: var(--gray-3);
                        font-family: var(--secondary-font);
                        font-weight: 700;
                        font-size: 36px;
                    }

                    p {
                        color: var(--secondary-color);
                        font-family: var(--main-font);
                        font-weight: 400;
                        font-size: 16px;
                    }

                    a {
                        display: flex;
                        align-items: center;
                        border: 2px solid var(--gray-8);
                        color: var(--gray-3);
                        width: 80%;
                        max-width: 300px;
                        padding: 10px;
                        margin: 10px;
                        font-size: 18px;

                        span {
                            &.icon {
                                width: 40px;
                                height: 30px;
                                background: var(--gray-3);
                                margin: 0 10px;
                            }
                        }

                        &:hover {
                            text-decoration: none;
                            color: var(--main-color);

                            span {
                                &.icon {
                                    background: var(--main-color);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#_How-Can-Help {
    background: rgba(0, 0, 0, 0.85);

    .modal-dialog {
        height: 100%;

        .modal-content {
            background-color: transparent;
            box-shadow: none;
            border: 0;

            .modal-body {
                .content {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-top: 40px;

                    span {
                        &.close_RoutesModal {
                            position: absolute;
                            top: 0;
                            right: 0;
                            font-size: 40px;
                            color: var(--gray-8);
                            cursor: pointer;
                            font-weight: 200 !important;
                        }
                    }

                    h1 {
                        color: var(--gray-3);
                        font-family: var(--secondary-font);
                        font-weight: 700;
                        font-size: 36px;
                    }

                    p {
                        color: var(--secondary-color);
                        font-family: var(--main-font);
                        font-weight: 400;
                        font-size: 16px;
                    }

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 2px solid var(--gray-8);
                        color: var(--gray-3);
                        // width: 80%;
                        max-width: 300px;
                        padding: 10px;
                        margin: 10px;
                        font-size: 18px;

                        span {
                            &.icon {
                                width: 40px;
                                height: 30px;
                                background: var(--gray-3);
                                margin: 0 10px;
                            }
                        }

                        &:hover {
                            text-decoration: none;
                            color: var(--main-color);

                            span {
                                &.icon {
                                    background: var(--main-color);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}