#page_46822 .img-tag {
  display: none
}

.search-drop a {
  cursor: pointer
}

form .btn,
form button {
  color: #000 !important;
  padding: .5vw 1vw !important;
  display: block;
  font-size: 1vw !important;
  font-weight: 400 !important;
  text-shadow: none important;
  border-radius: 0
}

.dropdown:hover ul.search-drop {
  right: 0;
  left: auto
}

.menu-search {
  margin-right: 1.5vw;
  padding: 1rem 1.25rem;
  margin-top: .5vw;
  margin-bottom: .5vw;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  right: 0
}

.menu-search:focus,
.menu-search:hover {
  background-color: var(--main-color);
  color: #fff
}

.menu-search span.glyphicon {
  font-size: 1.2vw
}

#searchModal .modal-content {
  border: none;
  background-color: transparent;
  background: 0 0;
  box-shadow: none
}

#searchModal .modal-dialog {
  margin-top: 20%;
  width: 50% !important;
  margin-left: auto;
  margin-right: auto
}

#searchModal .modal-open .modal {
  padding-right: 0
}

.modal-open {
  overflow-y: scroll
}

#filters .adsResetButton {
  border-radius: 0
}

#filters .adsSearchButton {
  text-shadow: none;
  width: 20%;
  overflow: hidden;
  color: transparent !important;
  border-radius: 0;
  margin: 5px 0;
  background: linear-gradient(180deg, #FFFFFF 61.98%, #F5F5F5 100%);
  border: 1px solid #CFCFCF;
}

#filters .adsResetButton {
  border-radius: 0;
  font-size: 1vw !important;
  background: linear-gradient(180deg, #FFFFFF 61.98%, #F5F5F5 100%);
  border: 1px solid #CFCFCF;
  border-radius: 0px;
}

#filters .adsSearchButton .glyphicon {
  color: #292929;
}

#parent #filters #keyWordsSection input {
  width: 80%;
  border-radius: 0;
  background: #FFFFFF;
  border: 1px solid #CFCFCF;
  color: #999999;
}

#filters .modernFilterSlider input {
  background-color: #fcca1b !important
}

#filters .modernFilterSlider:after {
  border-top-color: #fcca1b !important
}

#filters .well {
  background-image: none
}

.search-form {
  display: flex;
  flex-wrap: wrap;
}

.cta-btns a.blue {
  background-color: #fcca1b !important;
  color: #000 !important
}

.available {
  display: none
}

.grid-group-item .cta-btns {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  padding: 0 !important;
  justify-content: space-between
}

.grid-group-item .img-event img {
  width: auto
}

.grid-group-item .cta-btns a {
  display: flex;
  justify-content: center;
  min-height: 2.5vw;
  align-items: center
}

.grid-group-item a.View-Details,
.grid-group-item a.View-Details span {
  background-color: #e6e3e3 !important;
  color: #000 !important
}

.grid-group-item .img-event {
  height: auto !important
}

.swal2-styled.swal2-confirm {
  border: 0;
  border-radius: .25em;
  background: initial;
  background-color: #e2c046;
  color: #000;
  font-size: 1.0625em
}

.btn-primary:hover {
  background-color: #deaf09 !important
}

.btn-primary:active {
  background-color: #deaf09 !important
}

.btn-primary {
  color: #000 !important;
  background-color: #fcca1b !important;
  border-color: #000 !important
}

.header-bottom {
  margin: .1vw .9vw;
  background-color: #fcca1b;
  display: flex;
  justify-content: center;
  position: relative
}

@media (max-width:767px) {
  .header-bottom a.main-links {
    color: #fcca1b !important
  }

  .header-bottom {
    margin: 0;
    background-color: #292926
  }

  .header-bottom {
    flex-direction: column
  }
}

.header-bottom:before {
  content: '';
  height: 65%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0
}

.header-bottom a.hidden-xs {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  font-size: 1.5vw;
  color: #fff;
  transition: all ease-in-out .3s
}

.header-bottom a.hidden-xs:hover {
  font-size: 2vw
}

.header-bottom a.main-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #000;
  text-transform: uppercase;
  padding: 0 2vw;
  transition: all ease-in-out .3s;
  z-index: 77
}

.header-bottom a.main-links:hover {
  text-decoration: none;
  background-color: #000;
  color: #fcca1b
}

.header-bottom a.main-links span:nth-child(1) {
  font-size: 1.1vw;
  font-weight: 700
}

.header-bottom a.main-links span:nth-child(2) {
  font-size: .8vw
}

@media (max-width:991px) {
  .header-bottom a.main-links span:nth-child(1) {
    font-size: 2vw;
    font-weight: 700
  }
}

@media (max-width:767px) {
  .header-bottom a.main-links {
    border-bottom: 1px solid #fff
  }

  .header-bottom a.main-links span:nth-child(1) {
    font-size: 4vw;
    font-weight: 700
  }

  .header-bottom a.main-links span:nth-child(2) {
    font-size: 2.5vw
  }
}

@media (max-width:576px) {
  .header-bottom a.main-links span:nth-child(1) {
    font-size: 5vw;
    font-weight: 700
  }

  .header-bottom a.main-links span:nth-child(2) {
    font-size: 3vw
  }
}

.online-text {
  background-color: #ddd;
  padding: 1vw 1vw;
  border-left: solid 6px #fcca1b
}

.so-item {
  text-align: center;
  padding: 5px;
  margin: 1rem auto;
  position: relative
}

.so-item ul li a:hover {
  background-color: #fff;
  text-decoration: none
}

.shop-online>a {
  flex-wrap: wrap;
  font-size: 1.1vw;
  color: #000;
  min-height: 12vw;
  background: #ddd;
  margin: 1vw !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #9a9898
}

.so-item:hover>ul {
  visibility: visible;
  opacity: 1;
  display: block;
  padding: 0;
  z-index: 999
}

.so-item li {
  min-height: 2vw
}

.so-item a {
  display: block;
  padding: .5rem
}

.shop-online ul {
  background-color: #f3f3f3;
  top: 15%
}

.so-item ul {
  background-color: #f3f3f3d4;
  color: #888;
  visibility: hidden;
  opacity: 0;
  min-width: 20rem;
  position: absolute;
  transition: all .5s ease;
  margin-top: 1rem;
  left: 50%;
  top: 50%;
  display: none;
  transform: translate(-50%, -10%);
  opacity: .8;
  border: 1px solid #eee
}

.so-item ul li a {
  color: #888;
  font-size: 1vw;
  text-transform: uppercase;
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding: .5vw 1vw
}

.shop-online ul {
  background-color: #f3f3f3;
  top: 15%
}

.so-item li {
  min-height: 2vw
}

.shop-online>a {
  flex-wrap: wrap;
  font-size: 1.1vw;
  color: #000;
  min-height: 12vw;
  background: #ddd;
  margin: 1vw !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #9a9898
}

.shop-online>a img {
  width: 100%;
  padding: 1vw
}

.btn-info:hover {
  background-color: #d4a607;
  border: none
}

.btn-info:active {
  background-color: #d4a607 !important;
  border: none
}

.btn-info {
  color: #000;
  border: none;
  background-color: #fcca1b
}

body {
  background-color: #fff !important;
  background-repeat: no-repeat !important;
  font-family: Rajdhani, sans-serif
}

.main-color {
  color: #fcca1b
}

.contentHtml {
  background-color: #fff !important
}

.thumbStatus.sold {
  background-color: red;
  background-color: rgba(255, 0, 0, .72);
  font-weight: 700;
  font-size: 16px
}

.thumbStatus.in-stock {
  font-size: 16px
}

a {
  color: #fcca1b
}

.navbar-nav {
  width: 1280px;
  padding-left: 0;
  margin: 0 auto;
  float: none
}

.navbar .navbar-brand {
  color: #000
}

.navbar-default .navbar-nav>li>a {
  font-family: Rajdhani, sans-serif;
  text-transform: uppercase;
  color: #000;
  font-size: 16px;
  padding: 15px 18px
}

.navbar-default .navbar-nav>li>a:hover {
  background-color: #000;
  color: #fcca1b
}

.navbar .dropdown li a {
  padding: 10px 15px
}

.access-sidebar a {
  display: block;
  background-color: #fcca1b;
  padding: 10px 20px;
  color: #fff;
  margin: 5px
}

.access-sidebar li {
  float: left
}

.navbar .dropdown li a:hover {
  background-color: #000;
  color: #fcca1b
}

.font-resizer a {
  color: #fff
}

@media only screen and (min-width:1024px) {
  .dropdown:hover ul {
    display: block
  }
}

#parent {
  width: 100% !important
}

#HeaderDiv {
  width: 100% !important;
  float: none;
  display: block;
  clear: both
}

#FooterDiv {
  width: 100% !important;
  clear: both;
  border-top: 0 solid #393939
}

#CenterDiv ul {
  list-style: none
}

#CenterDiv .actions-list {
  list-style: none
}

.iframe-cover {
  height: 100px;
  position: aboslute;
  width: 100%
}

.top-bar {
  padding: 15px;
  color: #fff;
  display: flex;
  justify-content: space-between
}

.top-bar .glyphicon {
  color: #ebb806;
  float: left;
  width: 20px;
  font-size: 16px
}

.top-bar .address .set_address {
  font-size: 16px
}

.top-facebookkk a {
  background-color: #016cbd;
  display: block;
  padding: 3px;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  float: left
}

.trbordd .list .row {
  margin: 0
}

.trbordd .list .row .grid_4 {
  float: left;
  width: 50%;
  padding: 3px 15px
}

.trbordd .list .row li,
.trbordd .list .row ul {
  width: 100%;
  list-style: disc;
  float: none
}

.oems-logos {
  padding: 15px 0;
  background-color: #000
}

.oems-logos ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
  line-height: 5 !important
}

.oems-logos li {
  float: left;
  padding: 0 9px;
  min-height: 0
}

.footer.oems-logos {
  padding: 20px 20px
}

.footer.oems-logos li {
  padding: 13px 27px
}

.info .glyphicon {
  float: left;
  border: 2px solid;
  border-radius: 44px;
  padding: 6px;
  width: 41px;
  font-size: 24px;
  margin-right: 10px;
  color: #ebb806
}

.breadcrumb {
  background-color: #fff;
  border-radius: 0
}

.breadcrumb a {
  color: #000
}

.breadcrumb .active {
  color: #e2b104
}

#searchbox {
  width: 55%;
  float: left;
  border-radius: 5px 0 0 5px
}

#pagedd {
  width: 25%;
  border-radius: 0;
  float: left
}

.ad-tabs .descColumnResponsive ul {
  background-color: transparent
}

.header {
  background-color: #292926
}

.header-content .info {
  padding: 15px 15px
}

.header-content .small-ttl {
  font-weight: 700;
  font-size: 14px;
  color: #000
}

.header-content .set_phone_number {
  font-size: 20px;
  font-weight: 700
}

.embed-responsive.embed-responsive-16by9 {
  height: 31.05vw;
  overflow: hidden;
  display: block;
  position: relative;
  padding: 0
}

.embed-responsive iframe {
  position: absolute;
  top: -13vw;
  bottom: 0;
  left: -8vw;
  width: 116vw;
  height: 57vw;
  border: 0;
  max-width: unset !important
}

.welcome-ttl {
  padding: 50px 15px;
  background-color: #111;
  color: #fff;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  font-family: Rajdhani, sans-serif;
  font-weight: 700
}

.welcome-ttl .web-name {
  color: #fcca1b
}

#boxes {
  background-color: #fff
}

#boxes a {
  background-color: #1a1a1a;
  color: #f1f1f1;
  display: block;
  text-align: center;
  margin-bottom: 30px;
  border: 1px solid #ddd
}

#boxes img {
  width: 100%;
  background-color: #fff
}

#boxes span {
  display: block;
  padding: 15px
}

.big-btns .box-btn {
  float: left;
  width: 25%;
  padding: 10px;
  border-left: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea
}

.big-btns .box-btn:nth-child(4n+1) {
  clear: both;
  border-left: 0
}

.big-btns .box-btn img {
  max-width: 100%
}

.big-btns .box-btn .cap {
  display: block;
  color: #555;
  text-align: center;
  font-size: 22px;
  padding: 10px;
  font-family: Rajdhani, sans-serif
}

#paren>.row {
  margin: 0
}

.home-tabs {
  background-color: #111
}

.home-tabs a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  width: 90px;
  float: left;
  text-align: center
}

.home-tabs a.active-tab {
  background-color: #fff;
  color: #fcca1b
}

.home-btn {
  clear: both;
  margin: 40px auto;
  float: none;
  text-align: center
}

.prlx h1 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  font-size: 50px;
  font-weight: 100;
  text-align: center;
  color: #fff
}

.prlx p {
  color: #fff;
  font-weight: 300;
  font-family: arial
}

.prlx .overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
  color: #000
}

.prlx section {
  width: 100%;
  padding: 60px 0;
  background: #fff;
  position: relative
}

.prlx .main-header {
  padding: 100px 5px
}

.prlx .img {
  padding: 0;
  min-height: 400px;
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat
}

.prlx-box {
  padding: 30px;
  margin: 30px 30px;
  color: #fff;
  display: block;
  text-transform: uppercase;
}

.prlx .triangle {
  margin-top: -30px;
  position: absolute;
  top: 100%;
  left: 45px;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 55px solid rgba(250, 182, 55, .9);
  -webkit-transform: skew(0deg, 23deg);
  transform: skew(0deg, 23deg)
}

.prlx-box h2 {
  color: #fff;
  font-weight: 700;
}

.prlx-box.yellow {
  background-color: rgba(250, 182, 55, .9)
}

.prlx-box.red {
  background-color: rgba(210, 0, 0, .9)
}

.content-div {
  padding: 30px 10px
}

.section-ttl {
  font-family: OSwald;
  font-size: 38px;
  margin: 30px auto;
  text-transform: uppercase;
  text-align: center
}

#comp_1553577720249,
.gray-bg {
  background-color: #1d1d1d
}

#comp_1553577720249 {
  padding-bottom: 30px
}

.specials-box {
  padding: 50px 10px
}

.specials-box .section-ttl {
  color: #fff
}

#specials-scroll .left,
#specials-scroll .right {
  background-image: none
}

#specials-scroll .item {
  text-align: center
}

.why-us {
  padding: 40px 0;
  background-color: #fff
}

.why-us .glyphicon {
  float: left;
  margin-right: 10px;
  font-size: 26px;
  color: #ed1c24;
  width: 48px;
  border: 3px solid #ed1c24;
  border-radius: 48px;
  padding: 8px
}

.page-ttl {
  font-size: 32px;
  text-align: center;
  font-family: Rajdhani, sans-serif;
  margin: 50px auto;
  text-transform: uppercase
}

.makes-links li {
  float: left;
  min-height: 130px;
  list-style: none;
  padding: 15px
}

.makes-links {
  clear: both
}

.oem-accessories-catalog {
  clear: both;
  border-top: 1px solid #dedede;
  padding: 15px
}

a.ad-action-btn.finacning-link {
  display: block;
  background-color: #eceff3;
  padding: 18px 30px;
  margin: 10px 0;
  color: #555;
  cursor: pointer;
  text-align: left;
  border-radius: 0;
  border: 0
}

a.ad-action-btn.finacning-link span {
  float: right;
  font-size: 20px 10px;
  width: 30px
}

.promotions-box a {
  display: block;
  background-color: #fff;
  border: 1px solid #dedede;
  margin: 5px;
  padding: 50px 15px;
  min-height: 150px;
  min-width: 179px;
  text-align: center
}

.promotions-box li {
  list-style: none;
  float: left
}

.oem-accessories-catalog li {
  float: left;
  width: 33.33%;
  list-style: none;
  padding: 10px
}

.oem-accessories-catalog li img {
  max-width: 100%
}

.links-container li {
  list-style: none;
  padding: 10px
}

#reviews-scroll .carousel-inner {
  margin: 10px 44px;
  width: 85%
}

#reviews-scroll .carousel-control {
  width: 6%
}

#reviews-scroll .left,
#reviews-scroll .right {
  background-image: none
}

.brochure-ttl {
  display: block;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  background-color: #183f80;
  margin-bottom: 20px
}

.brochures-box img {
  max-width: 100%
}

.brochures-box a:hover img {
  opacity: .8
}

.bold {
  font-weight: 700
}

#boxes {
  text-transform: uppercase;
  padding: 0
}

#boxes a {
  background-color: #1a1a1a;
  color: #f1f1f1;
  display: block;
  text-align: center;
  margin-bottom: 30px
}

#boxes a:focus,
#boxes a:hover {
  text-decoration: none;
  background-color: #ff2323;
  color: #fff
}

#boxes img {
  width: 100%
}

#boxes span {
  display: block;
  padding: 15px
}

#boxes span.image {
  padding: 0;
  background-color: #fff;
  min-height: 200px
}

body#page_31092 #boxes img {
  background-color: #fff;
  width: auto
}

body#page_31093 span.image {
  min-height: 140px
}

#boxes p.boxinfo {
  text-transform: none;
  margin-top: -15px
}

#boxes p.boxinfo a {
  background-color: transparent;
  color: #1a1a1a;
  display: inline-block;
  text-align: left;
  margin-bottom: 0
}

#boxes p.boxinfo a:focus,
#boxes p.boxinfo a:hover {
  color: #ff2323
}

#boxes p.boxinfo b {
  text-transform: uppercase
}

.oem-box {
  padding: 0
}

.oem-box a {
  text-decoration: none;
  position: relative;
  display: block;
  border: 1px solid #333;
  margin: 2%;
  overflow: hidden
}

.oem-box .txt {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #eb421b;
  color: #000;
  font-weight: 700;
  font-size: 16px;
  padding: 15px
}

.oem-box img {
  width: 100%;
  max-width: 100%;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all 1.2s
}

.oem-box:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1)
}

.oem-box:hover txt {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1)
}

.oem-box .box-logo {
  max-height: 30px;
  width: auto;
  position: absolute;
  right: 0
}

.txt.black {
  background-color: #000;
  color: #fff
}

.txt.red {
  background-color: #eb272e;
  color: #fff
}

.txt.orange {
  background-color: #ea631c;
  color: #000
}

.txt.blue {
  background-color: #1f53a7;
  color: #fff
}

.item-box .image img {
  max-height: 210px
}

#footer {
  background-color: #161616;
  color: #a2a2a2;
  padding: 30px 0 30px 0
}

#footer .col {
  min-height: 140px
}

#footer .brdr-top {
  border-top: 1px solid #3e3e3e;
  padding-top: 20px
}

#footer h2 {
  font-size: 18px;
  color: #f2bd03;
  margin: 0;
  padding: 0 0 20px 0
}

#footer span {
  color: #f1f1f1
}

#footer ul {
  margin: 0;
  padding: 0
}

#footer ul li a {
  display: block;
  color: #a2a2a2;
  padding-bottom: 5px;
  text-transform: uppercase
}

#footer .social li {
  float: left
}

#footer .social a {
  display: block;
  padding: 8px;
  background-color: #555;
  margin: 4px
}

#footer .social a:hover {
  background-color: #96beff;
  transition: all
}

#footer .social img {
  max-height: 30px;
  width: auto
}

#footer a {
  color: #a2a2a2
}

#footer a span:focus,
#footer a span:hover,
#footer a:focus,
#footer a:hover,
#footer ul li a:focus,
#footer ul li a:hover {
  color: #f2bd03;
  text-decoration: none
}

#footer iframe {
  width: 100%
}

#copyright {
  background-color: #0e0e0e;
  color: #5b5b5b;
  text-align: center;
  font-size: 12px;
  padding: 15px 0 15px 0
}

#copyright a {
  color: #5b5b5b
}

@media only screen and (max-width:768px) {
  .botm-bar {
    bottom: -40px !important
  }

  .header {
    height: 41vw
  }

  #CenterDiv .hero-wrapper {
    position: relative;
    z-index: 0
  }

  .stretch {
    display: none
  }

  #parent * {
    max-width: 100%
  }

  ul#scroller {
    max-width: none
  }

  .page-ttl {
    line-height: 1.5em
  }

  .big-btns .box-btn {
    width: 50%
  }

  .big-btns .box-btn:nth-child(2n+1) {
    clear: both;
    border-left: 0
  }

  .prlx .img {
    background-position: bottom;
    background-size: auto 100%
  }
}

.parallax-home {
  background-image: url(/site-uploads/1001083/Slider/scarb.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

.parallax .parallax-child {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10%;
  height: 500px;
  background: rgba(0, 0, 0, .45);
  width: 100%
}

.parallax .parallax-child .child {
  border-radius: 3px;
  box-sizing: border-box;
  flex: 0 100%;
  min-height: 60px;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center
}

.parallax .parallax-child .title {
  color: #fff;
  font-weight: 700
}

.parallax .parallax-child .sub-title {
  color: #fff;
  font-size: 15px;
  font-weight: 700
}

.parallax .parallax-child .buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap
}

.parallax .parallax-child .buttons-container .buttons-container-child {
  border-radius: 0;
  border: 3px solid #fff;
  background: linear-gradient(to right, #0a2972 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
  box-sizing: border-box;
  flex: 0 30%;
  height: 60px;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s ease-in-out
}

.parallax .parallax-child .buttons-container .buttons-container-child:hover {
  background-position: left bottom;
  text-decoration: none !important
}

.parallax .parallax-child .buttons-container .buttons-container-child span {
  color: #fff;
  text-decoration: none;
  min-width: 100%;
  text-align: center;
  font-weight: 700
}

.carousel.slide {
  clear: both
}

.xcontent img {
  display: block;
  max-width: 100%;
  height: auto;
  height: auto !important
}

@media (min-width:768px) {

  .lead-button,
  .submitBlock li button {
    max-width: 300px
  }

  .lead-button,
  .submitBlock li button {
    text-transform: uppercase;
    border-width: 1px;
    border-style: solid;
    border-color: #ffd329;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #ffcb00;
    color: #000;
    text-align: center;
    font-family: Rajdhani, Helvetica, Arial, sans-serif;
    font-size: 18px;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
    display: block;
    margin: 0 auto
  }

  .header-img {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding-bottom: 15px
  }

  .description {
    font-size: 1.1em;
    min-height: 50px;
    padding: 0 16px
  }

  .card-wrapper a.vehicle-card .promo-ctn .yellow-ctn {
    z-index: 1;
    padding: 15px 20px 10px;
    background-color: #fec90c
  }
}