/**/
#nav_43360 .navbar-header .navbar-toggle {
    display: none !important;
}

.navbar {
    min-height: 0px !important;
    margin-bottom: 0px !important;
}

.navbar-default {
    background-color: #0a4a87;
    border-color: #004925;
}

.brochures-box img {
    max-width: 100%;
    width: 100%;
}

.nav {
    float: none !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.nav>li {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 9% !important;
    flex: 0 9% !important;
}

.fixed-header {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999 !important;
    overflow: visible !important;
    background-color: #ffffffd6 !important;
}

.open>.dropdown-menu {
    right: 0 !important;
    min-width: -webkit-max-content !important;
    min-width: -moz-max-content !important;
    min-width: max-content !important;
    background-color: #FFF !important;
    -webkit-transition: all .5s ease-in-out !important;
    transition: all .5s ease-in-out !important;
    padding: 0px 0px;
}

.open>.dropdown-menu li a {
    padding: 1vh 2vh;
    border-bottom: 1px solid #ddd;
}

@media (min-width: 767px) {
    .dropdown:hover>.dropdown-menu {
        display: block;
        right: 0 !important;
        min-width: -webkit-max-content !important;
        min-width: -moz-max-content !important;
        min-width: max-content !important;
        background-color: #FFF !important;
        -webkit-transition: all .5s ease-in-out !important;
        transition: all .5s ease-in-out !important;
        padding: 0px 0px;
    }

    .dropdown:hover>.dropdown-menu li a {
        background-color: #FFF !important;
        color: #333 !important;
        padding: 1vh 2vh;
        border-bottom: 1px solid #ddd;
        font-size: 2vh;
        -webkit-transition: all ease-in-out 300ms;
        transition: all ease-in-out 300ms;
    }

    .dropdown:hover>.dropdown-menu li a:hover {
        background-color: #e6e5e5 !important;
    }
}

/**/
body {
    background-image: none !important;
    background-color: #FFFFFF !important;
    background-repeat: no-repeat !important;
}

#siteMenu {
    background-image: none !important;
    background-color: #FFFFFF !important;
}

.mainMenu li {
    background-color: #000000 !important;
    border-color: #FFFFFF !important;
    text-align: center !important;
}

.mainMenu li li {
    background-color: #000000 !important;
    border-color: #FFFFFF !important;
    text-align: center !important;
}

.mainMenu a {
    font-size: 10px !important;
    font-family: Verdana, Arial, sans-serif !important;
    font-weight: normal !important;
    text-decoration: none !important;
    font-style: normal !important;
    color: #990000 !important;
}

.mainMenu a:visited {
    font-size: 10px !important;
    font-family: Verdana, Arial, sans-serif !important;
    font-weight: normal !important;
    text-decoration: none !important;
    font-style: normal !important;
    color: #990000 !important;
}

.mainMenu a:hover {
    color: #990000 !important;
    background-color: #000000 !important;
    border-color: #FFFFFF !important;
}

.ui-layout-pane {
    background-image: none !important;
    background-color: #ff0000 !important;
}

.headerFont {
    background-image: none !important;
    font-family: Verdana, Arial, sans-serif !important;
    font-weight: normal !important;
    text-decoration: none !important;
    font-style: normal !important;
    font-size: 10px !important;
    color: #000000 !important;
    background-color: #FFFFFF !important;
}

.pragraphFont {
    font-family: Verdana, Arial, sans-serif !important;
    font-weight: normal !important;
    color: #000000 !important;
    font-size: 10px !important;
    text-decoration: none !important;
    font-style: normal !important;
}

.linksFont {
    font-size: 10px !important;
    font-family: Verdana, Arial, sans-serif !important;
    font-weight: normal !important;
    color: #000000 !important;
    text-decoration: underline !important;
    font-style: normal !important;
}

/*Customized Css*/
/* Global Variables*/
:root {
    --main-bg-color: #0A2972;
    --main-txt-color: #222;
}

/**/
/* Hader section */
/* Normal desktop :1200px. */
/* Normal desktop :992px. */
/* Tablet desktop :768px. */
/* small mobile :320px. */
/* Large Mobile :480px. */
.top-header-container {
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
    overflow: visible !important;
    width: 100%;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.top-header-container .top-wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 2vh 2vh 1vh;
    width: 100%;
}

.top-header-container .top-wrapper .logo-container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10vh;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    min-height: 10vh;
    width: 50vh !important;
}

.top-header-container .top-wrapper .logo-container .logo-link {
    display: block;
}

.top-header-container .top-wrapper .logo-container .logo-link .primary-logo {
    width: 100%;
    max-height: 8vh;
    display: block;
    height: auto;
    margin: 0;
}

.top-header-container .top-wrapper .hours-button-address-container {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 10px;
}

.top-header-container .top-wrapper .hours-button-address-container .address-container {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
}

.top-header-container .top-wrapper .hours-button-address-container .address-container .store-name {
    font-weight: bold;
    margin: 0;
    font-size: 3vh;
    line-height: 3vh;
}

.top-header-container .top-wrapper .hours-button-address-container .address-container .ga-address-header {
    font-size: 2vh;
    line-height: 3vh;
}

.top-header-container .top-wrapper .hours-button-address-container .view-hours-button-container {
    display: block;
    margin-top: 1vh;
}

.top-header-container .top-wrapper .hours-button-address-container .view-hours-button-container .view-hours-button {
    background-color: #0a2972;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 2vh;
    margin-top: 5px;
    letter-spacing: 0.6px;
    line-height: 4vh;
    padding: 1vh 2vh;
    text-transform: uppercase;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.top-header-container .top-wrapper .phone-menu-buttons div {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 60px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 60px;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1;
    margin-right: 15px;
}

.top-header-container .top-wrapper .phone-menu-buttons div h4.phones {
    font-size: 3vh !important;
}

.top-header-container .top-wrapper .phone-menu-buttons div .circle {
    display: block;
    position: relative;
    padding: 0;
    z-index: 98;
    color: #fff;
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: #999 !important;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    text-align: center;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 10px;
    margin-bottom: 8px;
}

.top-header-container .top-wrapper .phone-menu-buttons div .circle:hover {
    cursor: pointer;
    background-color: #ddd;
    -webkit-box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.3);
}

.top-header-container .top-wrapper .phone-menu-buttons div .circle i {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -7px;
    margin-top: -7px;
    width: 15px;
    height: 15px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.top-header-container .top-wrapper .phone-number-button {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 60px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 60px;
    position: absolute;
    right: 55px;
    top: 5px;
    width: 42px;
    z-index: 1;
}

.top-header-container .top-wrapper .phone-number-button h3 {
    background-color: #0a2972;
    color: #fff;
    display: block;
    font-weight: bold;
    margin: 0;
    padding: 8px 20px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.top-header-container .top-wrapper .phone-number-button .phone-anchor {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: thin solid #e6e5e5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 14px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 100%;
    outline: none;
    padding: 14px;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.top-header-container .top-wrapper .phone-number-button .phone-anchor .phone-label {
    color: #333;
    font-family: Lato, Arial, sans-serif;
    margin-right: 5px;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.top-header-container .top-wrapper .phone-number-button .phone-anchor .phone-label .colon {
    display: inline-block;
}

.top-header-container .top-wrapper .phone-number-button .phone-anchor .phone-number {
    color: #333;
    font-family: Lato, Arial, sans-serif;
}

.top-header-container .top-wrapper .phone-number-container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 60px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 60px;
    position: absolute;
    right: 55px;
    top: 5px;
    width: 42px;
    z-index: 1;
}

.top-header-container .top-wrapper .phone-number-container h3 {
    background-color: #0a2972;
    color: #fff;
    display: block;
    font-weight: bold;
    margin: 0;
    padding: 8px 20px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.top-header-container .top-wrapper .phone-number-container .phone-anchor {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: thin solid #e6e5e5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 14px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 100%;
    max-width: 1200px;
    outline: none;
    padding: 14px;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.top-header-container .top-wrapper .phone-number-container .phone-anchor .phone-label {
    color: #333;
    font-family: Lato, Arial, sans-serif;
    margin-right: 5px;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.top-header-container .top-wrapper .phone-number-container .phone-anchor .phone-label .colon {
    display: inline-block;
}

.top-header-container .top-wrapper .phone-number-container .phone-anchor .phone-number {
    color: #333;
    font-family: Lato, Arial, sans-serif;
}

.top-header-container #inline-style-1 {
    width: 100% !important;
    border: 1px solid #ddd !important;
    background-color: #ffffffd6 !important;
    color: #0a2972 !important;
}

.top-header-container #inline-style-1 #phones {
    border-color: #FFF !important;
}

.top-header-container #inline-style-1 #phones .navbar-nav {
    margin: 0px !important;
    border: 0px !important;
}

.top-header-container #inline-style-1 #phones .navbar-nav>li>a {
    color: #0a2972;
}

.navbar-default {
    background-color: transparent !important;
    border: 0px !important;
}

.navbar-default .navbar-nav>li>a {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-weight: bold;
    font-size: 2vh;
    padding: 2vh;
}

.navbar-default .navbar-nav>.open>a {
    color: #000;
    color: #0a2972 !important;
    background: #fff !important;
    border-bottom: 5px solid #0a2972;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 10px;
}

.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #000;
    color: #0a2972 !important;
    background: #fff !important;
    border-bottom: 5px solid #0a2972;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 10px;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #000;
    color: #0a2972 !important;
    background: #fff !important;
    border-bottom: 5px solid #0a2972;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 10px;
}

.navbar-nav {
    margin: 0px !important;
    border: 0px !important;
}

.navbar-nav>li>a {
    color: #333 !important;
}

.navbar-nav>li>a:hover {
    background-color: #0a2972 !important;
    color: #FFF !important;
}

/* hhhhhhhhhhh */
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    background-color: #FFF !important;
    color: #333 !important;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    background-color: #e6e5e5 !important;
}

/*  */
/* start first html container in home */
.covid-19 {
    background-color: #0A2972;
    color: #FFF;
}

.covid-19 h3 {
    font-size: 5vh;
    margin: 0;
    padding: 2vh;
}

.sales-service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.sales-service .sales,
.sales-service .service {
    cursor: pointer;
    text-decoration: none;
    background-color: rgba(10, 41, 114, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-transition: 300ms;
    transition: 300ms;
    color: #FFF;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.sales-service .sales:hover,
.sales-service .service:hover {
    background-color: #0A2972;
}

@media (max-width: 991px) {

    .sales-service .sales,
    .sales-service .service {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.sales-service .sales .icon,
.sales-service .service .icon {
    padding: 2vh;
    font-size: 4vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 991px) {

    .sales-service .sales .icon,
    .sales-service .service .icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.sales-service .sales .text,
.sales-service .service .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-left: thin solid #08215b;
    width: 100%;
}

.sales-service .sales .text .title,
.sales-service .service .text .title {
    font-size: 2vh;
    font-weight: bold;
}

.sales-service .sales .text .subtitle,
.sales-service .service .text .subtitle {
    font-size: 1.75vh;
    font-weight: bold;
}

/* end first html container in home */
/* guide-links-container*/
.guide-links-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #0A2972;
    border-radius: 3px;
    padding: 20px;
}

.guide-links-container .child {
    border-radius: 3px;
    background-color: #FFF;
    border: 1px solid #4390E1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 24%;
    flex: 0 24%;
    height: 10vh;
    margin: 1.5vw 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-decoration: none !important;
}

.guide-links-container .child span {
    font-weight: bold;
    color: #0A2972;
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-size: 2vh;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.guide-links-container .child span:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/*Start parallax*/
.carousel-control img {
    display: none;
}

.btn-circle {
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 6px 14px;
    font-size: 12px;
    line-height: 5px;
    border-radius: 20px;
}

.right-btn-slide {
    position: absolute;
    top: 50%;
    right: 5%;
}

.left-btn-slide {
    position: absolute;
    top: 50%;
    left: 5%;
}

.right-btn-slide,
.left-btn-slide {
    color: #fff;
    background: #0a2972;
}

.right-btn-slide i,
.left-btn-slide i {
    font-size: 25px;
}

/**/
/*Start parallax*/
.parallax-thenew2020hyundaipalisade {
    background-image: url("/site-uploads/1001199/Images/IMG_2630_1.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-home {
    background-image: url("/site-uploads/1001199/Images/IMG_2630_1.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax .parallax-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10%;
    height: 500px;
    background: rgba(0, 0, 0, 0.45);
    width: 100%;
}

.parallax .parallax-child .child {
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 100%;
    flex: 0 100%;
    min-height: 60px;
    margin-bottom: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.parallax .parallax-child .title {
    color: #FFF;
    font-weight: bold;
    font-size: 5vh;
}

.parallax .parallax-child .sub-title {
    color: #FFF;
    font-size: 2vh;
    font-weight: bold;
}

.parallax .parallax-child .buttons-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.parallax .parallax-child .buttons-container .buttons-container-child {
    border-radius: 0px;
    border: 3px solid #FFF;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #0A2972), color-stop(50%, transparent));
    background: linear-gradient(to right, #0A2972 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 30%;
    flex: 0 30%;
    height: 8vh;
    margin-bottom: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.parallax .parallax-child .buttons-container .buttons-container-child:hover {
    background-position: left bottom;
    text-decoration: none !important;
}

.parallax .parallax-child .buttons-container .buttons-container-child span {
    color: #FFF;
    text-decoration: none;
    min-width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 2vh;
}

/**/
/* Footer */
#html_1584670295048 {
    border-top: 2px solid #0A2972;
}

.footer-section-1,
.footer-section-2,
.footer-section-3,
.footer-section-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer-section-1 .title,
.footer-section-2 .title,
.footer-section-3 .title,
.footer-section-4 .title {
    font-size: 3.5vh;
    font-weight: bold;
    color: #08215b;
}

.footer-section-1 .address,
.footer-section-2 .address,
.footer-section-3 .address,
.footer-section-4 .address {
    font-size: 2vh;
    margin-bottom: 3vh;
}

.footer-section-1 .quick-links,
.footer-section-2 .quick-links,
.footer-section-3 .quick-links,
.footer-section-4 .quick-links {
    padding: 0;
}

.footer-section-1 .quick-links li a,
.footer-section-2 .quick-links li a,
.footer-section-3 .quick-links li a,
.footer-section-4 .quick-links li a {
    text-decoration: none;
    color: #333;
    font-size: 2vh;
}

.footer-section-1 .quick-links li a:hover,
.footer-section-2 .quick-links li a:hover,
.footer-section-3 .quick-links li a:hover,
.footer-section-4 .quick-links li a:hover {
    opacity: 0.5;
}

.footer-section-1 .social-links,
.footer-section-2 .social-links,
.footer-section-3 .social-links,
.footer-section-4 .social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-section-1 .social-links .social-link,
.footer-section-2 .social-links .social-link,
.footer-section-3 .social-links .social-link,
.footer-section-4 .social-links .social-link {
    position: relative;
    padding: 0;
    z-index: 98;
    color: #0a2972;
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    height: 5vh;
    width: 5vh;
    background-color: #fff !important;
    -webkit-transition: 0.2s;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    text-align: center;
    float: right;
    padding: 4vh;
    margin-top: 1vh;
    margin-right: 2vh;
    margin-bottom: 2vh;
}

.footer-section-1 .social-links .social-link:hover,
.footer-section-2 .social-links .social-link:hover,
.footer-section-3 .social-links .social-link:hover,
.footer-section-4 .social-links .social-link:hover {
    opacity: 0.7;
    color: #FFF;
    background-color: #0a2972 !important;
}

.footer-section-1 .social-links .social-link i,
.footer-section-2 .social-links .social-link i,
.footer-section-3 .social-links .social-link i,
.footer-section-4 .social-links .social-link i {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -2vh;
    margin-top: -1.5vh;
    width: 4vh;
    height: 4vh;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 3vh;
}

.footer-content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5%;
    height: 300px;
    background: #FFF;
    border-top: 2px solid #0A2972;
    width: 100%;
}

.footer-content-container .company {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-content-container .company .child {
    -webkit-box-flex: 0;
    -ms-flex: 0 100%;
    flex: 0 100%;
}

.footer-content-container .company img {
    width: 50vh;
}

.footer-content-container .company ul {
    color: #0A2972;
    margin-top: 10px;
    list-style: none;
}

.footer-content-container .company ul li a {
    color: #0A2972;
    text-decoration: none;
    font-size: 2.25vh;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.footer-content-container .company ul li a:hover {
    color: #0A2972;
    text-decoration: none;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.footer-content-container .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-content-container .social .social-link {
    position: relative;
    padding: 0;
    z-index: 98;
    color: #0a2972;
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    height: 5vh;
    width: 5vh;
    background-color: #fff !important;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    text-align: center;
    float: right;
    padding: 1vh;
    margin-top: 1vh;
    margin-right: 2vh;
    margin-bottom: 2vh;
}

.footer-content-container .social .social-link i {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -2vh;
    margin-top: -1.5vh;
    width: 4vh;
    height: 4vh;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 3vh;
}

/**/
/* Responsive for header */
@media only screen and (max-width: 669px) {
    .navbar {
        min-height: 0px;
    }

    .top-header-container .top-wrapper {
        display: block;
    }

    .top-header-container .top-wrapper .logo-container .logo-link .primary-logo {
        max-height: 50px;
    }

    .top-header-container .top-wrapper .hours-button-address-container {
        margin: 10px 0px 0px 0px;
    }

    .top-header-container .top-wrapper .hours-button-address-container .address-container .store-name {
        font-weight: bold;
        margin: 0;
        font-size: 16px;
        line-height: 18px;
    }

    .top-header-container .top-wrapper .hours-button-address-container .address-container .ga-address-header {
        font-size: 14px;
        line-height: 16px;
    }

    .top-header-container .top-wrapper .hours-button-address-container .view-hours-button-container {
        display: none;
    }

    .guide-links-container .child {
        -webkit-box-flex: 0;
        -ms-flex: 0 33%;
        flex: 0 33%;
    }

    .buttons-container .child:nth-last-child(1),
    .guide-links-container .child:nth-last-child(1) {
        -webkit-box-flex: 0;
        -ms-flex: 0 100%;
        flex: 0 100%;
    }

    .parallax .parallax-child .buttons-container .buttons-container-child {
        -webkit-box-flex: 0 !important;
        -ms-flex: 0 48% !important;
        flex: 0 48% !important;
    }

    #buttons-container-child-last {
        -webkit-box-flex: 0 !important;
        -ms-flex: 0 100% !important;
        flex: 0 100% !important;
    }

    .nav li {
        -webkit-box-flex: 0 !important;
        -ms-flex: 0 100% !important;
        flex: 0 100% !important;
        text-align: center;
    }
}

/*  */
/* For Other Pages */
/* Form */
.formField {
    margin: 10px 0px;
}

.adForm input,
.adForm textarea,
.adForm select {
    border-width: 2px !important;
    border-color: #c5c5c5 !important;
    background-color: #f2f2f2 !important;
    color: #0A2972 !important;
}

/*  */
/* Our Team */
.our-team {
    padding: 3vh 0 4vh;
    margin-bottom: 3vh;
    background-color: #f7f5ec;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.our-team .picture {
    display: inline-block;
    height: 30vh;
    width: 30vh;
    margin-bottom: 3vh;
    z-index: 1;
    position: relative;
}

.our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #0A2972;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    -webkit-transform: scale(3);
    transform: scale(3);
    -webkit-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
    height: 100%;
}

.our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #0A2972;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 2px solid #0A2972;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.9s ease 0s;
    transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
    -webkit-box-shadow: 0 0 0 14px #f7f5ec;
    box-shadow: 0 0 0 14px #f7f5ec;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
}

.our-team .name {
    font-size: 3vh;
}

.our-team .title {
    display: block;
    font-size: 2vh;
    color: #4e5052;
    text-transform: capitalize;
}

.our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #0A2972;
    position: absolute;
    bottom: -100px;
    left: 0;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.our-team:hover .social {
    bottom: 0;
}

.our-team .social li {
    display: inline-block;
}

.our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.our-team .social li a:hover {
    color: #0A2972;
    background-color: #f7f5ec;
}

.page-ttl {
    font-size: 4vh;
    text-align: center;
    font-family: Oswald;
    margin: 0px auto 40px auto;
    text-transform: uppercase;
}

.team-title {
    font-size: 3vh;
    color: #4e5052;
    padding: 1.5vh;
    margin: 1.5vh auto;
    background-color: #f7f5ec;
}

/*  */
/* start providing-vehicles-to-healthcare-works page */
.providing-vehicles-to-healthcare-works img {
    width: 100%;
}

.providing-vehicles-to-healthcare-works p {
    font-size: 2.4vh;
    margin: 3vh auto;
    text-align: left;
}

/* end providing-vehicles-to-healthcare-works page */
/* Start Contact-us page*/
.contact-us-container img {
    width: 100%;
}

.contact-us-container h3 {
    margin-top: 0;
    font-size: 1.75vh;
    font-weight: bold;
}

.contact-us-container p {
    font-size: 2vh;
    margin: 3vh auto;
    text-align: left;
}

.contact-us-container p a {
    text-decoration: none;
    color: #0A2972;
}

/* End Contact-us page*/
/* Start ask our parts department page*/
.ask-our-parts-form .adForm h2 {
    font-size: 3.5vh;
    padding: 1.5vh;
}

.ask-our-parts-form .adForm input,
.ask-our-parts-form .adForm textarea,
.ask-our-parts-form .adForm select {
    font-size: 2.5vh;
    padding-top: 1.5vh;
    padding-right: 2vh;
    padding-bottom: 1.5vh;
    padding-left: 1.5vh;
}

.ask-our-parts-form .adForm .btn.btn-default,
.ask-our-parts-form .adForm .btn.btn-primary {
    text-transform: uppercase;
    border-width: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    color: #fff;
    text-align: center;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 2.25vh;
    padding-top: 2.5vh;
    padding-right: 3vh;
    padding-bottom: 1.5vh;
    padding-left: 3vh;
    display: block;
    margin: 2vh;
    font-weight: normal;
    float: left;
    background-color: #d0112b;
}

.ask-our-parts-form .adForm .btn.btn-default:hover,
.ask-our-parts-form .adForm .btn.btn-primary:hover {
    background-color: #ec1431;
}

/* End ask our parts department page*/
/* Start Schedule Service page*/
.schedule-service-breif-container h1 {
    font-size: 4vh;
}

.schedule-service-breif-container p {
    font-size: 1.75vh;
}

/* End Schedule Service page*/
/* Start Ask Your Tech page*/
.question-panel-container .panel-group .panel {
    margin: 2.5vh auto;
}

.question-panel-container .panel-group .panel .panel-heading:hover {
    background-color: #4e5052;
    color: #FFF;
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}

.question-panel-container .panel-group .panel .panel-heading .panel-title {
    font-size: 2.5vh;
}

.question-panel-container .panel-group .panel .panel-heading .panel-title a {
    text-decoration: none;
    display: block;
    padding: 2.5vh 0vh;
}

.question-panel-container .panel-group .panel .panel-body {
    padding: 1.5vh;
}

.question-panel-container .panel-group .panel .panel-body p {
    font-size: 2vh;
    line-height: 1.75;
}

.question-panel-container h4 {
    font-size: 2.5vh;
}

/* End Ask Your Tech page*/
/* Start IN AN ACCIDENT */
.in-an-accident-container h1 {
    font-size: 4vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.in-an-accident-container h3 {
    font-size: 2.5vh;
    color: #c20000;
}

.in-an-accident-container h4 {
    font-size: 2.25vh;
}

.in-an-accident-container p {
    margin: 0 0 2vh;
    font-size: 2vh;
}

/* End IN AN ACCIDENT */
/* Start roadside-assistance */
.roadside-assistance h2 {
    font-size: 4vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.roadside-assistance h2 a {
    font-size: 3vh;
}

.roadside-assistance h3 {
    font-size: 2.5vh;
}

.roadside-assistance h4 {
    font-size: 2.25vh;
}

.roadside-assistance .list-group li {
    font-size: 2vh;
}

.roadside-assistance p {
    margin: 0 0 2vh;
    font-size: 2vh;
}

/* End roadside-assistance */
/* Start warranty */
.warranty ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.warranty ul li {
    margin: 1.75vh;
}

.warranty ul li a img {
    max-width: 20vh;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.warranty ul li a img:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.warranty p {
    margin: 0 0 2vh;
    font-size: 2vh;
}

/* End warranty */
/* Start Credit Application */
.credit-application h2 {
    font-size: 4vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.credit-application p {
    margin: 0 0 2vh;
    font-size: 2vh;
}

/* End Credit Application */
/* Start Vehicle Protection Packages */
.VPP-top-section h3 {
    font-size: 3vh;
    font-weight: bold;
}

.VPP-top-section p {
    margin: 0 0 2vh;
    font-size: 2vh;
}

.form-pdf-parent-container .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

@media (max-width: 991px) {
    .form-pdf-parent-container .flex-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.form-pdf-parent-container .flex-container .form-flexunit,
.form-pdf-parent-container .flex-container .pdf-flexunit {
    -webkit-box-flex: 48%;
    -ms-flex: 48%;
    flex: 48%;
}

.form-pdf-parent-container .flex-container .pdf-flexunit td {
    font-size: 2vh;
    font-weight: bold;
}

.form-pdf-parent-container .flex-container .pdf-flexunit td a {
    font-weight: normal;
    color: #08215b;
}

/* End Vehicle Protection Packages */
/* Start privacy-policy */
.privacy-policy h3 {
    font-size: 3vh;
    font-weight: bold;
}

.privacy-policy p {
    margin: 0 0 2vh;
    font-size: 2vh;
}

/* End privacy-policy */
/* start location-hours */
.location-hours p {
    font-size: 2vh;
}

.location-hours .day-hours h3 {
    font-size: 3vh;
    font-weight: bold;
}

.location-hours .day-hours .day {
    font-size: 2.25vh;
    font-weight: bold;
}

.location-hours .day-hours .hours {
    text-align: right;
    font-size: 2vh;
}

.location-hours .day-hours .closed {
    font-size: 2.25vh;
    font-weight: bold;
    text-align: right;
}

.location-hours .ready-script {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* end location-hours */
/* Start Car Proof for Your Vehicle */
.CPFYV-container h2 {
    font-size: 3vh;
    font-weight: bold;
}

.CPFYV-container p {
    margin: 0 0 2vh;
    font-size: 2vh;
}

.CPFYV-container img {
    max-width: 50vh;
}

/* end Car Proof for Your Vehicle */
/* Start Car Proof for Your Vehicle */


/* end Car Proof for Your Vehicle */
/**/
/*Abdallah*/
#HeaderDiv,
#FooterDiv,
#parent {
    width: 100%;
    font-family: arial;
}

#parent>div.row:nth-child(2) {
    margin: 0 auto;
    max-width: 95vw;
}

#page_40508 #parent>div.row:nth-child(2) {
    width: 100% !important;
    max-width: 100%;
}

#parent .container {
    width: 95vw;
}

.formsParent {
    max-width: 95vw;
    margin: 0 auto;
    float: none;
}

#page_40508 .container {
    width: 95vw;
}

#page_40508 .parallax .parallax-child {
    height: auto;
}

.top-header-container .top-wrapper {
    justify-content: space-between;
    padding: 1vh 0;
}

.top-header-container .top-wrapper .phone-menu-buttons div h4.phones {
    font-size: 2vh !important;
}

.navbar-default .navbar-nav>li>a {
    font-size: 1.8vh;
}

.top-header-container .top-wrapper .hours-button-address-container .address-container .store-name {
    font-size: 3vh;
}

.top-header-container .top-wrapper .hours-button-address-container .view-hours-button-container .view-hours-button {
    font-size: 1.7vh;
    margin: 0 .5vh;
    text-decoration: none;
    text-transform: capitalize;
}

.top-header-container .top-wrapper .hours-button-address-container .address-container .ga-address-header {
    font-size: 1.7vh;
}

#CenterDiv form button,
#CenterDiv form .btn {
    background-color: #0a2972;
    border-color: #0a2972;
    padding: 1vh 2vh;
    font-size: 1.7vh;
    text-transform: capitalize;
}

#CenterDiv {
    padding: 0;
}

.nav>li {
    -webkit-box-flex: initial !important;
    -ms-flex: initial !important;
    flex: initial !important;
}

.top-header-container .top-wrapper .logo-container .logo-link .primary-logo {
    max-height: 7vh;
}

.page-ttl {
    font-family: arial;
    padding-top: 4vh;
}

#copyright {
    padding: 2vh;
}

.randomAdDetails .thumbnailStatus {
    font-size: 1.8vh;
    position: relative;
    margin: 0 auto;
    max-width: 13.9vw;
    border-radius: 0;
}

.guide-links-container {
    margin: 0vh auto 5vh;
}

.navbar-default .navbar-brand {
    color: #0a2972;
}

.navbar-default .navbar-nav>li>a {
    border-bottom: 5px solid #fff;
}

.navbar-default .navbar-nav li a,
.dropdown:hover>.dropdown-menu li a {
    text-transform: uppercase;
    font-size: 2.2vh;
    padding: 1vw 3vw;
}

.footer-section-1 .title,
.footer-section-2 .title,
.footer-section-3 .title,
.footer-section-4 .title {
    font-size: 2.5vh;
    margin-top: 0;
}

.footer-section-1 .address,
.footer-section-2 .address,
.footer-section-3 .address,
.footer-section-4 .address {
    font-size: 1.6vh
}

.footer-section-1 .quick-links li a,
.footer-section-2 .quick-links li a,
.footer-section-3 .quick-links li a,
.footer-section-4 .quick-links li a {
    font-size: 1.6vh
}

.footer-section-2 .social-links .social-link {
    padding: 2vh;
}

.footer-section-2 .social-links .social-link i {}

.main-map {
    height: 21vh;
}

.card-buttons a.View-Details {
    margin-left: 10px;
}

.carproof-badge>div {
    padding: 5px !important;
}

#HeaderDiv .tradesii-widget__kia-dark .tradesii-widget__body {
    border-radius: 0;
}

.top-wrapper .phones {
    text-align: right;
}

.search-div {
    margin-top: 10px
}

#searchbox {
    width: 18vw;
    float: left;
    border-radius: 5px 0 0 5px;
    padding: 1vw;
    height: 4vh;
    font-size: 1.7vh;
}

#pagedd {
    width: 25%;
    border-radius: 0;
    float: left
}

#searchbtn {
    float: left;
    border-radius: 0 5px 5px 0;
    padding: .6vh 1vh;
    margin: 0px !important;
    background-color: #0a2972 !important
}

.hours-table h3 {
    font-size: 2vh;
    font-weight: bold;
}

.hours-table {
    font-size: 1.5vh;
}

.hours-btn .dropdown-menu {
    width: 45vw;
}

#searchbtn .glyphicon {
    width: 2.5vh;
    font-size: 1.9vh;
    padding: 3px;
    border: 0;
    color: #fff
}

.hours-btn {
    display: inline-block;
}

#products .pagination>li>a {
    padding: 1vh 1.5vh;
    width: auto;
}

.adForm h2 {
    font-family: arial;
}

.navbar-toggle {
    background-color: #0a4a87;
}

#parent #comp_1584673519673 {
    width: 95vw;
    margin: 0 auto;
    float: none;
}

.container .av_button_root {
    margin: 2vw auto;
}

.formsParent .container-fluid {
    padding: 0;
}

.av_button_widget__container .av_modal__button {
    border: 0 !important;
}

.av_button_widget__container .av_modal__button:nth-child(2n+1) {
    border-right: 5px solid transparent !important;
}

.av_button_widget__container {
    margin-bottom: -0.5vw;
}

.brochure-ttl {
    font-size: 2vh;
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    background-color: #183f80;
    margin-bottom: 20px
}

.brochures-box img {
    max-width: 100%
}

.brochures-box a:hover img {
    opacity: .8
}

.bold {
    font-weight: bold
}

.add-to-cart-btn.deposit-to-cart,
.caption .card-buttons .deposit-info-btn {
    display: none;
}

.cd-product-builder h1 {
    display: none;
}

#CenterDiv .cd-product-builder .main-header {
    position: relative
}

#CenterDiv .cd-step-content {
    padding: 20px 0;
}

#CenterDiv .cd-product-builder {
    height: auto;
}


@media only screen and (max-width: 768px) {
    .nav>li {
        -webkit-box-flex: 0 !important;
        -ms-flex: 0 9% !important;
        flex: 0 100% !important;
        text-align: left;
    }

    .top-header-container .top-wrapper .hours-button-address-container .view-hours-button-container {
        display: block;
    }

    .top-header-container .top-wrapper .hours-button-address-container .view-hours-button-container .view-hours-button {
        font-size: 1.8vh;
        padding: 1.5vh;
    }

}

/*Abdallah*/
/* Ahmed Light*/
@media (min-width: 1200px) {
    .container {
        width: 1180px
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 1180px
    }
}

.btn-info {
    background-color: #C60000;
    color: #D9D4B4 !important;
    border-color: #6A8538
}

.btn-info:hover {
    background-color: #6A8538
}

.navbar {
    background-color: red !important:
}

.ad-overview {
    min-height: 180px;
    padding: 15px
}

.card-vehicle {
    margin: 6vh;
}

.product-image,
.product-details {
    width: 50%;
    float: left
}

.product-details {
    text-align: left
}

.product-details a {
    font-size: 40px;
    text-decoration-line: underline;
    font-weight: bold;
    color: #000
}

.product-details a:hover {
    color: #000;
    cursor: pointer
}

.product-details h1 {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 52px;
    font-family: MMC, Helvetica, Arial, sans-serif;
    font-weight: 600
}

.product-details h3 {
    margin: 0;
    margin-bottom: 20px;
    font-family: auto
}

.product-details ul {
    list-style: none;
    font-size: 16px;
    line-height: 20px;
    padding-left: 0px;
    padding-bottom: 100px
}

.product-details .links a {
    font-size: 18px;
    text-decoration-line: underline;
    font-family: ProximaNova-Bold, sans-serif;
    font-weight: 700px;
    color: #000;
    margin-right: 10px
}

.product-details .links .active,
.links .active:hover {
    color: #f00
}

.elentra2021 {
    width: 100%;
    text-align: center
}

#tabscategory .nav {
    background-color: #0A2972;
    padding-top: 20px;
}

#tabscategory .nav li>a {
    color: #FFF;
    font-size: 2.7vh;
    font-weight: bold;
    padding: 1.5vh;
}

#tabscategory .nav .active a {
    color: #000
}

body {
    background-image: none !important;
    background-color: #fff !important;
    background-repeat: no-repeat !important;
    color: #000
}


/* Ahmed Light*/
/*# sourceMappingURL=main.css.map */